<html>
	<head>
		<title>APOGEE 2016 | International Technical Festival | BITS Pilani</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="EN">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content = "Apogee is a large scale event that has attracted the connoisseurs of engineering and technology over years. It represents the zenith of science and engineering in a landscape of future visionaries and scientists."/>
		<meta name = "keywords" content = "apogee, technical Festival, techfest, tech fest, bits pilani, apogee 2016, bits tech fest, bits fest, birla institute of technology and science"/>
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="copyright" content="Copyright © 2016, Department Of Visual Media, BITS Pilani">
		<meta name="author" content="Department Of Visual Media, BITS Pilani">
		<meta name="email" content="dvm@bits-oasis.org">
		<meta name="rating" content="general">
		<meta name="distribution" content="Global">
		<meta name="revisit-after" content="1 days">
	
		<link type="image/x-icon" rel="shortcut icon" href="" />
		<link rel="stylesheet" type="text/css" href="/2016/static/registrations/portal/assets/css/parent-style.css">
		
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		<link href="/2016/static/registrations/portal/assets/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="/2016/static/registrations/portal/assets/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="/2016/static/registrations/portal/assets/js/materialize.min.js"></script>

	</head>

	<body> 
		
		<div class="header">
			<img class="logo" src="/2016/static/registrations/portal/assets/img/ap_logo.png">
			<div class="head-text right-link" value="/">APOGEE 2016</div>
			<ul class="right-links-wrapper">
				<li class="right-link link-papers" value="/ca/main/">Campus Ambassador</li>
				<li class="right-link link-papers" value="/papers/instr/">Papers</li>
				<li class="right-link link-projects" value="/projects/instr/">Projects</li>
				<li class="right-link link-check" value="/check/form/">Check Status</li>
				<!--<li class="right-link link-contacts" value="/contact/">Contact</li>-->
			</ul>
		</div>
		<div class="head-cover">
		</div>

		<div class="row body-box">
			<div class="col-md-5 form-head">
			    Paper Abstract Submission
			</div>
			<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 form-wrapper">
			    <form id="paper-abstract-form">
			    	<div class="row">
			    		<div class="input-field">
			    			<div class="col-xs-12 form-subhead">
			    				NAME OF THE PAPER
			    			</div>
			    			<div class="input-field col s12 no-label">
			             		<textarea id="paper-name" required class="materialize-textarea"></textarea>
			            	</div>
			    		</div>
			    		<div class="col-xs-12 form-subhead">
			    			AUTHOR
			    		</div>
			    		<div class="input-field col-sm-6">
			         		<input id="author-name" required type="text" >
			          		<label for="author-name">Name</label>
			        	</div>
			        	<div class="input-field col-sm-6">
			         		<input id="author-phone" required type="text" >
			          		<label for="author-phone">Phone</label>
			        	</div>
			        	<div class="input-field col-sm-12">
			         		<input id="author-email" required type="text" >
			          		<label for="author-email">Email Address</label>
			        	</div>
			        	<div class="input-field col-sm-12">
			         		<textarea id="author-address" required class="materialize-textarea"></textarea>
			         		<label for="author-address">Postal Address for Correspondence</label>
			        	</div>
			        	<div class="col-xs-12 form-subhead">
			    			CO-AUTHOR
			    		</div>
			    		<div class="input-field col-sm-6">
			         		<input id="co-author-name" type="text" >
			          		<label for="co-author-name">Name</label>
			        	</div>
			        	<div class="input-field col-sm-6">
			         		<input id="co-author-phone" type="text" >
			          		<label for="co-author-phone">Phone</label>
			        	</div>
			        	<div class="input-field col-sm-12">
			         		<input id="co-author-email" type="text" >
			          		<label for="co-author-email">Email Address</label>
			        	</div>
			        	<div class="col-xs-12 form-subhead">
			    			COLLEGE 
			    		</div>
			    		<div class="input-field no-label col-sm-12">
			         		<input id="college" requied type="text" >
			        	</div>
			        	<div class="col-xs-6 form-subhead">
			    			CATEGORY 
			    		</div>
			    		<div class=" no-label col-sm-12">
			         		<select id="category" requred class="browser-default">
			    		      <option value="" disabled selected>...</option>
			                  {% for cat in categories %}
			    		      <option value="{{cat}}">{{cat}}</option>
			    		      {% endfor %}
			        		</select>
			        	</div>
			        	<br><br>
			        	<div class="col-xs-6 form-subhead">
			    			UPLOAD ABSTRACT 
			    		</div>
			        	<div class="file-field input-field col-sm-12">
			        		<div class="waves-effect  light-blue darken-3 btn">
			            		<span>File</span>
			            		<input required id="abstract-file" type="file">
			          		</div>
			          		<div class="file-path-wrapper">
			            		<input class="file-path" type="text">
			          		</div>
			        	</div>
			    	</div>  
			        <div class="row">
			            <div class="col-xs-10 col-xs-offset-1 error-box"></div>
			            <div class="col-xs-12" style="text-align: center">
			                <input class="waves-effect red darken-3 btn submit-button" type="submit">
			            </div>
			        </div>
			    </form>              
			</div>

		</div>




		<script src="/2016/static/registrations/portal/assets/js/script.js"></script>
				
		<script>
		    var abstract;

		    $("input#abstract-file").on('change', function(e) {
		        abstract = event.target.files;
		    });
		 

		    $("form#paper-abstract-form").submit(function(e) {
		        e.preventDefault();
		        if(validate_paper_submit() == 0) {
		            $(".error-box").hide();
		            $(".submit-button").hide();
		            var dat = collect_data();

		            $.ajax({
		                url: 'papers/status/',
		                type: 'POST',
		                data: dat,
		                cache: false,
		                headers : {
		                    "X-CSRFToken" : getCookie('csrftoken')
		                },
		                dataType: 'html',
		                processData: false,
		                contentType: false,

		                success: function(data) {
		                    console.log(data);
		                    $(".body-box").html(data);
		                }
		            });
		        }
		        else {
		            
		        }

		    });


		    function collect_data() {
		        var data = new FormData() ;
		        data.append('paper-name', $("textarea#paper-name").val());
		        data.append('author-name', $("input#author-name").val());
		        data.append('author-phone', $("input#author-phone").val());
		        data.append('author-email', $("input#author-email").val());
		        data.append('author-address', $("textarea#author-address").val());
		        data.append('co-author-name', $("input#co-author-name").val());
		        data.append('co-author-phone', $("input#co-author-phone").val());
		        data.append('co-author-email', $("input#co-author-email").val());
		        data.append('college', $("input#college").val());
		        data.append('category', $("select#category").val());

		        $.each(abstract, function(key, value)
		        {
		            data.append(key, value);
		        });

		        return data;
		    }


		    function validate_paper_submit() {
		        var count = 0;
		        var errorText = "Following are the errors cited in the form. Please correct them before submitting... <br>";

		        // Check for email...
		        var re_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
		        var en_email1 = $("input#author-email").val();
		        if(!(re_email.test(en_email1))) {
		            // author email error
		            errorText += "<br>&bull;&nbsp;&nbsp;Author's Email is invalid."
		            count++;
		        }
		        if($("input#co-author-email").val() != "") {
		            var en_email2 = $("input#co-author-email").val();
		            if(!(re_email.test(en_email2))) {
		                //co-author email error
		                errorText += "<br>&bull;&nbsp;&nbsp;Co-Author's Email is invalid."
		                count++;
		            }
		        }

		        // Check for phone...
		        var re_phone = /^([0-9]{10})$/i;
		        var en_phone1 = $("input#author-phone").val();
		        if(!(re_phone.test(en_phone1))) {
		            // error check for author phone number
		            errorText += "<br>&bull;&nbsp;&nbsp;Author's Phone no is invalid. Please enter a valid 10 digit mobile number."
		            count++;
		        }
		        if($("input#co-author-phone").val() != "") {
		            var en_phone2 = $("input#co-author-phone").val();
		            if(!(re_phone.test(en_phone2))) {
		                // error check for author phone number
		                errorText += "<br>&bull;&nbsp;&nbsp;Co-Author's Phone no is invalid. Please enter a valid 10 digit mobile number."
		                count++;
		            }
		        }

		        //format check 
		        var file = $("input#abstract-file").val();
		        var extn = file.substring(file.lastIndexOf(".")+1);
		        if(extn != "pdf" && extn != "PDF" ) {
		            // error check for invalid file format
		            errorText += "<br>&bull;&nbsp;&nbsp;The abstract file can only be of PDF Format."
		            count++;
		        }

		        //category check 
		        if($("select#category").val() == null) {
		            // error check for category
		            errorText += "<br>&bull;&nbsp;&nbsp;Select a Category."
		            count++;
		        }

		        $(".error-box").html(errorText).fadeIn(400);

		        return count;
		    }

		</script>
	</body>

</html>