<html>
	<head>
		<title>APOGEE 2016 | International Technical Festival | BITS Pilani</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="EN">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content = "Apogee is a large scale event that has attracted the connoisseurs of engineering and technology over years. It represents the zenith of science and engineering in a landscape of future visionaries and scientists."/>
		<meta name = "keywords" content = "apogee, technical Festival, techfest, tech fest, bits pilani, apogee 2016, bits tech fest, bits fest, birla institute of technology and science"/>
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="copyright" content="Copyright © 2016, Department Of Visual Media, BITS Pilani">
		<meta name="author" content="Department Of Visual Media, BITS Pilani">
		<meta name="email" content="dvm@bits-oasis.org">
		<meta name="rating" content="general">
		<meta name="distribution" content="Global">
		<meta name="revisit-after" content="1 days">
	
		<link type="image/x-icon" rel="shortcut icon" href="" />
		<link rel="stylesheet" type="text/css" href="/2016/static/registrations/portal/assets/css/parent-style.css">
		
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		<link href="/2016/static/registrations/portal/assets/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="/2016/static/registrations/portal/assets/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="/2016/static/registrations/portal/assets/js/materialize.min.js"></script>
		<style type="text/css">
			dd>p{
			    font-size: 16px;
			    line-height: 25px;
			    text-align: justify;
			    text-shadow: 1px 1px white;
			}

			dd {
				margin-bottom: 30px;
			}

			dt {
				font-weight: 900;
				font-size: 30px;
				text-shadow: 1px 1px white;
			}

			.input-field label
			{
				color:#545454;
			}
    		
    		input[type='number'] {
			    -moz-appearance:textfield;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			    -webkit-appearance: none;
			}
			 
			input[type='radio']:checked + label  {
				color :  #545454;
				font-weight: 600;
			} 
		</style>
	</head>

	<body> 
		<div class="header" style="box-shadow: 0px 0px 10px #444;background-color:#00838F;">
			<img class="logo" src="/2016/static/registrations/portal/assets/img/ap_logo.png">
			<div class="head-text right-link" value="/">APOGEE 2016</div>
			<ul class="right-links-wrapper">
				<li class="right-link link-papers" value="/ca/main/">Campus Ambassador</li>
<!-- 				<li class="right-link link-papers" value="/papers/instr/">Papers</li>
				<li class="right-link link-projects" value="/projects/instr/">Projects</li>
				<li class="right-link link-check" value="/check/form/">Check Status</li> -->
				<!--<li class="right-link link-contacts" value="/contact/">Contact</li>-->
			</ul>
		</div>
		<div class="head-cover"></div>
	<div class="container-fluid" style="position: relative !important;top:70px;background-color:#eee;padding:0;">
		<div class="row" id="ca_form">
			<div class="col-md-7 " style=";padding:50px;">
					<dl>
					  <dt>What is a Campus Ambassador ?</dt>
					  <dd>
					  <p>
					  A Campus Ambassador is responsible for publicity for APOGEE, the annual technical extravaganza of BITS Pilani, Pilani Campus, and is responsible for introducing and encouraging student participation in the fest, in his/her area or college.</p><p>
					  To APOGEE he/she is the chief student representative of the college and is the coordinator for any relevant activity conducted in his/her college for publicity through social media, College notice boards, Root-mails etc.
					  </p>
					  </dd>
					</dl>
					<dl>
					  <dt>Why be a Campus Ambassador ?</dt>
					  <dd><p>
					  Campus Ambassador Program, this time is powered by YOUTH4WORK, an established talent assessment company. A Campus Ambassador will get an official certificate through BITS-Pilani for pursuing a Marketing Internship Programme for 3 months recognized by YOUTH4WORK.</p>
					  <p style="text-align:center;">
					  <a href="http://www.youth4work.com" target="_tab"><img src="/2016/static/registrations/portal/assets/img/y4w.png" style="width: 37%;max-width: 300px;min-width: 200px;margin: 10px;" /></a>
					  </p>
					  <p>
					  Moreover, he/she will be entitled to awards and special incentives like exemptions from registration fees, exclusive merchandise, recommendations etc. based on their performance in the programme.</p><p>
					  Being an integral part of BITS-Pilani’s technical fest is itself a thing worth considering.</p>
					  </dd>
					</dl>  
					<dl>
					  <dt>Things to know about the programme</dt>
					  <dd>
						<ul>
							<li class="rule_point">
							The programme will last for about a duration of 3 months (till the end of APOGEE-2016)
							</li>
							<li class="rule_point">
							The ambassadors will be in a continuous communication link with the organizers of the fest.
							</li>
							<li class="rule_point">
							The ambassadors with exceptional performance will be rewarded with awards and recommendations.
							</li>
							<li class="rule_point">
							Only active ambassadors who meet the required target will be considered for any kind of reward.
							</li>
							<li class="rule_point">
							The organizers will extend an active support in helping the campus ambassadors accomplish their tasks as well as they can.
							</li>
						</ul>
					  </dd>
					</dl>  
			</div>
			<div class="col-md-5" style="padding:0" >
			  <div style="box-shadow: 1px 1px 5px 0px #777;background-color: white;border-radius: 3px;margin:40px;padding:30px;margin-top:50px;" id="form_container">
				<form id="ca-form">
				<div class="input-field">
         		<input id="ca-name" required type="text" >
          		<label for="ca-name">Name</label>
	        	</div>
	        	
	        	<div class="input-field">
	         		<input id="ca-address" required type="text" >
	          		<label for="ca-address">Address</label>
	        	</div>

	        	<div class="input-field">
	         		<input id="ca-college" required type="text" >
	         		<label for="ca-College">College</label>
	        	</div><br>
	        	<div class="form-subhead" style="padding:0 !important;color:#545454;font-size: 1rem;font-family:'Roboto' !important;font-weight:bold;">
    			Year of Study
	    		</div>
	    		<div class=" no-label">
	         		<select id="ca-year" required  class="browser-default">
				      <option value="0" disabled selected>Choose your option</option>
				      <option value="1">1st Year</option>
				      <option value="2">2nd Year</option>
				      <option value="3">3rd Year</option>
				      <option value="4">4th Year</option>
				      <option value="5">5th Year</option>
				    </select>
	        	</div>
	        	<div class="input-field" style="margin-top: 20px;">
	         		<input id="ca-degree" required type="text" >
	          		<label for="ca-degree">Degree</label>
	        	</div>

	        	<div class="input-field">
	         		<input id="ca-email" required type="text" >
	          		<label for="ca-email">E-mail</label>
	        	</div>

	        	<div class="input-field">
	         		<input id="ca-phone" required type="number" >
	          		<label for="ca-phone">Phone Number</label>
	        	</div>

	        	<div class="input-field">
	         		<textarea id="ca-desc" class="materialize-textarea"></textarea>
	          		<label for="ca-desc">What makes you a good contender for campus ambassador?</label>
	        	</div>
				
				<div>
				<label for="ca-rmail" style="color:#545454;font-size: 1rem;margin-top: 15px;">Does your college have root-mail facility?</label>
	        	<p id="ca-rmail">
			      <input class="with-gap" name="rmail" type="radio" id="rmaily" value="1" />
			      <label for="rmaily">YES</label>
			    
			      <input class="with-gap" name="rmail" type="radio"  id="rmailn" value="0" checked />
			      <label for="rmailn">NO</label>
			    </p>
			    <div>
			    <div class="error-box"></div>
			    <button class="waves-effect waves-light btn" style="background-color:#607d8b;margin-top:10px;" id="ca-submit" type="submit">SUBMIT</button>
			    </form>
			  </div>  
			</div>
		</div>
	</div>
	<script type="text/javascript">
	    var ca_data={};
	    var error_msg;
		function ca_validate()
		{
			ca_data.fname = $('#ca-name').val();
			ca_data.address = $('#ca-address').val();
			ca_data.college = $('#ca-college').val();
			ca_data.year = $('#ca-year> option:selected').val();
			ca_data.degree = $('#ca-degree').val();
			ca_data.email = $('#ca-email').val();
			ca_data.phone = $('#ca-phone').val();
			ca_data.desc = $('#ca-desc').val();
			ca_data.rmail = $('#ca-rmail > input:checked').val();

			error_msg = "Following are the errors cited in the form. Please correct them before submitting... <br>"

			var re_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
			if(!(re_email.test(ca_data.email)))
			{
				error_msg += "Invalid Email Format!<br>" ;
			}

			var re_phone = /^([0-9]{10})$/i;
			if(!(re_phone.test(ca_data.phone)))
				error_msg += "Invalid Phone Number!<br>" ;

			if(ca_data.year == 0)
				error_msg += "Please choose your year of study<br>" ;


			if (!(re_email.test(ca_data.email)) || !(re_phone.test(ca_data.phone)) || (ca_data.year==0) )
			{
				return false;
			}

			else 
			 {
			 	return true;
			 }	


		}


		$('#ca-form').submit(function(e){
			e.preventDefault();
			if(ca_validate())
			{
				$('.error-box').fadeOut();
				$('#ca-submit').fadeOut();
				$.ajax({
					method:"POST",
					url: "http://bits-apogee.org/2016/portal/ca/status/",
					data: ca_data,
					success: function(data)
					{
						$('body').scrollTop(0);
						if(data["status"]==1)
						{
							$('#form_container').html('<div style="text-align:center; margin: 50px 0px;font-size: 20px; font-weight: 900; color: #00a651">You have been registered as a contender for campus ambassador.<br> We will contact you shortly.</div>');
						}
						else
						{
							$('#form_container').html('<div style="text-align:center; margin: 50px 0px;font-size: 20px; font-weight: 900; color: #ce3d3a">'+data['message']+'</div>');
						}	
					}
				});
			}
			else
			{
				$('.error-box').html(error_msg).fadeIn() ;
			}	


		});
	</script>
	
	</body>
</html>		