<html>
	<head>
		<title>APOGEE 2016 | International Technical Festival | BITS Pilani</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="EN">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content = "Apogee is a large scale event that has attracted the connoisseurs of engineering and technology over years. It represents the zenith of science and engineering in a landscape of future visionaries and scientists."/>
		<meta name = "keywords" content = "apogee, technical Festival, techfest, tech fest, bits pilani, apogee 2016, bits tech fest, bits fest, birla institute of technology and science"/>
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="copyright" content="Copyright © 2016, Department Of Visual Media, BITS Pilani">
		<meta name="author" content="Department Of Visual Media, BITS Pilani">
		<meta name="email" content="dvm@bits-oasis.org">
		<meta name="rating" content="general">
		<meta name="distribution" content="Global">
		<meta name="revisit-after" content="1 days">
	
		<link type="image/x-icon" rel="shortcut icon" href="" />
		<link rel="stylesheet" type="text/css" href="/2016/static/registrations/portal/assets/css/parent-style.css">
		<link rel="stylesheet" type="text/css" href="/2016/static/registrations/portal/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/2016/static/registrations/portal/bower_components/bootstrap/dist/css/bootstrap-theme.css">
		<script type="text/javascript" src="/2016/static/registrations/portal/bower_components/jquery/dist/jquery.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		<link href="/2016/static/registrations/portal/assets/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="/2016/static/registrations/portal/assets/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="/2016/static/registrations/portal/assets/js/materialize.min.js"></script>

	</head>

	<body> 
		
		<div class="header">
			<img class="logo" src="/2016/static/registrations/portal/assets/img/ap_logo.png">
			<div class="head-text right-link" value="/">APOGEE 2016</div>
			<ul class="right-links-wrapper">
				<li class="right-link link-papers" value="/papers/instr/">Papers</li>
				<li class="right-link link-projects" value="/projects/instr/">Projects</li>
				<li class="right-link link-check" value="/check/form/">Check Status</li>
				<li class="right-link link-contacts" value="/contact/">Contact</li>
			</ul>
		</div>
		<div class="head-cover">
		</div>

		<div class="row body-box">
			
		</div>

		<script src="/2016/static/registrations/portal/assets/js/script.js"></script>

	</body>

</html>