body{
	background-color: #eee !important;
   	padding: 0px;
   	margin: 0px;
   	color: white;
   	font-family: 'Roboto' !important;
	overflow-y: scroll; 
}

.header {
	position: absolute;
	width: 100%;
	height: 70px;
	background-color: rgba(0,0,0,0.1);
	z-index: 100;
}

.head-cover {
	position: absolute;
	width: 100%;
	height: 380px;
	background-color: #eee;
	overflow: hidden;
	box-shadow: 0px 0px 10px #444;
}

.body-box {
	position: relative;
	padding-top: 140px;	
	padding-bottom: 100px;
	color: #333;
}

.form-wrapper {
	height: auto;
	box-shadow: 1px 1px 5px 0px #777;
	background-color: white;
	border-radius: 3px;
	padding: 20px !important;
}

.instruction-wrapper {
	height: auto;
	box-shadow: 1px 1px 5px 0px #777;
	background-color: white;
	border-radius: 3px;
	padding: 50px 80px !important;
	color: #333;
}

.header img.logo {
	margin-left: 15px;
	height: 60px;
	margin-top: 5px;
	float: left;
	opacity: 1;
}

.header .head-text {
	color: #fff;
	height: 50px;
	float: left;
	margin-left: 10px;
	font-size: 37px;
	font-weight: 900; 
	text-shadow: 1px 1px #555;
	padding-top: 10px;
}

ul.right-links-wrapper {
	display: inline;
	float: right;
	margin-top: 25px;
}

li.right-link {
	display: inline;
	height: 70px !important;
	margin-top: 100px;
	color: white;
	padding: 20px 20px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
}

li.right-link-active {
	border-bottom: 3px solid white;
}


.ripple {
	animation: ripple-effect 1.3s infinite;
	width: 0px;
	height: 0px;
	position: relative;
	border-radius: 100000000000px;
	box-shadow: 0px 0px 50px #444;
}

@keyframes ripple-effect {
	from {
		width: 0px;
		height: 0px;
		transform-origin: 5px 5px;
		margin-top: 0px;
		margin-left: 0px;
	}
	to {
		width: 5000px;
		height: 5000px;
		transform-origin: 500px 500px;
		margin-top: -1000px;
		margin-left: -2500px;
	}
}

li.rule_point{
	list-style-type: disc !important; 
	font-size: 16px;
	line-height: 25px;
	padding-bottom: 5px;
	margin-left: 30px;
	padding-left: 10px;
	text-align: justify;
}

.instr_head {
	margin-top: 40px;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 15px;
}

.apply-project, .apply-paper, .dnld {
	float: right;
	margin: 3px;
	margin-top: 20px;
}

.check_head {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
}

.form-subhead {
	font-weight: 900;
	padding:20px 10px 0px 15px !important;
}

input {
	margin: 0 0 10px 0 !important;
}

select {
	border: 0 !important;
	border-bottom: 1px solid #999 !important;
	padding: 0 !important;
	margin-bottom: 10px !important;
}

.form-head {
	color: rgba(255,255,255,0.6);
	font-size: 60px;
	font-weight: 700;
	text-align: right;
	opacity: 1;
}

@media (max-width : 992px) {
	.form-head {
		display: none;
	}
}

.add-member {
	cursor: pointer;
}

.error-box {
    border: 1px solid black;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #d03232;
    background-color: #f4e1e1;
    display: none;
    padding: 10px;
    font-size: 12px;
}

.ref {
	color: #c71313;
    font-weight: bold;
    font-size: 25px;
}

.ins-ref {
    color : #888;
}

.review-project-header {
	width: calc(100% + 40px);
	background-color: #eee;
	margin-top: -20px;
	margin-left: -20px;
	padding: 20px 30px;
	border-radius: 5px;
	height: 70px;
}

.ref-num-holder {
	width: 50%;
	float: left;
	font-weight: 800;
	font-size: 20px;
	color: #888;
}

.status-holder {
	text-align: right;
	width: 50%;
	float: right;
	font-weight: 800;
	font-size: 20px;
	color: #888;
	color: #1CAB39;
}

.queries-contact {
	margin-top: 140px;
	text-align: left;
	color: #333;
	opacity: 1;
	font-weight: 400;
	font-size: 17px;
}

.member-delete {cursor:pointer; }