/*z-index map
	login lacuna		1500
	dashboard			1200
	puzzle_cont			1000
z-index map*/

/*--------------------------------GENERAL-------------------------------------*/
*{
	box-sizing:border-box;
}

body,html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto; 
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: 'Cabin', sans-serif;
}

.abs_center{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.hor_center{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;	
	margin-right: auto;	
}

.ver_center{
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;	
	margin-bottom: auto;	
}
/*-------------------Game Loader--------------*/
#game_loader{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 5000;
	display: none;
}
#game_loader>img{
	height: 60px;
	width: 60px;
}

/*-------------------STORY--------------*/

.story_container{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center; 
}
.story_next,.story_prev{
	position: absolute;
	width: 200px;
	bottom: calc(100% + 25px);
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	border-radius: 5px; 
	border: 1px solid #eee;	
	text-align: center;
	cursor: pointer;
	padding: 10px 20px;
	font-weight: bold;
}
.story_next:hover,.story_prev:hover{
	background-color: rgba(0,0,0,0.95);	
	color: #fff;
}
.storydet_container{
	position: absolute;
	margin:2.5%;
	max-height: 50vh;
	width: 95%;
	bottom: 0;
	border: 1px solid #eee;
	color:#f0f0f0;
	font-size: 1em;
	border-radius: 5px;
}
.text_container{
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	padding: 2%;
	max-height: 50vh;
	overflow-y:auto; 
	font-size: 1.2em;
	transition: background-color 0.15s ease;
	-moz-transition: background-color 0.15s ease;
	-webkit-transition: background-color 0.15s ease;
}
.text_container:hover{
	background-color: rgba(0,0,0,0.9);	
}
/*puzzle div===========================================*/
#puzzle_cont{
	z-index: 1000;
	/*background-color: red;*/
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#puzzle_nav
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	z-index: 1000;
	padding: 20px;
}
#puzzle
{
	position: relative;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
}

#BackToDashboard{
	border: 1px solid #eee;
	border-radius: 2px; 
	padding: 10px 20px;
	display: inline-block;
	line-height: 1.5em;
	float: left;
}
#BackToDashboard>i{
	color: inherit;
	padding-right: 5px;
}
/*puzzle div===============END============================*/
/*login==============================*/
.login_lacuna{
	z-index: 1500;
	background: url('../img/Sherlock.jpg');
	background-position: center;
	background-size: cover;
}
.fb_login_cont{
	top:50%;
	position: absolute;
	left:50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.fb_login_cont img{
	width: 300px;
}
/*login==============================*/
/*dashboard=============================*/
.dashboard{
	z-index: 1200;
	background-color: #fff;
}
.levels{
	width: 50px;
	height: 50px;
	background-color: red;
	margin: 10px;
	display: inline-block;

}
/*dashboard==============END===============

/*-------------------INSTRUCTIONS--------------*/
#instr_cont{
	height:100%;
	width: 100%;
}
#instr_cont>.overlay
{
	background-color: rgba(0,0,0,0.7);
	height:100%;
	width: 100%;
}
#instr_det{
	height: 80%;
	width:80%;
	border-radius: 4px;
	background-color: #eee;
	color:#444;
}
#instr_det>.cross{
	position: absolute;
	right: 15px;
    top: 15px;
    font-weight: bold;
    font-size: 1.5em;
}
#instr_det>.head{
	height: 20%;
	line-height: 2.5em;
	font-size: 2.5em;
	text-align: center;
	border-bottom: 1px solid #444;
}
#instr_det>.content{
	height: 80%;
	font-size: 1.5em;
	text-align: center;
	padding: 20px;
	overflow-y: auto;
}