/*z-index map
	loader				2000
	login lacuna		1500
	dashboard			1200
	puzzle_cont			1300
	informal clue		1350
z-index map*/

/*--------------------------------GENERAL-------------------------------------*/
*{
	box-sizing:border-box;
}

body,html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto; 
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: 'Cabin', sans-serif;
}
.btn_sty{
    position: absolute;
	background: #fafafa;
    top: 20px;
    padding: 10px 20px;
    z-index: 199;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    font-size: 19px;
    font-weight: 300;
    line-height: 20px;
    color: #555;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}
.my_level{
	opacity: 0.5;
}
.enable_level{
	opacity: 1;
	cursor: pointer;
}
.dashboard{
	display:none;
}
.main_svg_cont{
	position: absolute;
	width: 100%;
	top:0;
	left:0;
	background: url(../img/backme.jpg);
	background-size: 100% auto;
}
.btn1{
    left: 25px;
}
.btn2{
    left: 170px;
}
.btn3{
	right:25px;
}
.btn4{
	right: 170px;
}
.abs_center{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.hor_center{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;	
	margin-right: auto;	
}

.ver_center{
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;	
	margin-bottom: auto;	
}
/*-------------------Game Loader--------------*/
#game_loader{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 5000;
	display: none;
}
#game_loader>img{
	height: 60px;
	width: 60px;
}

/*-------------------STORY--------------*/

.story_container{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1400;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center; 
}
.story_next,.story_prev{
	position: absolute;
	width: 200px;
	bottom: calc(100% + 25px);
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	border-radius: 5px; 
	border: 1px solid #eee;	
	text-align: center;
	cursor: pointer;
	padding: 10px 20px;
	font-weight: bold;
}
.story_next:hover,.story_prev:hover{
	background-color: rgba(0,0,0,0.95);	
	color: #fff;
}
.storydet_container{
	position: absolute;
	margin:2.5%;
	max-height: 50vh;
	width: 95%;
	bottom: 0;
	border: 1px solid #eee;
	color:#f0f0f0;
	font-size: 1em;
	border-radius: 5px;
}
.text_container{
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	padding: 2%;
	max-height: 50vh;
	overflow-y:auto; 
	font-size: 1.2em;
	transition: background-color 0.15s ease;
	-moz-transition: background-color 0.15s ease;
	-webkit-transition: background-color 0.15s ease;
}
.text_container:hover{
	background-color: rgba(0,0,0,0.9);	
}
/*klas*/
.cstar{
	display:none;
}
#clue_jumbo{
	display:none;
	z-index: 1350;
	background: url("../img/clueback.png");
}
#clue_cont{
	height: 90vh;
	width: 70vw;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 4px;
	overflow: hidden;
}
#clue_cont>.head{
	height: 9vh;
	line-height: 9vh;
	font-size: 4vh;
    background: #eee;
}
#clue_cont>.clue_img{
	height: 72vh;
	width: 100%;
}
#clue_cont>.ans{
	height: 9vh;
}

#clue_cont .ans input{	display: inline-block;
    width: 75%;
    height: 100%;
    left: 0;
    vertical-align: top;
    padding: 10px 12px;
    font-size: 20px;
    line-height: 30px;
    color: #211403;
    background-color: #E4DED6;
    background-image: none;
    border: 1px solid #ccc;
	outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#clue_cont .ans input:placeholder{
	color:#E8C594;
}

#clue_cont .ans button{	display: inline-block;
    width: 25%;
    height: 100%;
    padding: 10px 12px;
    margin-left: -2px;
    font-size: 20px;
    line-height: 30px;
    color: #EEE;
    cursor: pointer;
    background-color: #222;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/*puzzle div===========================================*/
#puzzle_cont{
	display: none;
	z-index: 1300;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.puzzle_nav
{
	position: fixed;
	margin: 20px;
	z-index: 2;
	border: 1px solid #444;
	color: #444;
	background-color: #f0f0f0;
	padding: 10px 20px;
	font-size: 1.3em;
	display: inline-block;
	border-radius: 4px; 
	cursor: pointer;
}
#puzzle
{
	position: relative;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
}


.puzzle_nav i{
	color: inherit;
	padding-right: 5px;
}
/*puzzle div===============END============================*/
/*login==============================*/
.login_lacuna{
	z-index: 1500;
	background: url('../img/Sherlock.jpg');
	background-position: center;
	background-size: cover;
}
.fb_login_cont{
	top:65%;
	position: absolute;
	left:50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.fb_login_cont img{
	width: 300px;
	border-radius: 5px;
}
/*login==============================*/
/*dashboard=============================*/
.dashboard{
	z-index: 1200;
	background-color: #fff;
}
.levels{
	width: 50px;
	height: 50px;
	background-color: red;
	margin: 10px;
	display: inline-block;

}
/*dashboard==============END===============

/*-------------------INSTRUCTIONS--------------*/
#instr_cont,#wino_cont{
	position: fixed;
	height:100%;
	width: 100%;
	z-index: 5;
	display: none;
}
#instr_cont>.overlay,#wino_cont>.overlay
{
	background-color: rgba(0,0,0,0.7);
	height:100%;
	width: 100%;
}
#instr_det,#wino_det{
	height: 80%;
	width:80%;
	border-radius: 4px;
	background-color: #eee;
	color:#444;
}
#instr_det>.cross{
	position: absolute;
	right: 15px;
    top: 15px;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}
#instr_det>.head{
	height: 20%;
	line-height: 2.5em;
	font-size: 2.5em;
	text-align: center;
	border-bottom: 1px solid #444;
}
#instr_det>.content{
	height: 80%;
	font-size: 1.5em;
	text-align: center;
	padding: 20px;
	overflow-y: auto;
}

#wino_cont button {
	border: 0px solid black;
    margin: 15px;
    font-size: 20px;
    border-radius: 3px;
    height: auto;
    width: auto;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    box-sizing: border-box;
    outline: none;
    /*background: #6EB729;*/
}
#wintodash{background: #3e9cbf;}
#wintodash:hover{background: #2B6F88;}
#wintonext{background: #6EB729}
#wintonext:hover{background: #52881F}


.story{
	cursor: pointer;
}