#chess{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
}
#chess > #chess-board{
	position: relative;
}
#chess > #backround-boxs{
	position: absolute;
	overflow: hidden;
	left:-5%;
	width: 110%;
}
.grid{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
}
.bishop{
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: -webkit-grab;
	cursor: grab;
}