#place_dice{
	display: inline-block;
	width: 45%;
	margin-left:3%;
	text-align: center;
	float: left;
}
#place_dice .drop_dice{
	width: 56px;
	height: 117px;
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: 1px 1px 2px 0 #000;
	background: url('./../../img/puzzle/magic/holder.svg');
    background-size: 100%;
	padding: 0;
}
#place_dice table{
	border-spacing: 20px;
	color:#fff;
}
#dice_wrapper{
	display: inline-block;
	width: 45%;
	height: 500px;
	margin-right:3%;
	float: left;
}
#dice_wrapper .dice_cont{
	margin: 10px;
	padding: 3px;
}
.dice_cont>div{
	background-color: rgba(0,0,0,0.71);
}
.dice_cont{
	display: inline-block;
	width: 50px;
	height: 111px;
	border-radius:5px;
	background: url('./../../img/puzzle/magic/holder.svg');
    background-size: 100%;
	color:#eee;
	cursor: pointer;
}
.dice_cont>.top_val{
	width: 100%;
	line-height: 52px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.dice_cont>.bottom_val{
	width: 100%;
	line-height: 52px;
	text-align: center;
	border-top: 1px solid #eee;
}