{% extends "ems/base.html" %}
{% block sidebar_content %}
    <li>
        <a href="{% url 'ems:events_home' event.id %}">
            <i class="pe-7s-news-paper"></i>
            <p>Event Home</p>
        </a>
    </li>
    <li>
        <a href="{% url 'ems:events_levels' event.id %}">
            <i class="pe-7s-news-paper"></i>
            <p>Manage Levels</p>
        </a>
    </li>
{% endblock sidebar_content %}
{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="eventid" value="{{ event.id }}">
                        <div class="header">
                            <h4 class="title">Teams<a href="{% url 'ems:events_teams_add' event.id %}" class="btn btn-info btn-sm btn-fill pull-right" role="button">Add</a></h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>Edit</th>
                                    <th>S.No</th>
                                    {% if event.is_team %}
                                    <th>Team Name</th>
                                    <th>Team Leader</th>
                                    <th>Members</th>
                                    <th>Leader College</th>
                                    {% else %}
                                    <th>Name</th>
                                    <th>College</th>
                                    {% endif %}
                                    <th>Rank</th>
                                    <th>Delete</th>
                                </thead>
                                <tbody>
                                {% for team in teams %}
                                <tr>
                                    <td>
                                        <a href="" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>{{ forloop.counter }}</td>
                                    {% if event.is_team %}
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.leader.name }}</td>
                                    <td>{{ team.members.all.count|add:1 }}</td>
                                    {% else %}
                                    <td>{{ team.leader.name }}</td>
                                    {% endif %}
                                    <td>{{ team.leader.college.name }}</td>
                                    <td>{{ team.rank }}</td>
                                    {% if team.score_set.all %}
                                    <td>
                                        <a href="#" class="btn btn-info btn-simple btn-xs" rel="tooltip" data-original-title="Cannot Delete: This Participant has already been graded.">
                                        <span style="color:grey;"><i class="fa fa-times"></i></span>
                                        </a>
                                    </td>
                                    {% else %}
                                    <td><button name="delete-team" value="{{ team.id }}" rel="tooltip" class="btn btn-danger btn-simple btn-xs" data-original-title="Warning: Deletes team from all levels.">
                                        <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                    {% endif %}
                                    <td>{{ team.category }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align:center">Nothing in here!</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}
{% block script %}
<script type= 'text/javascript'>
window.onload = function () {
    checkbox = document.getElementById('judgesheet');
    toggle(checkbox);
}
function toggle(checkbox){
  var js = document.getElementsByClassName('judgesheet');
  for(var i=0; i< js.length ; ++i)
  {
      if (checkbox.checked) {
          js[i].disabled = false;
          js[i].parentElement.style.display = 'block';
      }
      else {
          js[i].disabled = true;
          js[i].parentElement.style.display = 'none';
      }
  }
}
</script>
{% endblock script %}
