{% extends "ems/base.html" %}
{% block sidebar_content %}
<li>
    <a href="{% url 'ems:events_home' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Event Home</p>
    </a>
</li>
{% if emsadmin %}
<li>
    <a href="{% url 'ems:events_levels' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Event Setup</p>
    </a>
</li>
{% endif %}
<li>
    <a href="{% url 'ems:events_participants' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Manage Participants</p>
    </a>
</li>
<li>
    <a href="{% url 'ems:events_judge_home' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Judge Event</p>
    </a>
</li>
{% endblock sidebar_content %}
{% block sub_title %}
    {{ event.name }}
{% endblock sub_title %}
{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="eventid" value="{{ event.id }}">
                        <div class="header">
                            <h4 class="title">Levels<a href="{% url 'ems:events_levels_add' event.id %}" class="btn btn-info btn-sm btn-fill pull-right" role="button">Add</a></h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>Edit</th>
                                    <th>Rank</th>
                                    <th>Name</th>
                                    <th>Participants</th>
                                    <th>Delete</th>
                                </thead>
                                <tbody>
                                {% for level in levels|dictsort:"position" %}
                                <tr>
                                    <td>
                                        <a href="{% url 'ems:events_levels_edit' event.id level.id %}" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>{{ level.position }}</td>
                                    <td>{{ level.name }}</td>
                                    <td>{{ level.teams.all.count }}</td>
                                    {% if level.score_set.all %}
                                    <td>
                                        <a href="#" class="btn btn-info btn-simple btn-xs" rel="tooltip" data-original-title="Cannot Delete: One or more Judges has already graded this level">
                                        <span style="color:grey;"><i class="fa fa-times"></i></span>
                                        </a>
                                    </td>
                                    {% elif level.is_protected %}
                                    <td>
                                        <a href="#" class="btn btn-info btn-simple btn-xs" rel="tooltip" data-original-title="Cannot Delete: This is a protected level">
                                        <span style="color:grey;"><i class="fa fa-times"></i></span>
                                        </a>
                                    </td>
                                    {% else %}
                                    <td><button name="delete-level" value="{{ level.id }}" rel="tooltip" class="btn btn-danger btn-simple btn-xs" data-original-title="Warning: Removes all participnats from this level">
                                        <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                    {% endif %}
                                    <td>{{ team.category }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align:center">Nothing in here!</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="eventid" value="{{ event.id }}">
                        <div class="header">
                            <h4 class="title">Judges<a href="{% url 'ems:events_judges_add' event.id %}" class="btn btn-info btn-sm btn-fill pull-right" role="button">Add</a></h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>Name</th>
                                    <th>Used By Levels</th>
                                    <th>Delete</th>
                                </thead>
                                <tbody>
                                {% for judge in event.judge_set.all|dictsort:"name" %}
                                <tr>
                                    <td>{{ judge.name }}</td>
                                    <td>{% for level in judge.level_set.all %}{{ level.position }} {% empty %}None{% endfor %}</td>
                                    {% if not judge.score_set.all %}
                                    <td><button name="delete-judge" value="{{ judge.id }}" rel="tooltip" class="btn btn-danger btn-simple btn-xs" data-original-title="Really Remove?">
                                        <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                    {% else %}
                                    <td>
                                        <a href="#" class="btn btn-info btn-simple btn-xs" rel="tooltip" data-original-title="Cannot Delete: Judge has already graded one or more judgesheets.">
                                        <span style="color:grey;"><i class="fa fa-times"></i></span>
                                        </a>
                                    </td>
                                    {% endif %}
                                    <td>{{ team.category }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align:center">Nothing in here!</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="eventid" value="{{ event.id }}">
                        <div class="header">
                            <h4 class="title">Judging Parameters<a href="{% url 'ems:events_labels_add' event.id %}" class="btn btn-info btn-sm btn-fill pull-right" role="button">Add</a></h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>Parameters</th>
                                    <th>Used By Levels</th>
                                    <th>Delete</th>
                                </thead>
                                <tbody>
                                {% for label in event.label_set.all %}
                                <tr>
                                    <td>{{ label }}</td>
                                    <td>{% for level in label.level_set.all %}{{ level.position }} {% empty %}None{% endfor %}</td>
                                    {% if not label.level_set.all %}
                                    <td><button name="delete-label" value="{{ label.id }}" rel="tooltip" class="btn btn-danger btn-simple btn-xs" data-original-title="Really Remove?">
                                        <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                    {% else %}
                                    <td>
                                        <a href="#" class="btn btn-info btn-simple btn-xs" rel="tooltip" data-original-title="Cannot Delete: Used by another level">
                                        <span style="color:grey;"><i class="fa fa-times"></i></span>
                                        </a>
                                    </td>
                                    {% endif %}
                                    <td>{{ team.category }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align:center">Nothing in here!</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock main_content %}
{% block script %}
<script type= 'text/javascript'>
window.onload = function () {
    checkbox = document.getElementById('judgesheet');
    toggle(checkbox);
}
function toggle(checkbox){
  var js = document.getElementsByClassName('judgesheet');
  for(var i=0; i< js.length ; ++i)
  {
      if (checkbox.checked) {
          js[i].disabled = false;
          js[i].parentElement.style.display = 'block';
      }
      else {
          js[i].disabled = true;
          js[i].parentElement.style.display = 'none';
      }
  }
}
</script>
{% endblock script %}
