{% extends "ems/base.html" %}
{% block sidebar_content %}
<li>
    <a href="{% url 'ems:events_home' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Event Home</p>
    </a>
</li>
{% if emsadmin %}
<li>
    <a href="{% url 'ems:events_levels' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Event Setup</p>
    </a>
</li>
{% endif %}
<li>
    <a href="{% url 'ems:events_participants' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Manage Participants</p>
    </a>
</li>
<li>
    <a href="{% url 'ems:events_judge_home' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Judge Event</p>
    </a>
</li>
{% endblock sidebar_content %}
{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="eventid" value="{{ event.id }}">
                        <div class="header">
                            <h4 class="title">Add Judge</h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                 <div class="col-md-12">
                                     <div class="form-group">
                                         <label>Judge Name</label>
                                         <input type="text" class="form-control" name="name">
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Username</label>
                                          <input type="text" class="form-control" name="username">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                       <div class="form-group">
                                           <label>Password</label>
                                           <input type="password" class="form-control" name="password">
                                       </div>
                                   </div>
                               </div>
                                <button type="submit" class="btn btn-info btn-fill" name="add">Add</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}
