{% extends "ems/base.html" %}
{% block sidebar_content %}
<li>
    <a href="{% url 'ems:events_home' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Event Home</p>
    </a>
</li>
{% if emsadmin %}
<li>
    <a href="{% url 'ems:events_levels' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Event Setup</p>
    </a>
</li>
{% endif %}
<li>
    <a href="{% url 'ems:events_participants' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Manage Participants</p>
    </a>
</li>
<li>
    <a href="{% url 'ems:events_judge_home' event.id %}">
        <i class="pe-7s-news-paper"></i>
        <p>Judge Event</p>
    </a>
</li>
{% endblock sidebar_content %}
{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="eventid" value="{{ event.id }}">
                        <div class="header">
                            <h4 class="title">Levels</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>Rank</th>
                                    <th>Name</th>
                                </thead>
                                <tbody>
                                {% for level in event.level_set.all|dictsort:"position" %}
                                <tr>
                                    <td>{{ level.position }}</td>
                                    <td>{{ level.name }}</td>
                                    {% for judge in level.judges.all %}
                                    <td>
                                        <a href="{% url 'ems:events_levels_judge' event.id level.id judge.id %}" class="btn btn-info btn-sm btn-fill pull-right" role="button">{{ judge.name }}</a>
                                    </td>
                                    {% endfor %}
                                    <td colspan="10"></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align:center">Nothing in here!</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}
