{% extends "ems/base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block sidebar_content %}

{% endblock sidebar_content %}
{% block main_content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Responsibilities Ahead</h4>
                                {% if status == 0 %} <p class="category" style = "color:red">Invalid Credentials.</p>
                                {% endif %}
                            </div>
                            {% if judge %}
                            <div class="header">
                                <h5 class="title">{{ judge.name }}</h5>
                            </div>
                            {% endif %}
                            <div class="content">
                                <form method="POST" action=".">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input name="username" type="text" class="form-control" placeholder="nikhilverma">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input name="password" type="password" class="form-control" placeholder="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-info btn-fill">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock main_content %}
