{% extends "ems/base.html" %}
{% block body %}
    

 


<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/static/ems/img/sidebar-4.jpg">  
    
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    
    
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    <strong>Controls </strong>
                </a>
            </div>
                       
            <ul class="nav">
                <li>
                    <a href="{% url 'ems:main' %}">
                        <i class="pe-7s-home"></i> 
                        <p>Home</p>
                    </a>            
                </li>
            </ul> 
        </div>

    </div>

    
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">    
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><strong> Controls Booth </strong></a>
                </div>
                <div class="collapse navbar-collapse">       
                    <ul class="nav navbar-nav navbar-left">
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>



<script type= 'text/javascript'>
function checkall(gauss){
  var cbx = document.getElementsByTagName('input');
  for(var i=0; i< cbx.length ; ++i)
  {
    if(cbx[i].type == 'checkbox')
      cbx[i].checked = gauss.checked;

  }
}

</script>
                     
       <div class="content">
            <div class="container-fluid">
            <div class="row">                   
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Details</h4>
                                
                            </div>
                            <div class="content">
                                <p><strong>Name</strong> {{ participant.name }} <br></p>
                                <p><strong>Gender</strong> {{ participant.gender }} <br></p>
                                <p><strong>College</strong> {{ participant.college }} <br></p>
                                <p><strong>Phone One</strong> {{ participant.phone_one }} <br></p>
                                <p><strong>Phone Two</strong> {{ participant.phone_two }} <br></p>
                                <p><strong>Events</strong> {% for event in participant.confirmed_events.all %} {{ event.name }}, {% endfor %} <br></p>
                            </div>
                        </div>
                    </div>           
                </div>                     
            </div>
        </div>




        <!-- FOOTER FOR THE PAGE -->
        
        <footer class="footer">
            <div class="copyright container-fluid">

                    <p class="pull-left">
                &copy; 2015 <a >Department of Visual Media</a>   
                </p>


                <p class="pull-right">
                    For any queries contact : 9928823099 / 9928834365 / 8058868682
                </p>
            </div>
        </footer>
        
        
    </div>   
</div>
{% endblock body %}


