{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lacuna</title>
	<link rel="stylesheet" type="text/css" href="{% static 'lacuna/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'lacuna/css/jquery-ui.min.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
	<div class="login_lacuna abs_center" style="display:none">
		<div class="fb_login_cont">
			<img src="{% static 'lacuna/img/fb_login.png' %}" alt="">
		</div>
	</div>
	<div class="dashboard abs_center">
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
		<div class="levels"></div>
	</div>
	<div id="game_loader">
		<img src="{% static 'lacuna/img/preloader.gif' %}" class="abs_center">
	</div>
	<div class="story_container" style="background-image:url({% static 'lacuna/img/qwerty.jpg' %});">
		<div class="storydet_container">
			<div class="story_next story_but" style="right:0;">Next ></div>
			<div class="story_prev story_but" style="left:0;">< Previous</div>

			<div class="text_container">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			</div>
		</div>
	</div>
	<div id="puzzle_cont">
		<div id="puzzle_nav">
			<div id="BackToDashboard"><i class="fa fa-tachometer"></i>DASHBOARD</div>	
		</div>
		<div id="puzzle" class="puzzle_cont abs_center"></div>
	</div>
	<script type="text/javascript" src="{% static 'lacuna/js/main.js' %}"></script>
</body>
</html>
