<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lacuna</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'">
	<script type="text/javascript" src="{% static 'js/jquery.min.js'}"></script>
</head>
<body>
	<div id="game_loader">
		<img src="img/preloader.gif" class="abs_center">
	</div>
	<div class="story_container" style="background-image:url({% static 'img/qwerty.jpg');">
		<div class="storydet_container">
			<div class="story_next story_but" style="right:0;">Next ></div>
			<div class="story_prev story_but" style="left:0;">< Previous</div>

			<div class="text_container">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque soluta, neque nulla at harum. Fugit tempore suscipit, quo et repudiandae, consequatur dolores officiis veniam laborum nam debitis provident voluptatum.
			</div>
		</div>
	</div>
	<div id="puzzle5" class="puzzle_cont">
		<div class="puzzle_deto ver_center">
			<div class="puzzle_deti abs_center">
				<!-- game div -->
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>