<table class="table table-hover table-striped">
    <thead>
        <th>Rank</th>
        <th>Name</th>
        <th>Progress</th>
        <th>Bonus Score</th>
        <th>Time Taken (hh:mm:ss)</th>
    </thead>
    <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ part.name }}</td>
                <td>{{ part.progress }}</td>
                <td>{{ part.informals_score }}</td>
                <td>{{ part.live_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
