<html>
	<head>
		<meta charset="UTF-8">
		<title>IoT Challenge - APOGEE 2016</title>
		<link href="/2016/static/iot/css/style.css" rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

	</head>

<body>

<div class="header">
	<div><a href="javascript: void(0)" onclick="home()">
			<div id="head0" class="headele">
				<p class="headtxt">home</p>
				<img class="headimg" src="/2016/static/iot/img/icons/icon1.png">
			</div>
	</a></div>
	<div><a href="javascript: void(0)" onclick="curr=1; headexp()">
			<div id="head0" class="headele">
				<p class="headtxt">IoT</p>
				<img class="headimg" src="/2016/static/iot/img/icons/web.png">
			</div>
	</a></div>
	<div><a  href="javascript: void(0)" onclick="curr=2; headexp()">
		<div id="head1" class="headele">
			<p class="headtxt" style="top:-10px" >IoT<br>Challenge</p>
			<img class="headimg" src="/2016/static/iot/img/icons/chal.png">
		</div>
	</a></div>
	<div><a  href="javascript: void(0)" onclick="curr=3; headexp()">
		<div id="head2" class="headele">
			<p class="headtxt" >Rules</p>
			<img class="headimg" src="/2016/static/iot/img/icons/rules.png">
		</div>
	</a></div>
	<div><a  href="javascript: void(0)" onclick="curr=4; headexp()">
		<div id="head3" class="headele">
			<p class="headtxt" style="top:-10px">Sponsor</p>
			<img class="headimg" src="/2016/static/iot/img/icons/ti.png">
		</div>
	</a></div>
	<div><a  href="javascript: void(0)" onclick="curr=5; headexp()">
		<div id="head4" class="headele">
			<p class="headtxt">FAQs</p>
			<img class="headimg" src="/2016/static/iot/img/icons/faq.png">
		</div>
	</a></div>
	<div><a  href="javascript: void(0)" onclick="curr=6; headexp()">
		<div id="head5" class="headele">
			<p class="headtxt" style="font-size:20px;">Registration</p>
			<img class="headimg" src="/2016/static/iot/img/icons/reg.png">
		</div>
	</a></div>
	<div><a  href="javascript: void(0)" onclick="curr=7; headexp()">
		<div id="head6" class="headele">
			<p class="headtxt" style="font-size:20px;">Contact Us</p>
			<img class="headimg" src="/2016/static/iot/img/icons/phone.png">
		</div>
	</a></div>
</div>

<div class="home">
	<div id="dim">
	<div id="hideToggle" style="display:none;">
		<img src="/2016/static/iot/img/aplogo.png" class="aplogo">
		<img src="/2016/static/iot/img/Texas-Instruments-Logo.png" class="mainlog">
		<div class="prsnts">presents</div>
		<div class="hdtxt">IoT challenge</div>
	</div>
	</div>
</div>

<div id="content1" class="content">
	<a href="javascript: void(0)" onclick="home()"><p class="close"> X </p></a>
	<div class="scroller">
		<br>
		<div class="title_head">Internet of Things</div>
		<div>
		<div class="quote">
			“Over time the IoT is going to be very much like this fabled elephant — that it will be much, much bigger than any of us can imagine it being today.”                      
			</div>
			<div style="margin-top:10px;text-align:right">- CEO, Silicon Labs</div>
			<br><br>
<p>
The Internet of Things (IoT) is an environment in which objects, animals or people are provided with unique identifiers and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction. A thing, in the Internet of Things, can be a person with a heart monitor implant, a farm animal with a biochip transponder, an automobile that has built-in sensors to alert the driver when tire pressure is low -- or any other natural or man-made object that can be assigned an IP address and provided with the ability to transfer data over a network. 
</p><p>
IoT has touched and changed human lives in myriad ways and is continuing to do so making 
machines smart human extensions.</p>
		</div>
	</div>
</div>

<div id="content2" class="content">
	<a href="javascript: void(0)" onclick="home()"><p class="close"> X </p></a>
	<div class="scroller">
		<br>
		<div class="title_head">IoT Challenge</div>
		<div>
			<p>IoT Challenge is a one-of-a-kind platform where participants will get all the required tools from Texas Instruments to give a real form to their creative IoT solutions.</p>
			<p>The uniqueness and beauty of this challenge is that there will not be a particular problem statement. The teams can ideate an IoT solution in any of the facets of human life to make it simpler, easier, more convenient, or more systematic. The teams can explore their minds in a wide range of fields.</p>
			<p>In the preliminary round, teams will have to submit their solution in a detailed written form on the online portal. The teams whose solutions are innovative and feasible will be selected for the final round. They will be provided a toolkit with all the necessary equipments to build a working prototype of their idea over a period of 25 days. The selected teams will present their prototypes at APOGEE-2016 before a panel of expert judges.</p>
			<p>Each member of the winning team will be given TI’s smartwatch. So along with creating your own IoT prototype you can get one created by the maestros! All the teams presenting their solutions in the final round will get certificates from TI  and their own to-be IoT device.</p>
		</div>
	</div>
</div>

<div id="content3" class="content">
	<div id="rules2" class="rules">
		<a id="home" href="javascript: void(0)" onclick="home()"><p class="close"> X </p></a>
		<div class="scroller">
			<div class="title_head">Rules</div>
			<ul style="font-size: 1.0em;text-align:justify">
				<li>Participants have to form teams of 2-4.</li>
				<li>In the preliminary round, teams will have to register by submitting their solution in a detailed written form on the online portal by <b>25nd Jan.</b></li>
				<li>The teams with innovative and feasible solutions will be selected for the final round. Results of the preliminary round will be announced online.</li>
				<li>The selected teams will be provided a tool kit by TI containing all the necessary equipments to build an IoT working prototype till 2nd Feb.</li>
				<li>Use of non-TI processors will lead to disqualification.</li>
				<li>The teamswill present their working prototype at APOGEE-2016 before a panel of expert judges.</li>
				<li>Each member of the winning team will get TI's smartwatch. Apart from this, all the teams presenting their solution in the final round will get certificates from TI.</li>
			</ul>
		</div>	
	</div>
</div>

<div id="content4" class="content">
	<div id="rules3" class="rules">
		<a id="home" href="javascript: void(0)" onclick="home()"><p class="close"> X </p></a>
		<div class="scroller" style="text-align:center;">
			<img src="/2016/static/iot/img/Texas-Instruments-Logo.png" style="width:80%;max-width:500px;">
			<p style="padding-top:20px;font-size:1.2em;text-align:center">We are honoured to have Texas Instruments as the event sponsor for IoT Challenge 2016.</p>
			<p style="padding-top:20px;font-size:1.2em;"><b>Texas Instruments</b>, a global semiconductor company operating in 35 countries, have over 30,000 employees who design, manufacture and sell analog and embedded processing chips with an aim to change the world through technology. At TI, they redefine what's possible and improve people's lives with their technologies that make cities smarter, cars safer, factories more automated and bring life-connected wearable products to make us healthier.</p>
			<p style="padding-top:20px;font-size:1.2em;">Analysts estimate that over 50 billion devices will be connected to the Internet by 2020. In this exploding Internet of Things, users, things and cloud services connect using the Internet to enable new cases and models. TI is the only semiconductor company with all of the building blocks to enable the IoT. TI makes developing applications easier with hardware, software, and support to get anything connected within the IoT.</p>
		</div>		
	</div>
</div>

<div id="content5" class="content">

	<div id="rules4" class="rules">
		<a id="home" href="javascript: void(0)" onclick="home()"><p class="close"> X </p></a>
		<div class="scroller">
			<div class="title_head">FAQs</div>
			<div style="font-size: 0.8em">
				<p style="font-weight: bold;">1. Can teams be formed from different colleges or different years? </p>
				<p style="padding-left:20px;">Yes</p>
				<p style="font-weight: bold;">2. Is registration to be done before abstract submission? </p>
				<p style="padding-left:20px;">No. Registration will be done along with abstract submission.</p>
				<p style="font-weight: bold;">3. In what form is the abstract to be submitted? </p>
				<p style="padding-left:20px;">The abstract should contain a detailed description on reason of choosing the idea, the need of the device and the step by step execution plan to build it. It may include designs, structures, tables, etc. It  will be a MS-Word file to be submitted on the online portal of APOGEE.</p>
				<p style="font-weight: bold;">4. How will outstation students receive the tool kits?</p>
				<p style="padding-left:20px;">The tool kits will be shipped to their respective places by the given date. They will have to make their own arrangements to reach Pilani at the time of APOGEE.</p>
				<p style="font-weight: bold;">5. Can tools outside the tool kit be used for making the prototype? </p>
				<p style="padding-left:20px;">The tool kit will contain a Launchpad. The Energia IDE software of TI can be downloaded freely from the website - www.energia.nu. Participants can order sensors and other related ICs free of cost from the TI e-store.(They will have to place the order using their college email address). Apart from this, use of non-TI processors will lead to disqualification.</p>
				<p style="font-weight: bold;">6. What will be the criteria for judgement?</p>
				<p style="padding-left:20px;">For the preliminary round, solutions will be checked based on feasibility, uniqueness and scope of the idea. For the final round, solutions will be judged on the basis of implementation of the proposed plan and innovative use of tools.</p>
			</div>
		</div>
	</div>
</div>

<div id="content6" class="content">
	<div id="rules5" class="rules">
		<a id="home" href="javascript: void(0)" onclick="home()"><p class="close"> X </p></a>
		<div class="scroller">
		<div style="font-size: 3em;font-weight:900;margin-top: 19%;text-align: center;position: relative;">watch for it... submission starts soon !</div>		
		</div>
	</div>
</div>

<div id="content7" class="content">
	<div id="rules5" class="rules">
		<a id="home" href="javascript: void(0)" onclick="home()"><p class="close"> X </p></a>
		<div class="scroller">
		<div class="title_head">Contact Us</div>
			<div style="font-size: 1.2em">
				<span style="font-size:1.4em;font-weight: bold">Vrunda </span><br> +91 8058923330<br><br>
				<span style="font-size:1.4em;font-weight: bold">Geeta </span> <br> +91 8503858092
			</div>		
		</div>
	</div>
</div>


<script src="/2016/static/iot/js/script.js"></script>
</body>
</html>