@font-face
{
    font-family: 'Open Sans', sans-serif;
}

html, body {
  width: auto;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body
{
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
@media (max-width: 800px) {
    html {
        overflow-y:scroll;
        font-size: 10px;
    }
    body {
          font-size: 10px;
         overflow: visible;
      }
   .topbar{
    display: none !important;
   }
   .navarrow{
    display: none !important;
   }
   .b1, .b2, .b4, .b3a {
        display: none !important;
   }
   .b3 {
    position: absolute !important;
    width:80% !important;
    top: 100% !important;
    left:10% !important;
    }
    .app-nav {
        display: block;
        position: fixed;
        top: 0;
        right: 25px;
        bottom: 0;
        height: 100%;
        z-index: 10;
    }
    .app-nav ul {
    position: relative;
    top:30%;
    }
    nav ol, nav ul {
        list-style: none;
        list-style-image: none;
    }
    .app-nav li {
        display: block;
        margin-bottom: 16px;
    }
    .app-nav li a {
        display: block;
        height: 8px;
        width: 8px;
        border: 3px solid #202024;
        background: #202024;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        margin: 0;
        position: relative;
    }
    a, a:hover, a:visited {
        color: #202024;
    }
    .app-nav li.active a, .active {
        background-color: #FFF !important;
        padding: 0;
    }
    .app-nav li a span {
        display: ;
        position: absolute;
        color: #FFF;
        background-color: #202024;
        font-weight: 400;
        text-align: right;
        top: -10px;
        width: ;
        padding: 5px;
        right: 21px;
    }
    .info {
        max-height: 60% !important;
    }

}
.app-nav{
    display: none;
}
.topbar {
    display: none;
    z-index: 1;
    background-color: #000;
    width:100%;
    color:white !important;
    text-align: center;
    position: fixed;
    top: 0px;
    margin: auto;
    left: 0px;
    height: 10%;
    font-size: 1.5em;
    cursor: pointer;
    border-collapse: collapse;
    opacity: 0.8;
    box-shadow: 0px -0px 100px #000;
}
.navitem{
    width: 16%;
    border:0px solid white;
}
.navarrow{
    display: none;
   width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(0,0,0,0.6);
    position: fixed;
    top:10%;
    left:0px;
    z-index: 3;
}
#content {
    display: none;
}
.bulb{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -101%;
}
.b1, .b2, .b4 {
    width: 2%;
    position: absolute;
}
.b1 {
    top: -5;
    left:15%;
}
.b2 {
    top: -5;
    left:60%;
}
.b3 {
    position: absolute;
    width:60%;
    top: 100%;
    left:20%;
}
.b3a{
     position: absolute;
    width:60%;
    top: 0;
    left:20%;
}
.b4 {
    top: -5;
    left:80%;
}

.bl {
    min-width: 300px;
    width: 35%;
    bottom: 5%;
    right: 3%;
    position: absolute;
}

.page {
    position: static;
    /*z-index: -1;*/
    /*margin:-20px;*/
    width: 100%;
    height: 100%;
    color: transparent;
    position: relative;
}
.p1 {
    background-image: url('../img/bg.jpg');
    background-size: cover;
}
.p2 {
    background-color: #d7d7d7;
}
.p3 {
    background-color: #099035;
}
.p4 {
    background-color: #d7d7d7;
}
.p5 {
    background-color: #e74d4d;
}
.p6 {
    background-color: #d7d7d7;
}
.p7 {
    background-color: rgb(71,41,128);
}
.p8 {
    background-color: #d7d7d7;
}

.ficon {
        font-size: 500px !important;
    position: absolute;
    color: rgba(0,0,0,0.1);
    margin-top: 100px;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #FFF;
    width: 100%;
    height: 100%;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.head {
    color: #000;
    font-size: 3em;
    text-align: center;
    position: relative;
    top: 14%;
    font-weight: bold;
}
.info {
    color: #000;
    font-size: 1.5em;
    text-align: justify;
    position: relative;
    top: 20%;
    max-width: 80%;
    max-height: 75%;
    overflow-y:auto;
    overflow-x:hidden;
    margin-left: 10%;
}
#spon {
    float: right;    
    margin: 40px 15px 10px 40px; 
    width:30%;
}
#page6 caption {
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    width: 400px;
}