<html>
<head>
	<title>Apogee Innovation Challenge 2016</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/2016/static/aic2016/css/style.css">
    <link rel="icon" href="/2016/static/aic2016/img/favicon.ico" type="image/ico">
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="/2016/static/aic2016/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- NAVIGATION -->
	  <table id="topbar" class="topbar" >
            <tr>
                <td id="tb1" class="navitem" data-page="1" onclick="getpgno(this)" href="#page1">Home</td>
                <td id="tb2" class="navitem" data-page="2" onclick="getpgno(this)" href="#page2">Overview</td>
                <td id="tb3" class="navitem" data-page="3" onclick="getpgno(this)" href="#page3">AIC 2015</td>
                <td id="tb4" class="navitem" data-page="4" onclick="getpgno(this)" href="#page4">Rules</td>
                <td id="tb5" class="navitem" data-page="5" onclick="getpgno(this)" href="#page5">Companies</td>
                <td id="tb6" class="navitem" data-page="6" onclick="getpgno(this)" href="#page6">Sponsor</td>
                <td id="tb7" class="navitem" data-page="7" onclick="getpgno(this)" href="#page7">FAQs</td>
                <td id="tb8" class="navitem" data-page="8" onclick="getpgno(this)" href="#page8">Contact</td>
            </tr>
        </table>
	<div id="navarrow" class="navarrow" ></div>
<!-- MOBILE NAV -->
	<nav class="app-nav">
	<ul>
	<li onclick="changeClass(this)">
	<a href="#page1" onclick="changeClass(this)">
			<span>Home</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page2" onclick="changeClass(this)">
			<span>Overview</span>
	</a>
	<li onclick="changeClass(this)">
	<a href="#page3" onclick="changeClass(this)">
			<span>AIC&nbsp;2015</span>
	</a>
	</li>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page4" onclick="changeClass(this)">
			<span>Rules</span>
	</a>
	</li>
	
	<li onclick="changeClass(this)">
	<a href="#page5" onclick="changeClass(this)">
			<span>Companies</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page6" onclick="changeClass(this)">
			<span>Sponsor</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page7" onclick="changeClass(this)">
			<span>FAQs</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page8" onclick="changeClass(this)">
			<span>Contact</span>
	</a>
	</li>
	</ul>
	</nav>
<!-- LANDING -->
<div id="page1" class="page p1">
	<div class="bulb" id="bulb">
		<img id="b1" class="b1" src="/2016/static/aic2016/img/bulb1.png">
		<img id="b2" class="b2" src="/2016/static/aic2016/img/bulb1.png">
		<img id="b3" class="b3a" src="/2016/static/aic2016/img/bulb2.png">
		<img id="be" class="b3" src="/2016/static/aic2016/img/bulb4.png" >
		<img id="bf" class="b3" src="/2016/static/aic2016/img/bulb3.png">
		<img id="b4" class="b4" src="/2016/static/aic2016/img/bulb1.png">
	</div>
	<a href="http://bits-apogee.org"><img class="bl" src="/2016/static/aic2016/img/logo.png"></a>
</div>






<!-- PAGES -->

	<div id="page2" class="page p2">
 			<i class="fa fa-tags ficon"></i>
 			<div class="head">About</div>
 			<div class="info">
 				<b>APOGEE Innovation Challenge</b>, an exceptional technical symposium, aims at quenching your thirst for hands-on experience in real life problems plaguing the industrial world.<br><br>  Organized in collaboration with various multinational companies, this event presents before you existing challenges faced by these companies who seek their solutions from you. These problems, which happen to be discipline specific (one need not belong to that discipline), are to be solved by participants in teams of 2-4 in a month. After scrutiny by company officials, top 5 teams will be presenting their final solutions during APOGEE ‘16.<br><br> Exciting Internship Offers and Cash Prizes await the winners. Needless to say, you can brag about cracking a professional challenge while still being in college. Participation Certificate shall be given to all members of each team which present solutions during APOGEE ‘16.
 			</div>
 	</div> 

 	<div id="page3" class="page p3">
		<i class="fa fa-history ficon"></i>
 			<div class="head">Apogee Innovation Challenge 2015</div>
 			<div class="info">
 				Apogee Innovation Challenge 2015 which was a kernel event of APOGEE 2015 and saw huge success with problem statements from 7 companies and a participation of over 200 students. Of the 30+ interns taken, few of them were given job offers as well. <br><br>The participating companies of last year include: Schneider Electric, GoDoctr, Techture, Mindshare, Luminous, Maruti Suzuki, Larsen and Turbo

 			</div>
 	</div> 

 	<div id="page4" class="page p4">
 		<i class="fa fa-cogs ficon"></i>
 			<div class="head">Rules</div>
 			<div class="info">
 				<ul>
 					<li>Participants are to form teams of 2-4 students</li>
 					<li>The participants would be given a period of around 25-30 days from the day of release of the problem statements to work on their own solutions.</li>
 					<li>The participants must upload their proposed preliminary solutions in whatever form desired by the companies (Report, files, etc.) on the portal given in the APOGEE website.</li>
 					<li>The preliminary reports would be examined by the companies and top five (maybe more) teams for each problem statement would be selected to give a more detailed presentation on their proposed solutions during APOGEE ’16 to judges from the respective companies.</li>
 					<li>Internships/ Cash Prizes shall be offered to the winning teams (one or more from each category).</li>
 				</ul>

 			</div>
 	</div> 

 	<div id="page5" class="page p5">
		<i class="fa fa-briefcase ficon"></i>
		<div class="company-info">
			

		</div>
		
 	</div> 
	
 	<div id="page6" class="page p6">
 			<i class="fa fa-star ficon"></i>
 			<div class="head">Sponsor</div>
 			<div class="info" >
 				We are proud to have Schneider Electric as the event sponsor for Apogee Innovation Challenge 2016. Schneider Electric is a European multinational corporation that specializes in electricity distribution, automation management and produces installation components for energy management. It is headquartered in Rueil-Malmaison, France.<img src="/2016/static/aic2016/img/sponslogo.jpg" id="spon">
 				<br><br>
				As the global specialist in energy management and automation, Schneider Electric serves customers in over 100 countries, helping them to make their lives and ecosystems safe, reliable, efficient and sustainable. From the simplest of switches to complex operational systems, their technology, software and services improve the way their customers manage and automate their operations. At Schneider Electric, they call this Life is On.

 			</div>
 	</div> 

	<div id="page7" class="page p7">
			<i class="fa fa-question-circle ficon"></i>
 			<div class="faqwrapper"></div>
 	</div> 

	<div id="page8" class="page p8">
			<i class="fa fa-envelope ficon"></i>
 			<div class="head">Contact Us</div>
 			<div class="info">
 				<table>
 				<caption>Geeta Bansal<br><span style="font-size:0.7em">Co-ordinator, AIC 2016<span></caption>
                    <tr>
                        <td><i class="fa fa-envelope" style="font-size: 30px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;geetabansal456@gmail.com</td>
                    </tr><tr>
                        <td><i class="fa fa-phone" style="font-size: 30px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;+91-8503858092</td>
                    </tr>
                </table>
 			</div>
 	</div> 
 	

</div>
<!-- JAVASCRIPT -->
<!-- <script src="js\jquery.js"></script> -->
<script type="text/javascript">
// console.log(window.innerWidth);
// 	function show() {
// 		document.getElementById("topbar").style.visibility = "visible";
// 		document.getElementById("navarrow").style.visibility = "visible";
// 		document.getElementById("content").style.visibility = "visible";
// 	}
$(document).ready(function() {
	location.href="#page1";
	if(window.innerWidth > 800){    
		$("#bf").hide();
		$("#be").hide();
   	setTimeout(function() {$("#bf").fadeIn(1000);},4500);
   	$("#b1").animate({top: '100%', width:'7%'},1000);
   	setTimeout(function() {$("#b4").animate({top: '100%', width:'7%'},1000);},1000);
   	setTimeout(function() {$("#b3").animate({top: '100%', width:'60%'},1000);},1500);
   	setTimeout(function() {$("#b2").animate({top: '100%', width:'7%'},1000);},2000);
   	setTimeout(function() {$("#be").fadeIn(1000)},3000);
   	setTimeout(function() {showIt()},4500);
	}});
function showIt() {$(function() {
  $("#topbar").fadeIn(1500);
  $("#navarrow").fadeIn(1500);
  $("#content").fadeIn(1500);
})};

// When Document is resized

$(window).resize(function() {
	if(window.innerWidth > 800){ 
	   // location.href="#page1";
		$("#bf").hide();
		$("#be").hide();
   	setTimeout(function() {$("#bf").fadeIn(1000);},4500);
   	$("#b1").animate({top: '100%', width:'7%'},1000);
   	setTimeout(function() {$("#b4").animate({top: '100%', width:'7%'},1000);},1000);
   	setTimeout(function() {$("#b3").animate({top: '100%', width:'60%'},1000);},1500);
   	setTimeout(function() {$("#b2").animate({top: '100%', width:'7%'},1000);},2000);
   	setTimeout(function() {$("#be").fadeIn(1000)},3000);
   	showIt();
	}
	if(window.innerWidth < 800) { 
	$('.app-nav').hide();
	var visi=false;
	$(window).scroll(function() {
		// console.log(visi);
		if (visi===false) { 
		$('.app-nav').fadeIn();
		visi=true;
		setTimeout(function() {$('.app-nav').fadeOut();
		visi=false;
		$(".active").removeClass("active");	},2000);
		}});
	}

});

</script>
<!-- PAGE LINKING -->
<script type="text/javascript">
	var cpg=1;
	function getpgno(tag) {
		var cpg = tag.getAttribute("data-page");
		// location.href= "#page2"
		var cpg = parseInt(cpg);
		// console.log(cpg);
		switch (cpg) {
			case 1:
			$("#navarrow").animate({left: '5%'},500)
			break;
			case 2:
			$("#navarrow").animate({left: '17.5%'},500)
			break;
			case 3:
			$("#navarrow").animate({left: '30%'},500)
			break;
			case 4:
			$("#navarrow").animate({left: '42.5%'},500)
			break;
			case 5:
			$("#navarrow").animate({left: '55%'},500)
			break;
			case 6:
			$("#navarrow").animate({left: '67.5%'},500)
			break;
			case 7:
			$("#navarrow").animate({left: '80%'},500)
			break;
			case 8:
			$("#navarrow").animate({left: '92.5%'},500)
			break;
		};
	};
	// console.log(cpg);
	switch (cpg) {
		case 1:
		$("#navarrow").animate({left: '6%'},500)
		break;
	};
</script>
<!-- FOR MOBILE NAV -->
<script type="text/javascript">
if(window.innerWidth < 800) { 
	$('.app-nav').hide();
	var visi=false;
	$(window).scroll(function() {
		// console.log(visi);
		if (visi===false) { 
		$('.app-nav').fadeIn();
		visi=true;
		setTimeout(function() {$('.app-nav').fadeOut();
		visi=false;
		$(".active").removeClass("active");	},2000);
		}});
	function changeClass(div) {
		// console.log($(".active"));
		$(".active").removeClass("active");				
		var className=div.getAttribute("class");
		div.className="active";
	}
}
</script>
<!-- SMOOTH SCROLL -->
<script type="text/javascript">
 $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      // console.log(target);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
 $('td').on('click',function(){
    $('body').animate({
        scrollTop : ($( $.attr(this, 'href') ).offset().top) - ($('#page1').offset().top)
    }, 500);
    return false;
});
</script>

<script> 

var faqobj = [
	{ "ques" : "When will the internships take place ?", "ans" : "The internships are mostly going to be taking place in the summer of 2016. However, specific dates and period of the internships are subject to discussion."},
	{ "ques" : "Can we make teams of students from different years ?", "ans" : "Yes you can. "},
	{ "ques" : "In what form must the solutions to problem statements be submitted ?", "ans" : "Most of them are to be uploaded as reports in document formats (MS Word, pdf,etc.). Attached excel files, etc. maybe required for some companies."},
	{ "ques" : "Some companies have multiple problem statements? Which one must we work on?", "ans" : "You can work on any of the problem statements given."},
	{ "ques" : "Can we solve problem statements for multiple companies?", "ans" : "Yes. Solutions are to be uploaded separately for each company in the upload section."},
	{ "ques" : "What must the solutions contain?", "ans" : "They must contain a preliminary solution to the problem statement. The more detailed they are, higher the chances of getting selected for the final round."},
	{ "ques" : "What will be there for the final round?", "ans" : "A detailed presentation on the final solutions must be given by the selected teams during APOGEE 16. Winning teams will be given either internships or cash prizes."},
	{ "ques" : "Are there any participation certificates?", "ans" : "Participation certificates will be given to all the members of each team which present solutions during APOGEE 16."}

];

var open = 0;

function initFaq() {
	var content = "";
	for(var i=1,box="",abox="";i<=faqobj.length;i++,abox="",qbox="") {
		var q = faqobj[i-1];
		qbox = "<div class='qbox' noq='"+i+"' id='qbox"+i+"'><i class='fa fa-circle-o'></i>&nbsp;&nbsp;&nbsp;&nbsp;"+q.ques+"</div>";
		abox = "<div class='abox' id='abox"+i+"'>"+q.ans+"</div>";
		content += qbox+abox;
	}
	$(".faqwrapper").html(content);

	$(".qbox").click(function() {

		var q = parseInt($(this).attr("noq"));
		if(q == open) {
			//close all
			$(".qbox").animate({"margin-top": "0px"}, 400);
			$(".abox").slideUp();
			open = 0;
		} else {
			if(open == 0) {
				//init
				//$(".qbox").animate({"line-height": "30px" }, 400);
				$("#abox"+q).slideDown();
				$("#qbox"+q).animate({"margin-top": "20px"}, 400);
			}
			else {
				//swap
				$(".qbox").animate({"margin-top": "0px"}, 400);
				$(".abox").slideUp();
				$("#qbox"+q).animate({"margin-top": "20px"}, 400);
				$("#abox"+q).slideDown();
			}
			open = q;
		}
	});
}



initFaq();


var companyData = [
	{
		"name" : "Schneider Electric",
		"imgl" : "/static/aic2016/companies/Fschneider.jpg",
		"info" : "Serving countries in over 100 countries helping them make their lives and ecosystems safe, reliable, efficient and sustainable, “The Global Specialist in Energy Management and Automation” improves the way customers manage electrical systems. Get a chance to win cash prizes up to 72k and a chance to be interviewed for the internship from this multinational company this APOGEE!",
		"link" : "/static/aic2016/problems/PSschneider.pdf"
	},
	{
		"name" : "Luminous",
		"imgl" : "/static/aic2016/companies/Fluminous.jpg",
		"info" : "The well known Luminous Power technologies is the leading home electrical specialist in India having a vast portfolio comprising of power back-up solutions like inverters, batteries, UPS and other electrical appliances. The winner of consumer Super-brand and rated as India’s most trusted brand is here in BITS to give cash prizes to the teams with the most  passionately innovative solutions.",
		"link" : ""
	},
	{
		"name" : "Sterling Engineering",
		"imgl" : "/static/aic2016/companies/Fsterling.jpg",
		"info" : "With years of experience and expertise in developing the best solutions for a variety of construction challenges, Sterling has earned a reputation of being one of the most cost-efficient and reliable engineering firms in the business providing services to over 3000 projects around the world. Give life to your designs and ideas this APOGEE by giving out-of-the-box solutions to their problem statement! ",
		"link" : "/static/aic2016/problems/PSsterling.pdf"
	},
	{
		"name" : "Wooplr",
		"imgl" : "/static/aic2016/companies/Fwooplr.jpg",
		"info" : "Introducing this APOGEE, India’s first fashion discovery app! Connecting sellers to shoppers and giving a personalized social touch to shopping, Wooplr has come a long way in providing the fashion markets with just what they need. Watch out for their problem statement that will tickle your creative bone!",
		"link" : "/static/aic2016/problems/PSwooplr.pdf"
	},
	{
		"name" : "HarVa",
		"imgl" : "/static/aic2016/companies/Fharva.jpg",
		"info" : "HarVa works as a link that fosters investments from the corporate world in the rural India. With an aim to take up the challenge of blending economic and social upliftment, HarVa takes Entrepreneurship to a new level. Discover the new avenues that this company opens up by working on their problem statements and get a chance to earn internships!",
		"link" : "/static/aic2016/problems/PSharva.pdf"
	},
	{
		"name" : "NextGen",
		"imgl" : "/static/aic2016/companies/Fnextgen.jpg",
		"info" : "NextGen, one of India’s leading Sustainability and Corporate Social Responsibility Management company, founded by BITSians, is here this APOGEE challenging you to come up with innovative solutions to manage Environmental footprint, Product life-cycles, and much more. Stay tuned for details…",
		"link" : ""
	},
	{
		"name" : "Bentley",
		"imgl" : "/static/aic2016/companies/Fbentley.jpg",
		"info" : "With more than 3000 colleagues in over 50 countries, Bentley provides the most comprehensive solutions for advancing infrastructure including roadways, bridges, airports and skyscrapers.  AIC  2016 presents to you the problem statement of this  global leader. Look out for more details",
		"link" : ""
	},
	{
		"name" : "Techture",
		"imgl" : "/static/aic2016/companies/Ftechture.jpg",
		"info" : "They aim to integrate the Architectural, Structural, Mechanical, Electrical and Plumbing disciplines by focusing on providing extensive design, analysis and visualisation services leveraging Building Information Modelling (BIM) and associated technologies. This APOGEE, 	solve their problem statements to earn internship opportunities.",
		"link" : "/static/aic2016/problems/PStechture.pdf"
	},
];

function initComp() {
	var html ="";
	for(var i=1;i<=companyData.length;i++) {
		var dat = companyData[i-1];

		var part = "<div class='company-block'><div class='company-img-block'><img class='company-img-holder' src='/2016"+dat.imgl+"'></div><div class='company-txt-block'><span style='font-size:21px'><b>"+dat.name+"</b></span><br>"+dat.info+"<br>";
		if(dat.link != "") {
			part += "<a href='/2016"+dat.link+"' target='_blank'><span class='pslink'><i class='fa fa-download'></i>&nbsp;&nbsp;&nbsp;download the problem statement</span></a></div></div>";
		} else
			part += "</div></div>";

		

		html += part;
	}
	$(".company-info").append(html);
}

initComp();

</script>



</body>
</html>