<html>
<head>
	<title>Apogee Innovation Challenge 2016</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/2016/static/aic2016/css/style.css">
    <link rel="icon" href="/2016/static/aic2016/img/favicon.ico" type="image/ico">
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="/2016/static/aic2016/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- NAVIGATION -->
	  <table id="topbar" class="topbar" >
            <tr>
                <td id="tb1" class="navitem" data-page="1" onclick="getpgno(this)" href="#page1">Home</td>
                <td id="tb2" class="navitem" data-page="2" onclick="getpgno(this)" href="#page2">Overview</td>
                <td id="tb3" class="navitem" data-page="3" onclick="getpgno(this)" href="#page3">Rules</td>
                <td id="tb4" class="navitem" data-page="4" onclick="getpgno(this)" href="#page4">AIC 2015</td>
                <td id="tb5" class="navitem" data-page="5" onclick="getpgno(this)" href="#page5">Sponsor</td>
                <td id="tb6" class="navitem" data-page="6" onclick="getpgno(this)" href="#page6">Contact</td>
            </tr>
        </table>
	<div id="navarrow" class="navarrow" ></div>
<!-- MOBILE NAV -->
	<nav class="app-nav">
	<ul>
	<li onclick="changeClass(this)">
	<a href="#page1" onclick="changeClass(this)">
			<span>Home</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page2" onclick="changeClass(this)">
			<span>Overview</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page3" onclick="changeClass(this)">
			<span>Rules</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page4" onclick="changeClass(this)">
			<span>AIC&nbsp;2015</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page5" onclick="changeClass(this)">
			<span>Sponsor</span>
	</a>
	</li>
	<li onclick="changeClass(this)">
	<a href="#page6" onclick="changeClass(this)">
			<span>Contact</span>
	</a>
	</li>
	</ul>
	</nav>
<!-- LANDING -->
<div id="page1" class="page p1">
	<div class="bulb" id="bulb">
		<img id="b1" class="b1" src="/2016/static/aic2016/img/bulb1.png">
		<img id="b2" class="b2" src="/2016/static/aic2016/img/bulb1.png">
		<img id="b3" class="b3a" src="/2016/static/aic2016/img/bulb2.png">
		<img id="be" class="b3" src="/2016/static/aic2016/img/bulb4.png" >
		<img id="bf" class="b3" src="/2016/static/aic2016/img/bulb3.png">
		<img id="b4" class="b4" src="/2016/static/aic2016/img/bulb1.png">
	</div>
	<a href="http://bits-apogee.org"><img class="bl" src="/2016/static/aic2016/img/logo.png"></a>
</div>






<!-- PAGES -->

	<div id="page2" class="page p2">
 			<i class="fa fa-tags ficon"></i>
 			<div class="head">About</div>
 			<div class="info">
 				APOGEE Innovation Challenge, an exceptional technical symposium, aims at quenching your thirst for hands-on experience in real life problems plaguing the industrial world.<br><br>  Organized in collaboration with various multinational companies, this event presents before you existing challenges faced by these companies who seek their solutions from you. These problems, which happen to be discipline specific (one need not belong to that discipline), are to be solved by participants in teams of 2-4 in a month. After scrutiny by company officials, top 5 teams will be presenting their final solutions during APOGEE ‘16.<br><br> Exciting Internship Offers and Cash Prizes await the winners. Needless to say, you can brag about cracking a professional challenge while still being in college. Participation Certificate shall be given to all members of each team which present solutions during APOGEE ‘16.
 			</div>
 	</div> 
 	<div id="page3" class="page p3">
 		<i class="fa fa-cogs ficon"></i>
 			<div class="head">Rules</div>
 			<div class="info">
 				<ul>
 					<li>Participants are to form teams of 2-4 students</li>
 					<li>The participants would be given a period of around 25-30 days from the day of release of the problem statements to work on their own solutions.</li>
 					<li>The participants must upload their proposed preliminary solutions in whatever form desired by the companies (Report, files, etc.) on the portal given in the APOGEE website.</li>
 					<li>The preliminary reports would be examined by the companies and top five (maybe more) teams for each problem statement would be selected to give a more detailed presentation on their proposed solutions during APOGEE ’16 to judges from the respective companies.</li>
 					<li>Internships/ Cash Prizes shall be offered to the winning teams (one or more from each category).</li>
 				</ul>

 			<!-- OLD CONTENT -->
 				<!-- <ol type="a">The competition will have two rounds:
 					<br><br>
				<li>Preliminary Round: The solutions of the problem statements (in the form of reports, files, etc. as desired by the different companies) and upload it on the registration portal. Your solutions will be judged by the company and the top 5 teams in each category will be selected.</li>

				<li>Second Round: The top 5 teams will present their solutions in APOGEE in front of judges from the companies and the winners will be chosen.
					Exciting Internship opportunities await the winners. Needless to say, you can brag about cracking a professional challenge while still being in college.</li>
				</ol> -->
 			</div>
 	</div> 
	<div id="page4" class="page p4">
		<i class="fa fa-history ficon"></i>
 			<div class="head">AIC 2015</div>
 			<div class="info">
 				AIC 2015 which was a kernel event of APOGEE 2015 and saw huge success with problem statements from 7 companies and a participation of over 200 students. Of the 30+ interns taken, few of them were given job offers as well. <br><br>The participating companies of last year include: Schneider Electric, GoDoctr, Techture, Mindshare, Luminous, Maruti Suzuki, Larsen and Turbo

 			</div>
 	</div> 
 	<div id="page5" class="page p5">
 			<i class="fa fa-star ficon"></i>
 			<div class="head">Sponsor</div>
 			<div class="info" >
 				We are proud to have Schneider Electric as the event sponsor for Apogee Innovation Challenge 2016. Schneider Electric is a European multinational corporation that specializes in electricity distribution, automation management and produces installation components for energy management. It is headquartered in Rueil-Malmaison, France.<img src="/2016/static/aic2016/img/sponslogo.png" id="spon">
 				<br><br>
				As the global specialist in energy management and automation, Schneider Electric serves customers in over 100 countries, helping them to make their lives and ecosystems safe, reliable, efficient and sustainable. From the simplest of switches to complex operational systems, their technology, software and services improve the way their customers manage and automate their operations. At Schneider Electric, they call this Life is On.

 			</div>
 	</div> 
	<div id="page6" class="page p6">
			<i class="fa fa-envelope ficon"></i>
 			<div class="head">Contact Us</div>
 			<div class="info">
 				<table>
 				<caption>Geeta Bansal<br><span style="font-size:0.7em">Co-ordinator<span></caption>
                    <tr>
                        <td><img src="/2016/static/aic2016/img/mail.png" style="height:20px;"></td>
                        <td>geetabansal456@gmail.com</td>
                    </tr><tr>
                        <td><img src="/2016/static/aic2016/img/phone.png" style="height:30px;"></td>
                        <td>+91-8503858092</td>
                    </tr>
                </table>
 			</div>
 	</div> 
 	

</div>
<!-- JAVASCRIPT -->
<!-- <script src="js\jquery.js"></script> -->
<script type="text/javascript">
// console.log(window.innerWidth);
// 	function show() {
// 		document.getElementById("topbar").style.visibility = "visible";
// 		document.getElementById("navarrow").style.visibility = "visible";
// 		document.getElementById("content").style.visibility = "visible";
// 	}
$(document).ready(function() {
	location.href="#page1";
	if(window.innerWidth > 800){    
		$("#bf").hide();
		$("#be").hide();
   	setTimeout(function() {$("#bf").fadeIn(1000);},4500);
   	$("#b1").animate({top: '100%', width:'7%'},1000);
   	setTimeout(function() {$("#b4").animate({top: '100%', width:'7%'},1000);},1000);
   	setTimeout(function() {$("#b3").animate({top: '100%', width:'60%'},1000);},1500);
   	setTimeout(function() {$("#b2").animate({top: '100%', width:'7%'},1000);},2000);
   	setTimeout(function() {$("#be").fadeIn(1000)},3000);
   	setTimeout(function() {showIt()},4500);
	}});
function showIt() {$(function() {
  $("#topbar").fadeIn(1500);
  $("#navarrow").fadeIn(1500);
  $("#content").fadeIn(1500);
})};

// When Document is resized

$(window).resize(function() {
	if(window.innerWidth > 800){ 
	   // location.href="#page1";
		$("#bf").hide();
		$("#be").hide();
   	setTimeout(function() {$("#bf").fadeIn(1000);},4500);
   	$("#b1").animate({top: '100%', width:'7%'},1000);
   	setTimeout(function() {$("#b4").animate({top: '100%', width:'7%'},1000);},1000);
   	setTimeout(function() {$("#b3").animate({top: '100%', width:'60%'},1000);},1500);
   	setTimeout(function() {$("#b2").animate({top: '100%', width:'7%'},1000);},2000);
   	setTimeout(function() {$("#be").fadeIn(1000)},3000);
   	showIt();
	}
	if(window.innerWidth < 800) { 
	$('.app-nav').hide();
	var visi=false;
	$(window).scroll(function() {
		// console.log(visi);
		if (visi===false) { 
		$('.app-nav').fadeIn();
		visi=true;
		setTimeout(function() {$('.app-nav').fadeOut();
		visi=false;
		$(".active").removeClass("active");	},2000);
		}});
	}

});

</script>
<!-- PAGE LINKING -->
<script type="text/javascript">
	var cpg=1;
	function getpgno(tag) {
		var cpg = tag.getAttribute("data-page");
		// location.href= "#page2"
		var cpg = parseInt(cpg);
		// console.log(cpg);
		switch (cpg) {
		case 1:
		$("#navarrow").animate({left: '7%'},500)
		break;
		case 2:
		$("#navarrow").animate({left: '23%'},500)
		break;
		case 3:
		$("#navarrow").animate({left: '40%'},500)
		break;
		case 4:
		$("#navarrow").animate({left: '57%'},500)
		break;
		case 5:
		$("#navarrow").animate({left: '73%'},500)
		break;
		case 6:
		$("#navarrow").animate({left: '90%'},500)
		break;
		case 7:
		$("#navarrow").animate({left: '23%'},500)
		break;
		case 8:
		$("#navarrow").animate({left: '23%'},500)
		break;
	};
	};
	// console.log(cpg);
	switch (cpg) {
		case 1:
		$("#navarrow").animate({left: '7%'},500)
		break;
	};
</script>
<!-- FOR MOBILE NAV -->
<script type="text/javascript">
if(window.innerWidth < 800) { 
	$('.app-nav').hide();
	var visi=false;
	$(window).scroll(function() {
		// console.log(visi);
		if (visi===false) { 
		$('.app-nav').fadeIn();
		visi=true;
		setTimeout(function() {$('.app-nav').fadeOut();
		visi=false;
		$(".active").removeClass("active");	},2000);
		}});
	function changeClass(div) {
		// console.log($(".active"));
		$(".active").removeClass("active");				
		var className=div.getAttribute("class");
		div.className="active";
	}
}
</script>
<!-- SMOOTH SCROLL -->
<script type="text/javascript">
 $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      // console.log(target);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
 $('td').on('click',function(){
    $('body').animate({
        scrollTop : ($( $.attr(this, 'href') ).offset().top) - ($('#page1').offset().top)
    }, 500);
    return false;
});
</script>



</body>
</html>