{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Apogee | Sponsors</title>
<link rel="shortcut icon" href="{% static 'cover/main/img/favicon.ico' %}" type="image/x-icon"/>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<style>
body{
	background-color: #2b333b;
	text-align: center;
}
html,body
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
#apogee_logo{
	position:relative;
	margin: 15px auto;
	width: 500px;
    max-width: 90%;
	min-width:250px;
}
#spons_title{
	font-size: 3em;
    text-align: center;
    margin: 20px 0;
    color: white;
}
.spons_cont {
    width: 300px;
    padding: 10px;
    cursor: pointer;
    margin: 20px 30px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.spons_cont a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}
.spons_title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #444;
    color: #f0f0f0;
    font-size: 20px;
    line-height: 30px;
}
.spons_img {
    width: 100%;
    padding: 2px;
    border: 1px solid #888;
}
</style>
</head>
<body>
<img src="{% static 'cover/main/img/logo.png' %}" id="apogee_logo">
<div id="spons_title">Sponsors</div>
<div style="text-align:center;">
    <div class="spons_row">
        <div class="spons_cont">
            <a href="http://www.sap.com/india/ms/sap-labs-india.html" target="_blank">
            <div class="spons_title">
                Associate Title
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/Sap.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row" style="display:none;">
        <div class="spons_cont">
            <a href="http://www.sap.com/india/ms/sap-labs-india.html" target="_blank">
            <div class="spons_title">
                Powered By
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/Sap.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="http://www.tata.com/company/profile/Tata-Sons" target="_blank">
            <div class="spons_title">
                Litfest Title Sponsor
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/tata.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="https://www.bluedart.com/" target="_blank">
            <div class="spons_title">
                Logistics Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/bluedart.jpg' %}"></a>
        </div>
        <div class="spons_cont">
            <a href="https://www.gandour.com/" target="_blank">
            <div class="spons_title">
                Indulgence Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/gandour.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="http://rupapublications.co.in/" target="_blank">
            <div class="spons_title">
                Litfest Sponsor
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/rupa.jpg' %}"></a>
        </div>
        <div class="spons_cont">
            <a href="http://www.hachettebookgroup.com/" target="_blank">
            <div class="spons_title">
                Litfest Sponsor
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/hach.png' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="http://harpercollins.co.in/" target="_blank">
            <div class="spons_title">
                Litfest Sponsor
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/hc.jpg' %}"></a>
        </div>
        <div class="spons_cont">
            <a href="http://www.thesouledstore.com/" target="_blank">
            <div class="spons_title">
                Merchandise Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/tss.png' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="#" target="_blank">
            <div class="spons_title">
                SMS Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/tz.png' %}"></a>
        </div>
        <div class="spons_cont">
            <a href="http://www.youth4work.com/" target="_blank">
            <div class="spons_title">
                Campus Ambassador Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/Youth4work.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="http://www.campusindia.org/" target="_blank">
            <div class="spons_title">
                Media and Youth Outreach Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/CampusGuide.jpg' %}"></a>
        </div>
        <div class="spons_cont">
            <a href="https://www.instamojo.com/" target="_blank">
            <div class="spons_title">
                Payment Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/instamojo.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="http://www.verint.com/" target="_blank">
            <div class="spons_title">
                Silver Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/verint.jpg' %}"></a>
        </div>
        <div class="spons_cont">
            <a href="http://jarvisindia.net/" target="_blank">
            <div class="spons_title">
                Outreach Workshops Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/Jarvis.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont">
            <a href="http://www.twenty19.com/" target="_blank">
            <div class="spons_title">
                Workshops Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/Twenty19.jpg' %}"></a>
        </div>
        <div class="spons_cont">
            <a href="http://authentictechs.com/" target="_blank">
            <div class="spons_title">
                Workshops Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/AuthenticTechs.jpg' %}"></a>
        </div>
    </div>
    <div class="spons_row">
        <div class="spons_cont" style="display:none;">
            <a href="https://www.bluedart.com/" target="_blank">
            <div class="spons_title">
                Aleph Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/aleph.jpg' %}"></a>
        </div>
        <div class="spons_cont" style="display:none;">
            <a href="http://techdefence.com/" target="_blank">
            <div class="spons_title">
                Partner
            </div>
            <img class="spons_img" src="{% static 'cover/main/img/spons/Techdefence.jpg' %}"></a>
        </div>
    </div>
</div>
</body>
</html>