<html>
	<head>
		<title>APOGEE 2016 | International Technical Festival | BITS Pilani</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="EN">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content = "Apogee is a large scale event that has attracted the connoisseurs of engineering and technology over years. It represents the zenith of science and engineering in a landscape of future visionaries and scientists."/>
    	<meta name = "keywords" content = "apogee, technical Festival, techfest, tech fest, bits pilani, apogee 2016, bits tech fest, bits fest, birla institute of technology and science"/>
	    <meta name="robots" content="index, follow">
	    <meta name="googlebot" content="index, follow">
	    <meta name="copyright" content="Copyright © 2016, Department Of Visual Media, BITS Pilani">
	    <meta name="author" content="Department Of Visual Media, BITS Pilani">
	    <meta name="email" content="dvm@bits-oasis.org">
	    <meta name="rating" content="general">
	    <meta name="distribution" content="Global">
	    <meta name="revisit-after" content="1 days">
    
	    <link type="image/x-icon" rel="shortcut icon" href="" />
		<link rel="stylesheet" type="text/css" href="/2016/static/cover/pre/assets/css/style.css">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href="/2016/static/cover/pre/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	
	</head>

	<body> 
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=459083257592540";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		</script>

		<script type="text/javascript" src="/2016/static/cover/pre/assets/js/grad.js"></script>
		<div id="gradient" ></div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1 logo-wrapper">
				<img src="/2016/static/cover/pre/assets/img/logo.png">
			</div>
			<div class="col-md-10 col-md-offset-1 only-logo-wrapper">
				<img src="/2016/static/cover/pre/assets/img/only-logo.png">
			</div>
			<div class="col-md-8 col-md-offset-2 text-wrapper">
				<b>APOGEE</b>, the annual technical festival of BITS Pilani, is a large scale event that has attracted the connoisseurs of engineering and technology over the years. It represents the zenith of science and engineering in a landscape of future visionaries and scientists.
				<br><br>
				<i class="fa fa-check"></i>&nbsp;<span class="tuned"><a class='tuned-link' href="portal/">Check out the portal for updates and registrations...</a></span>
			</div>

			<div class="col-md-10 col-md-offset-1 footer-wrapper">
				<div class="fb-like" data-href="https://www.facebook.com/bitsapogee?fref=ts" data-width="400px" colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" style="color: white"></div>
				<a href="mailto:webmaster@bits-apogee.org"><div class="last-year">Write to us&nbsp;&nbsp;<i class="fa fa-envelope "></i></div></a><a href="bits-apogee.org/2015main/"><div class="last-year">Visit last year's website&nbsp;&nbsp;<i class="fa fa-external-link "></i>&nbsp;&nbsp;|&nbsp;&nbsp;</div></a>
			</div>
			

			
		</div>

	</body>

</html>