/*---------------------Z-index----------------------------------*/
/*
	
	loader								1000
	Menu								199
	Login|Register						199
	Overlay								200
	side-bar							201
	login-reg-box 						500
	Onilne Events Page					700
	gen_lightbox						900
	controls (all)						10
	map 								1




*/
/*-------------------GENERAL-----------------------------*/
html,body{
	padding: 0;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	overflow: hidden;
	font-family: 'Lato';
	background-color: #333;
}
*{
	box-sizing:border-box;
}
.abs_center{
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	left:0;
	right: 0;
}
.ver_center{
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto 0;
}
.hor_center{
	position: absolute;
	margin: 0 auto;
	left:0;
	right: 0; 
}

/*-----------------------NAV + PROFILE-ICONS-----------------------------*/
nav{
	position: absolute;
	left: -370px;
	width: 350px;
	height: 100%;
	top: 0;
	padding: 0;
	margin: 0;
	background: #fafafa;
	z-index: 201;
	box-shadow: 0px 10px 20px #000;

}
.sidebar-icon-box {
	width: 60px;
	text-align: center;
	position: relative;
	float: left;
	color : #555;
}
.navtext {
	padding-left: 17px;
	position: relative;
}
.htile{
	position: relative;
	float: left;
	width: 100%;
	padding: 2px 0px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	padding-left: 10px;
	color: #555;
	border-bottom: 1px solid #fafafa;
	border-top: 1px solid #fafafa;
} 
.htile:hover{
	color: #222;
	background-color: #eee;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eee;
} 
.aplogo {
	position: relative;
	float: left;
	width: 100%;
	background-color: #4285F4 !important;
	height: 225px;
}
.closeside {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: rgba(255,255,255,0.5);
	cursor: pointer;
}
.closeside:hover {
	color: rgba(255,255,255,1);
}
.sidelogo
{
	width: 78%;
}
#overlay{
	height: 100%;
	width: calc(100%);
	display: none;
	background: rgba(1,1,1,0.6);
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 200;
	box-shadow: 0px 10px 50px #333 inset;
}
#burgernav{
	background: #fafafa;
	top: 20px;
	left: 25px;
	padding: 10px 20px;
	position: absolute;
	z-index: 199;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	font-size: 19px;
	font-weight: 300;
	line-height: 20px;
	color: #555;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}
#burgernav:hover{
	color: #333;
}

.burgeranim{  
	-webkit-animation: navanim 0.27s 1 linear;
	-webkit-animation-delay: 0.03s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes navanim{0%{left: 25px;background: #4099ff;color: #404040;}
100%{left: 300px;background: #4099ff;color: #404040;}}

.burgeranim2{ 
	-webkit-animation: navanim2 0.27s 1 linear;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes navanim2{0%{left: 300px;}
100%{left: 25px;}}
#login{
	right: 20px;
	position: absolute;
	background: #fafafa;
	top: 20px;
	padding: 10px 20px;
	z-index: 199;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	font-size: 19px;
	font-weight: 300;
	line-height: 20px;
	color: #555;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	/*display: none;*/
}  
#login:hover{
	color: #333;
}  
#user-sign-cont
{	
	position: absolute;
	top: 20px;
	right: 20px;
	color:#f0f0f0;
	text-shadow:1px 1px #444;
	font-weight: bold;
	cursor: pointer;
	display: none;
}
#user-sign-cont>div:hover{color:#eee;}
#user-sign-cont>div{display: inline-block;padding: 10px;position: relative;}
#user-sign-cont span{padding: 5px;font-size: 17px;}

#view_profile
{
	position: absolute;
	top:100%;
	text-align: center;
	min-width: 100%;
	display: none;
	text-shadow:none;
}
#user-sign-cont>div:hover>#view_profile{display: block;}
#view_profile>div:nth-child(1)
{
	top:-5px;
	height: 30px;
	width: 30px;
	left: 20px;
	position: absolute;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background-color: #f0f0f0;
}
#view_profile>div:nth-child(2)
{
	padding: 8px 15px;
	background-color: #f0f0f0;
	color: #606060;
	position: relative;
	border-radius: 5px;
}

.sideicons{
	font-size:22px; 
	line-height:50px;
	padding-left: 5px;
}
/*Common Lightbox*/
.gen_lb_cont{
	overflow-y: auto; 
	z-index: 900;
}
.close_gen_lb{
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.6;
	z-index: 1;
    font-size: 1.2em;
	-moz-transition: opacity 300ms ease;
	-webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}
.close_gen_lb:hover{
	opacity: 1;
}
.gen_lb{
	position: relative;
    margin: 10px auto;
    min-width: 70%;
    width: 450px;
    max-width: 100%;
    min-height: 80%;
    font-family: 'Lato',sans-serif;
    background-color: #fff;
    z-index: 1000;
}
.lb_head_cont{
	position: relative;
	text-align: center;
	font-size: 2.5em;
	font-weight: 900;
	padding: 25px 0;
	border-bottom: 1px solid #000;
}
.lb_icon{
	width: 50px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}
.lb_icon>img{
	width:100%;
}
.lb_head{
	display:inline-block;
}
.lb_descr{
	position: relative;
	padding: 25px 10% 20px 10%;
	overflow:auto;
	font-size: 1.3em;
    font-weight: 300;
}
/*Common Lightbox END###########*/
/*---------------------HOME-------------------------------------*/
#home
{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(./../img/grid.svg) repeat;
	background-size: 25px 15px;
}

#map_control
{
	z-index: 1;
	position: absolute;
	bottom: 25px;
	right: 20px;
	height: auto;
	width: 80px;
}

.zoom-icon
{
	background-color: #f1f1f1;
	position: absolute;
	width: 30px;
	height: 30px;
	left:0;
	right: 0;
	cursor: pointer;
	margin: auto;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	border-radius: 2px;
	z-index: 10;
}
.zoom-in{top:0;}
.zoom-out{bottom:0;}

.zoom-panel
{
	position: relative;
	height: 220px;
	padding-top: 125px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.zoompanreset-icon
{
	margin: 15px auto;
	position: relative;
	height: 30px;
	width: 30px;
	color: #777;
	background-color: #fafafa;
	cursor: pointer;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	border-radius: 10000px;
	z-index: 10;

}
.zoompanreset-icon:hover {color: #333;}
.zoom-range
{
	/*position: absolute;*/
	/*bottom: 20px;*/
	/*padding-top: 130px;*/
	transform: rotate(-90deg);
	height: 50px;	
	padding-top: 14px;
	/*width: 180px;*/
}
.zoom-but {
	font-size: 18px;
	width: 30px;
	text-align: center;
	line-height: 32px;
	color: #555;
}
.zoom-but:hover {
	color: #333;
}
input[type="range"] {
	-webkit-appearance: none !important;
	width: 160px;
	height: 6px;
	background-color: #fafafa;

	box-shadow: 0px 0px 2px #999;
	margin: auto;
	outline: none;
	transition: all 0.3s ease;
}
input[type="range"]:hover {
	box-shadow: 0px 0px 1px 1px #555;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	width: 20px;
	height: 20px;
	background-color: #ddd;
	border-radius: 30px;
	box-shadow: 0px 0px 3px #3c6d59;
	transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
	background-color: #ccc;
	cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:active {
	box-shadow: 0px 0px 1px 1px #777;
}
.pan-panel
{
	position: relative;
	height: 70px;
	width: 70px;
	background-color: #fafafa;
	border-radius: 50%;
	margin:0px 5px; 
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.pan-icon
{
	position: absolute;
	display: inline-block;
	padding: 5px;
	line-height: 15px;
	height: 25px;
	width: 25px;
	text-align:center;
	color: #555;
	cursor: pointer;
}
.pan-icon:hover
{
	color: #333;
}
#social_updates {
	position: fixed;
	bottom: 25px;
	overflow: hidden;
	display: block;
	left: 30px;
	width: 300px;
}

.fbb {
	position: relative;
	float: left;
	margin-bottom: 12px;
}

.twb {
	margin-top: 10px;
	position: relative;
	float: left;
}

#building_info
{
	display: none;
	position: absolute;
}
#building_info>div
{
	display: inline-block;
	position: absolute;	
	left:35px;
	top:-61px;
	height: 34px;
	line-height: 34px;
	padding: 0 15px 0 10px;
	color: #555;
	background:  #f0f0d7;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	border-top-left-radius: 4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
}
#building_info>img{
	position:absolute;
	top:-61px;
	left: 10px;
	height: 51px;
}
#building_info.left>img
{
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	transform:scaleX(-1);
	left: auto;
	right: 10px;
}
#building_info.left>div
{
	border-top-right-radius: 4px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	left: auto;
	right: 35px;
}
#building_info.down_left>img{
	-webkit-transform:scale(-1,-1);
	-moz-transform:scale(-1,-1);
	transform:scale(-1,-1);
	top: 10px;
	left:auto;
	right: 10px;
}
#building_info.down_left>div{
	border-top-left-radius: 4px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	top: 27px;
	left:auto;
	right:35px;
}
#building_info.down_right>img{
	top: 10px;
	left:10px;
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	transform:scaleY(-1);
}
#building_info.down_right>div{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	top: 27px;
	left: 35px;
}
.struct
{
	cursor: pointer;
}

#login-reg-box{
    height:60%;
    width:80%;
    background:white;
    color:black;  
    background: #fafafa;
	z-index: 500;
	border-radius: 2px;
	color: #555;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02); 
    display: none;
}

#login-box {
	position: relative;
	float: left;
	box-sizing: border-box;
	padding: 20px 30px;
	width:calc(50% - 5px);
	border-right : 1px solid #ddd;
	height: auto
}

.login-head {
	font-weight: 900;
	font-size: 50px;
}

.login-desc {
    margin-top: 5px;
    text-align: justify;
    text-shadow: 1px 1px #fff;
    margin-bottom: 20px;
}

#reg-box {
	position: relative;
	float: right;
	width:calc(50% - 5px);

}

.login-reg-head {
	width: calc(100% - 20px);
    height: auto;
    border-bottom: 1px solid #bbb;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 0px 1px 0px #fff;
}

#loader {
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #f0eee7;
	position: absolute;
}
/*Online events*****************************************************************/
#close_events{
	position: absolute;
	top: 5px;
	left:0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 2em;
	cursor: pointer;
	text-align: center;
	background-color: #DB4837;
	z-index:10;
}
#events{
	background: url('../img/icon/back.svg');
	background-size: 100% auto;
	font-family: 'Lato', sans-serif;
	z-index: 700;
}

#event_top,#event_bottom
{
	position: absolute;
	left:0;
	right: 0;
	margin: auto;
	width: 20%;
	height: 100px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-left: 20px solid #02567e;
	border-right: 20px solid #02567e;
	background-color: #f9fbd6;
	overflow: hidden;
}
#event_top{bottom:100%;}
#event_bottom{top: 100%;}
#wire_cood{
	position: absolute;
	bottom:100%;
	right: 30px;
	width:150px;
}
#event_left,#event_right
{
	position: absolute;
	width: 1120px;
	top:0;
	bottom: 0;
	margin: auto;
	height: 140px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-top: 20px solid #02567e;
	border-bottom: 20px solid #02567e;
	background-color: #001328;
}
#event_left{right:100%;}
#event_right{left: 100%;}

#event_prev
{
	width: 959px;
	height: 540px;
	background-color: black;
	background: url("../img/icon/bgs.svg");
	/*background-repeat: repeat-x;*/
    background-size: 7672px 540px;
    background-position: 0 0; 
    border-radius: 20px;
    -webkit-transition: background-position 500ms ease;
    transition: background-position 500ms ease;
}

#event_left .strip {background-position: 0px 0; }
#event_right .strip {background-position: -140px 0; }
.strip{
	background: url("../img/icon/strip.png");
	/*background-repeat: repeat-x;*/
    background-size: auto 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: background-position 500ms ease;
    transition: background-position 500ms ease;
    width: 1120px;
}

.e_strip{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}
.event_cont{
	width:100%;
	line-height: 50px;
	padding: 0 15px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.show_event{
	overflow: hidden;
	color: white;
	border: 15px solid #f9fbd6;
	border-radius: 20px;
	box-shadow: inset 0 0 20px #000;
}
.se_head{
	position: relative;
	top: -50px;
	width: 100%;
	opacity: 0;
	font-size: 1em;
	white-space: nowrap;
	text-align: center;
	font-weight: 900;
	padding: 25px 0;
	border-bottom: 1px solid #fff;
	text-shadow: 2px 2px 3px #000;
	-moz-transition: font-size 350ms ease;
	-webkit-transition: font-size 350ms ease;
    transition: font-size 350ms ease;
}
.se_descr{
	position: absolute;
	bottom: 0px;
	width:100%;
	padding: 25px 10% 20px 10%;
	margin-top:108px;
	overflow:auto;
	opacity: 0;
	font-size: 1.3em;
    font-weight: 300;
    text-shadow: 1px 1px 2px #000;
}
.light_large_font{
	font-size: 1.6em;
	font-weight: 300;
	padding-top:20px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}
#show_more{
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
    margin: auto;
    width: 150px;
    text-align: center;
    font-weight: 900;
	color: white;
	border: 1px solid #fff;	
	line-height: 35px;
	padding: 0 10px;
	cursor: pointer;
	-moz-transition: all 350ms ease;
	-webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
#show_more:hover{
	color: #000;
	background-color: #fff;
	text-shadow:none;
}
.se_ico{
	position: absolute;
    right: 20px;
    top: 110px;
}
.eve_det_ico{
    position: relative;
    width: 40px;
    height: 40px;
	margin: 10px 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 1.5em;
    line-height: 40px;
    cursor: pointer;
    -moz-transition: all 350ms ease;
	-webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.eve_det_ico:hover{
	color: #000;
	background-color: #fff;
}
.eve_det_ico:hover > .ico_name{
	display: block;
}
.ico_name{
    display: none;
    position: absolute;
    line-height: 20px;
    top: 5px;
    right: calc(100% + 10px);
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
}
.ico_name > div{
	position: absolute;
    width: 7px;
    height: 7px;
    top: 11.5px;
    right: -3.5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
}
/*=================================================SEARCH==========================================================*/
#open_search{
	position: absolute;
	top: 5px;
	right:0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 2em;
	text-align: center;
	background-color: #DB4837;
	z-index:10;
}
#searchIcon
{
	position:fixed;
	top:20px;
	right:20px;
	width:50px;
	height:50px;
	background-color:rgba(0,0,0,0.5);
	padding:10px;
	opacity:0.5;
	cursor:pointer;
	z-index:1;
}
#searchIcon img
{
	width:100%;
}
#searchIcon:hover
{
	opacity:1;
}

#search
{
	height:100%;
	width:290px;
	right:-290px;
	position:absolute;
	background-color:#111518;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	top:0;
	z-index:20;
}
#searchHeader
{
	width:100%;
	height:50px;
	background-color:#DB4837;
}
#iconSearchInnerWrapper
{
	height:40px;
	background-color:rgba(255,255,255,0.3);
	width:40px;
	float:left;
	margin-left:7px;
	margin-top:5px;
	text-align: center;
	line-height: 40px;
	font-size: 1.5em;
	color:white;
}
#iconSearchInner
{
	float: left;
	height: 20px;
	margin-top: 6px;
	margin-left: 0px;
	opacity: 0.7;
	border-right:solid 1px rgba(255,255,255,0.8);
	padding:4px;
	padding-right:7px;
	padding-left:7px;
}
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.6); 
}
::-moz-placeholder {  /* Firefox 19+ */
   color:rgba(255,255,255,0.6); 
}
:-ms-input-placeholder {  
   color:rgba(255,255,255,0.6);
}
#searchField
{
	height:40px;
	width:190px;
	top:5px;
	position:absolute;
	left:47px;
	background-color:rgba(255,255,255,0.3);
	border:0;
	outline: none;
	color:rgba(255,255,255,0.9);
}
#iconBack
{	
	height: 35px;
    float: right;
    position: absolute;
    right: 7px;
    top: 7px;
    opacity: 0.7;
    width: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 1.5em;
    color: white;	
}
#iconBack:hover
{	opacity:1;
}
.innerHead
{
	width:70%;
	margin-left:10%;
	margin-top:20px;
	font-size:1.2em;
	color:rgba(230,230,230,0.7);
	border-bottom:solid 1px rgba(230,230,230,0.7);
	padding-bottom:5px;
}
#searchResults
{
	width:70%;
	margin-left:10%;
	margin-top:20px;
	color:rgba(230,230,230,0.7);
	padding-bottom:5px;
}
.searchResult
{
	line-height:30px;
	cursor:pointer;
	font-size:0.95em;
}
.searchResult:hover
{
	color:rgba(255,255,255,1);
}

/*for responsiveness of page*/
#scene_cont {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
@media screen and (max-width: 1400px){
	#scene_cont {
	    -webkit-transform: scale(0.9);
	    transform: scale(0.9);
	    width: 111%;
	    height: 111%;
	}
}
@media screen and (max-width: 1200px){
	#scene_cont {
	    -webkit-transform: scale(0.8);
	    transform: scale(0.8);
	    width: 125%;
	    height: 125%;
	}
}
@media screen and (max-width: 1000px){
	#scene_cont {
	    -webkit-transform: scale(0.7);
	    transform: scale(0.7);
	    width: 143%;
	    height: 143%;
	}
}
@media screen and (max-width: 800px){
	#scene_cont {
	    -webkit-transform: scale(0.55);
	    transform: scale(0.55);
	    width: 182%;
	    height: 182%;
	}
}
@media screen and (max-width: 600px){
	#scene_cont {
	    -webkit-transform: scale(0.4);
	    transform: scale(0.4);
	    width: 250%;
	    height: 250%;
	}
}
@media screen and (max-width: 400px){
	#scene_cont {
	    -webkit-transform: scale(0.35);
	    transform: scale(0.35);
	    width: 286%;
	    height: 286%;
	}
}
/*for responsiveness of page end*/
/*Online Events END***********************************************/