{% load staticfiles %}
<!DOCTYPE html>
<html class="fsvs no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>AAROHAN 2016</title>
	<link rel="stylesheet" href="{% static 'aarohan/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'aarohan/css/default.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'aarohan/css/bookblock.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'aarohan/css/demo4.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'aarohan/css/demo.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'aarohan/css/component.css' %}" />
	<script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
	<link rel="shortcut icon" href="{% static 'aarohan/images/AarohanLogo0.png' %}" type="image/png">
	<link rel="icon" href="{% static 'aarohan/images/AarohanLogo0.png' %}" type="image/png">

	<script src="{% static 'aarohan/js/modernizr.custom.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{% static 'aarohan/js/fsvs.js' %}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js">
	</script>
	<script src="{% static 'aarohan/js/jquery.stickyheader.js' %}"></script>

</head>

<body>
	<div id="container">
		<div class="header-left">
			<ul>
				<li id="navhome" style="cursor: pointer;"><a href="#slide-1"> <div class="ring"></div> <div class="fix"> HOME </div></a></li>
				<li id="navoverview" style="cursor: pointer;"><a href="#slide-2"> <div class="ring"></div> <div class="fix">OVERVIEW</div></a> </li>
				<li id="navbraniac" style="cursor: pointer;"><a href="#slide-3"> <div class="ring"></div> <div class="fix"> BRANIAC</div></a></li>
				<li id="navcodevoyage" style="cursor: pointer;"><a href="#slide-4"> <div class="ring"></div> <div class="fix"> CODE VOYAGE</div></a> </li>
				<li id="navapogee" style="cursor: pointer;"> <div class="ring"></div> <div class="fix"><a href="http://www.bits-apogee.org/"> APOGEE 2016</a> </div> </li>
				<li id="navtestimonial" style="cursor: pointer;"><a href="#slide-5"> <div class="ring"></div> <div class="fix"> TESTIMONIALS </div></a> </li>
				<li id="navregister" style="cursor: pointer;"><a href="#slide-6"> <div class="ring"></div> <div class="fix"> REGISTER </div></a> </li>
				<li id="navcontact" style="cursor: pointer;"><a href="#slide-7"> <div class="ring"></div> <div class="fix"> CONTACT / PAY</div></a> </li>

				<li id="navapogee" style="cursor: pointer;"> <div class="ring"></div> <div class="fix"> <a target="_blank" href="{% static 'aarohan/brochure.pdf' %}">BROCHURE </a></div> </li> 
			</ul>
		</div> <!---header-left-->

		<div class="nav-button"> &#9776; </div>
		<div id="fsvs-body">
			<div class="slide" >
				<a href="http://bits-apogee.org/2016/aarohan/aarohan_results/" target="_blank">
				<div style="position:absolute; top:35px;right:35px; border-radius:4px; background:#D81E28;color:#f0f0f0;padding:10px;cursor:pointer;height:40px;width:130px;text-align:center;z-index:100;" >
				CHECK RESULT
				</div></a>
				<div id="header" style="position: relative; margin:3%">


					<div id="header-logo">				
						<div class="headline"><img src="{% static 'aarohan/images/AarohanBranding.png' %}"></div>
						<div class="content" style="color:#444;"> An Educational Initiative by BITS Pilani </div>
					</div> 

				</div> 
				<div id="content" >
					<div class="center-content">
						<div class="center-upper">
							<img src="{% static 'aarohan/images/home-image.png' %}" >
						</div> 
						<div class="center-bottom">
							<ul>
								<li> <div class="headline"> For Schools </div>
									<div class="content" style="text-align:justify;"> Aarohan promises to be the benchmark needed to evaluate school performance ! Find out your rank and see where you stand !</div>
								</li>
								<li> <div class="headline"> Apogee 2016 </div>
									<div class="content" style="text-align:justify;"> Apogee 2016, the latest edition of the biggest technical festival of India is set to be even bigger.Be a part of it ! </div>
								</li>
								<li> <div class="headline" > For Students </div>
									<div class="content" style="text-align:justify;"> Aarohan promises to provide the best mix of competition and learning as students across India.Battle it out for the top spot !</div>
								</li>
							</ul>
						</div> 
					</div> 
				</div> 
			</div> 
			<div class="slide" style="color:white !important;">
				<div id="container-school">
					<div class="red-overlay" style="left:0%;">
					</div>
					<div class="red-overlay" style="right:0;width:51%;background:rgba(26, 90, 128, 0.75);">
					</div>
					<ul>
						<li > <div class="left-pane-image"> <img src="{% static 'aarohan/images/school.png' %}"></div>
							<div class="left-pane-content"> <div class="headline" style="text-shadow: 1px 1px black;"> For Schools </div> 
							<div class="content" style="text-align:justify;text-shadow: 1px 1px black;"> Aarohan is a one of a kind nationwide school level event, organised by BITS Pilani, Pilani Campus. The event will consist of a regional level round, conducted online in multiple schools across the country. The school gets to analyze their students' ability on a national level, and can get to know the specific strengths and weaknesses of the students as compared to peers across the country. The school also gets recognition on the national level of their students' performance.
						</li>
						<li  style="left:5%"> <div class="left-pane-image"> <img src="{% static 'aarohan/images/student.png' %}"></div>
								<div class="left-pane-content"> <div class="headline" style="text-shadow: 1px 1px black;"> For Students </div> 
								<div class="content" style="text-align:justify; text-shadow: 1px 1px black;"> Aarohan is a one of a kind nationwide school level event , organised by the BITS Pilani , Pilani Campus. The event will consist of a regional level round , conducted online in multiple schools across the country.

									Students will get a chance to test their knowledge , logical aptitude and coding skills against other students from their region and compete for top honours.
								</li>
							</ul>
						</div> 
					</div> 
			
<div class="slide"> 
  <div id="container-eventa">
  <ul>
  <li> <div class="wrapper">    
       <div class="headline"> <h1> Braniac </h1> <p> Think outside the box ! </p> </div>
       <div class="content" style="text-align:justify;"> Braniac , is a test designed to test the application of simple scientific concepts that you all learn in your classes, and the logical aptitude of the students.<br><br>
The venue of the exams would be your school.
The questions would be objective in nature and the test will be OMR based.
The duration of the exam would be 60 minutes.The test paper will consist of:<br />
Section A: Basic sciences and mathematics 30 questions<br />
Section B: Logical aptitude and mental reasoning  15 questions<br ><br>
In order to be eligible to take the exam the student needs to register for it through the school and pay the required registration fee.
Each student, once registered, will be provided with a login id and password, that will be sent to their e-mail address. After logging on to the Aarohan website, you'll be able to access your admit card, which you'll require on the day of the exam.
Results of Braniac will be out by the end of January. <br />
</div>
</div>
</li>
</ul>
  </div> 
  </div> 


<div class="slide codevoyage"> 
  <div id="container-eventb">
  <ul>
  <li> <div class="wrapper"> 
      <div class="headline"> <h1> Code Voyage </h1> <p> A test of aptitude and skill ! </p> </div>
       <div class="content" style="text-align:justify;"> The purpose of the exam is to test aptitude for coding, ability to think clearly and in a concise manner and knowledge of various coding languages.The exam would be held simultaneously within one city on a single day and would be computer based.<br><br>
In order to be eligible to take the exam the student needs to register for it through the school and pay the required registration fee. Each student, once registered, will be provided with a login id and password, to login into the Aarohan website. After logging in, each participant will be given a link to the CodeChef website, which will take them to their exam window. Participants are supposed to take the test as per scheduled mentioned on the CodeChef website. 
This exam can be taken from the comfort of your homes.The exam would contain a problem whose solution the student needs to come up in the form of a computer code.<br /><br />


Students can use the following languages: C, C++, JAVA, Python.The duration of the exam would be 60 minutes.The test paper will consist of 5 questions.There will be certain star marked questions which will be used as tie breakers.<br /><br />
Results of Code Voyage will be out by the end of January.
<br />
</div>
</div>
</li>
</ul>
  </div> 
  </div> 
			
				<div class="containerBB slide demo-4">
					<div class="bb-custom-wrapper">

						<div id="bb-bookblock" class="bb-bookblock">
							<div class="bb-item">
								<div class="bb-custom-firstpage">
									<h1>Photographs <br/>& <br/>Testimonials</h1>	
								</div>
								<div class="bb-custom-side">
									<img src="{% static 'aarohan/images/photo/img1.jpg' %}" style="width: 80%;">
								</div>
							</div>
							<div class="bb-item">
								<div class="bb-custom-side">
									<img src="{% static 'aarohan/images/photo/img2.jpg' %}" style="width: 80%;">








								</div>
								<div class="bb-custom-side">
									<img src="{% static 'aarohan/images/photo/img3.jpg' %}" style="width: 80%;">
									</div>
								</div>
								<div class="bb-item">
									<div class="bb-custom-side">
									<img src="{% static 'aarohan/images/photo/img4.jpg' %}" style="width: 80%;">

									</div>
									<div class="bb-custom-side" >
										<img src="{% static 'aarohan/images/photo/img5.jpg' %}" style="width: 80%;">
									</div>
								</div>
								<div class="bb-item">
									<div class="bb-custom-side">
										<img src="{% static 'aarohan/images/photo/img6.jpg' %}" style="width: 80%;">												
									</div>
									<div class="bb-custom-side">
									<img src="{% static 'aarohan/images/photo/img7.jpg' %}" style="width: 80%;">
									</div>
								</div>
								<div class="bb-item">
									<div class="bb-custom-side">
										<img src="{% static 'aarohan/images/photo/img8.jpg' %}" style="width: 80%;">												
									</div>
									<div class="bb-custom-side">
									<img src="{% static 'aarohan/images/photo/img9.jpg' %}" style="width: 80%;">
									</div>
								</div>
								<div class="bb-item">
									<div class="bb-custom-side">
										<img src="{% static 'aarohan/images/photo/img10.jpg' %}" style="width: 80%;">												
									</div>
									<div class="bb-custom-side">
									<img src="{% static 'aarohan/images/photo/img11.jpg' %}" style="width: 80%;">
									</div>
								</div>

							</div>

							<nav style="position: absolute">
								<a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
								<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
								<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
								<a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
							</nav>

						</div>

					</div>

					<div class="slide" style="overflow:hidden;background-color:#F3B9B8;">
					<iframe src="https://docs.google.com/forms/d/1OuzdDys4aR7xZx4PNOIWiNMZJPgJGYCuLQNY4tW0JrA/viewform?embedded=true" width='100%' height='105%' frameborder="0" marginheight="0" marginwidth="0" style="margin-top:-5%;overflow:hidden;"></iframe> 
					</div>
					<div class="slide" style="background: rgba(26,188,156,0.2)" >

						<div id="payment">
							<div class="headline"><h1>PAYMENT</h1></div>
							<div style="position: relative; width: 20%; left: 40%;margin-top:2%;">
							<a href="https://www.instamojo.com/parthosa/aarohan-2015/" rel="im-checkout" data-behavior="remote" data-style="flat" data-text="Checkout with Instamojo" data-token="8e01390bce51000ec31946c803a95846"></a>
							</div>
						</div>
						<div id="container-contact" style="background: rgba(26,188,156,0.3);margin-top:9%;padding:2%">
							<div class="headline"><h1>CONTACT US</h1>
							</div>
							<div class="content" >
								<div class="city-vol">
									<div>
										<ul>
											<li> <span class="cname"> Co-Ordinator  <br/>Aarohan 2016
											</span> <br/>
											Ankurjyoti Bordoloi
											<br>
											+91-7728835751
											<br>
											<a href="mailto:aarohan@bits-apogee.org" style="color: rgb(55, 55, 55);">aarohan@bits-apogee.org</a>
											<br>
										</li>
										<li> <span class="cname">Co-Ordinator <br/> Department of External Affairs
										</span> <br/>
										Parth Gupta
										<br>
										+91-8504003792
										<br>
										<a href="mailto:aarohan@bits-apogee.org" style="color: rgb(55, 55, 55);">aarohan@bits-apogee.org</a>
										<br>
									</li> 
									</ul>
								</div>     
							</div>
						</div> 
					</div> 	 
				</div>              
				<script>
					$('.nav-button').click(function(){ 
						if ( $('.nav-button').hasClass('go-deep') ) { 
							$('.header-left ul li').each(function(index, element) {
								$(this).animate({'left':'-180px'},index * 100 + 100);
							});
							$(this).removeClass('go-deep');
							$('.header-left ul').css('display','none');
						}
						else { 
							$('.header-left ul').css('display','block');
							$('.nav-button').addClass('go-deep');
							$('.header-left ul li').each(function(index, element) {
								$(this).animate({'left':'0px'},index * 100 + 100);
							});
						}
					});
//var windowheight = $(window).height();
//var windowwidth = $(window).width();
//$('#slider').css({ width : 2*windowwidth + 100 , height : windowheight});
//$('#navhome').click(function() {
//});
window.onresize = function() {
	var windowwidth= window.innerWidth;
	var windowheight= window.innerHeight;
	console.log(windowwidth);
	if ( windowwidth > 650 && windowheight > 560 ) {
		var slider = $.fn.fsvs({
			speed : 1000,
			bodyID : 'fsvs-body',
			selector : '> .slide',
			mouseSwipeDisance : 40,
			afterSlide : function(){},
			beforeSlide : function(){},
			endSlide : function(){},
			mouseWheelEvents : true,
			mouseWheelDelay : false,
			mouseDragEvents : false,
			touchEvents : true,
			arrowKeyEvents : true,
			pagination : true,
			nthClasses : false,
			detectHash : true
		});
	}
	else {
		var slider = $.fn.fsvs({
			speed : 1000,
			bodyID : 'fsvs-body',
			selector : '> .slide',
			mouseSwipeDisance : 40,
			afterSlide : function(){},
			beforeSlide : function(){},
			endSlide : function(){},
			mouseWheelEvents : false,
			mouseWheelDelay : false,
			mouseDragEvents : false,
			touchEvents : false,
			arrowKeyEvents : true,
			pagination : true,
			nthClasses : false,
			detectHash : true
		});
	}

}
$(document).ready( function() {
	var windowwidth= window.innerWidth;
	var windowheight= window.innerHeight;
	if ( windowwidth > 650 && windowheight > 560 ) {
		var slider = $.fn.fsvs({
			speed : 1000,
			bodyID : 'fsvs-body',
			selector : '> .slide',
			mouseSwipeDisance : 40,
			afterSlide : function(){},
			beforeSlide : function(){},
			endSlide : function(){},
			mouseWheelEvents : true,
			mouseWheelDelay : false,
			mouseDragEvents : false,
			touchEvents : true,
			arrowKeyEvents : true,
			pagination : true,
			nthClasses : false,
			detectHash : true
		});
	}
	else {
		var slider = $.fn.fsvs({
			speed : 1000,
			bodyID : 'fsvs-body',
			selector : '> .slide',
			mouseSwipeDisance : 40,
			afterSlide : function(){},
			beforeSlide : function(){},
			endSlide : function(){},
			mouseWheelEvents : false,
			mouseWheelDelay : false,
			mouseDragEvents : false,
			touchEvents : false,
			arrowKeyEvents : true,
			pagination : true,
			nthClasses : false,
			detectHash : true
		});
	}
});
// $('#container-school ul li .left-pane-image img').click(function() {
// 	$('#container-school ul li').each(function(index, element) {
// 		if( $(this).hasClass('inactive') ) {
// 			$(this).removeClass('inactive'); }
// 			else {  $(this).addClass('inactive'); }
// 		});
// 	$('.red-overlay').toggleClass('move');
	
// });
// $('.header-left ul li').click(function() {
// 	var i = $(this).index();
// 	console.log(i);
// 	$('#fsvs-pagination').children('li').eq(i).trigger('click');
// 	if( i > 3) 
// 		$('#fsvs-pagination').children('li').eq(i-2).trigger('click');
// });
// $('.header-left ul li').eq(2).click(function() {
// 	$('#fsvs-pagination').children('li').eq(1).trigger('click');
// 	$('#container-school ul li').eq(1).removeClass('inactive');
// 	$('#container-school ul li').eq(0).addClass('inactive');
// 	$('.red-overlay').addClass('move');
// });
// $('.header-left ul li').eq(1).click(function() {
// 	$('#fsvs-pagination').children('li').eq(1).trigger('click');
// 	$('#container-school ul li').eq(0).removeClass('inactive');
// 	$('#container-school ul li').eq(1).addClass('inactive');
// 	$('.red-overlay').removeClass('move');
// });

$('.header-left ul li').click(function(){
	$('.nav-button').click();
})
$(document).ready(function(){
	//global vars
	var form = $("#customForm");
	var name = $("#name");
	var nameInfo = $("#nameInfo");
	var email = $("#email");
	var emailInfo = $("#emailInfo");
	var schoolname = $('#schoolname');
	var schoolnameInfo = $("#schoolnameInfo");
	var send = $('#send');
	//On blur
	name.blur(validateName);
	schoolname.blur(validateSchoolName);
	email.blur(validateEmail);
	//On key press
	name.keyup(validateName);
	schoolname.keyup(validateSchoolName);
	//On Submitting
	send.click(function(){
		if(validateName() & validateEmail() & validateSchoolName() )
			return true
		else
			return false;
	});
	
	//validation functions
	function validateEmail(){
		//testing regular expression
		var a = $("#email").val();
		var filter = /^[a-zA-Z0-9]+[a-zA-Z0-9_.-]+[a-zA-Z0-9_-]+@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{2,4}$/;
		//if it's valid email
		if(filter.test(a)){
			email.removeClass("error");
			emailInfo.text("Please enter a valid email-id");
			emailInfo.removeClass("error");
			return true;
		}
		//if it's NOT valid
		else{
			email.addClass("error");
			emailInfo.text("*");
			emailInfo.addClass("error");
			return false;
		}
	}
	function validateName(){
		//if it's NOT valid
		if(name.val().length < 1){
			name.addClass("error");
			nameInfo.text("*");
			nameInfo.addClass("error");
			return false;
		}
		//if it's valid
		else{
			name.removeClass("error");
			nameInfo.text("Please enter a valid name");
			nameInfo.removeClass("error");
			return true;
		}
	}
	function validateSchoolName(){
		//if it's NOT valid
		if(schoolname.val().length < 1){
			schoolname.addClass("error");
			schoolnameInfo.text("*");
			schoolnameInfo.addClass("error");
			return false;
		}
		//if it's valid
		else{
			schoolname.removeClass("error");
			schoolnameInfo.text("Please enter a valid school name");
			schoolnameInfo.removeClass("error");
			return true;

		}

	}
});
</script>
<script src="{% static 'aarohan/js/jquerypp.custom.js' %}"></script>
<script src="{% static 'aarohan/js/jquery.bookblock.js' %}"></script>
<script>
	var Page = (function() {

		var config = {
			$bookBlock : $( '#bb-bookblock' ),
			$navNext : $( '#bb-nav-next' ),
			$navPrev : $( '#bb-nav-prev' ),
			$navFirst : $( '#bb-nav-first' ),
			$navLast : $( '#bb-nav-last' )
		},
		init = function() {
			config.$bookBlock.bookblock( {
				speed : 1000,
				shadowSides : 0.8,
				shadowFlip : 0.4
			} );
			initEvents();
		},
		initEvents = function() {

			var $slides = config.$bookBlock.children();

						// add navigation events
						config.$navNext.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'next' );
							return false;
						} );

						config.$navPrev.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'prev' );
							return false;
						} );

						config.$navFirst.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'first' );
							return false;
						} );

						config.$navLast.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'last' );
							return false;
						} );
						
						// add swipe events
						$slides.on( {
							'swipeleft' : function( event ) {
								config.$bookBlock.bookblock( 'next' );
								return false;
							},
							'swiperight' : function( event ) {
								config.$bookBlock.bookblock( 'prev' );
								return false;
							}
						} );

						// add keyboard events
						$( document ).keydown( function(e) {
							var keyCode = e.keyCode || e.which,
							arrow = {
								left : 37,
								up : 38,
								right : 39,
								down : 40
							};

							switch (keyCode) {
								case arrow.left:
								config.$bookBlock.bookblock( 'prev' );
								break;
								case arrow.right:
								config.$bookBlock.bookblock( 'next' );
								break;
							}
						} );
					};

					return { init : init };

				})();
			</script>
			<script>
				Page.init();
			</script>
		</body>
		</html>
