{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Dhiti | APOGEE 2016</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="DHITI has remarkably skilled engineers in India. But sadly, the benefits of our engineering skills hardly reach the poor, who need it the most. Most of us believe that it is only the government which is to blame for not implementing plans properly. There are very few people who actually think about contributing in this process with their knowledge and skills. The catch is, they do not get the right platform for it." />
	<link href="{% static 'dhiti/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'dhiti/css/banner.css' %}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{% static 'dhiti/js/popover.js' %}"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static 'dhiti/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'dhiti/js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
</head>
<body>
	<!-- banner -->
	<script src="{% static 'dhiti/js/responsiveslides.min.js' %}"></script>
	<script>  
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>  
	<div class="banner">	  
		<div class="header">
			<div class="logo">
				<a href="index.html"><img src="{% static 'dhiti/images/logo.jpg' %}" alt=""/></a>
			</div>
			<div class="header-right">
				<a href="http://www.bits-apogee.org/"><img src="{% static 'dhiti/images/apogee-logo.png' %}" style="width: 10vw;"></a>
				<a href="http://nirmaan.org/"><img src="{% static 'dhiti/images/nirmaan-logo.png' %}" style="width: 10vw;"></a>
				<a href="http://nss-bits-pilani.org/newsite/index.html"><img src="{% static 'dhiti/images/nss-logo.png' %}" style="width: 10vw;"></a>
				<a href="https://www.facebook.com/events/961142847265933/"><img src="{% static 'dhiti/images/Facebook.png' %}" style="width: 2vw;"></a>
			</div>
			<div class="top-menu">
				<span class="menu"></span>
				<ul class="navig">
					<li class="hvr-bounce-to-bottom button"><a href="#about" class="scroll">About</a></li>
					<li class="hvr-bounce-to-bottom button"><a href="#structure" class="scroll">Structure</a></li>
					<li class="hvr-bounce-to-bottom button"><a href="#gallery" class="scroll">Problem categories</a></li>
					<li class="hvr-bounce-to-bottom button"><a href="#Guidelines" class="scroll">Guidelines</a></li>
					<li class="hvr-bounce-to-bottom button"><a href="#FAQs" class="scroll">FAQs</a></li>
					<li class="hvr-bounce-to-bottom button"><a href="#contact" class="scroll">Contact</a></li>
					<li class="hvr-bounce-to-bottom button"><a target="_blank" href="http://goo.gl/forms/Hoy6WsdM2N">Register</a></li>
				</ul>
			</div>
			<!-- script-for-menu -->
			<script>
				$("span.menu").click(function(){
					$("ul.navig").slideToggle("slow" , function(){
					});
				});
			</script>
			<!-- script-for-menu -->
			<div class="clearfix"></div>
		</div>
		<div class="slider">
			<div class="caption">
				<div class="container">
					<div class="callbacks_container">
						<ul class="rslides" id="slider">
							<li><h3>Last date for Idea Proposal<br/><t><t>January 17th, 2016</h3></li>
							<li><h3>Mentorship Kicks off!<br/><t><t>20th January OR As soon as your Idea is selected (whichever is earlier).</h3></li>	
							<li><h3>Submission of final report <br/><t><t>7th February</h3></li>
							<li><h3>Presentation in Apogee, technical festival of BITS Pilani <br/><t><t>February 25th – 28th , 2016</h3></li>	
						</ul>	
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---->
	<!-- about -->
	<div id="about" class="about">
		<div class="container">
			<h3 class="tittle">About Us</h3>
			<div class="about-grids">
				<div class="col-md-5 abt-left">
					<img src="{% static 'dhiti/images/dhiti-logo.png' %}" alt="">
				</div>
				<div class="col-md-7 abt-right">
					<p class="text-justify">We have a population of around 1.2 billion and it is just a matter of time, that we will be the nation with the most number of young and technically sound work forces. Technology has grown in many forms and can be made accessible almost to all. It is just a luxury for some but can ease the life of many and can be the key to solving some of the most pressing issues faced by the country today. We just need some ideas and tinkering to apply it on the field.</p>
					<p class="text-justify">An example, detecting and diagnosing diseases is a very time-consuming and expensive affair, almost unavailable in remote areas. An interesting fact - Today, smartphones have a better reach than basic healthcare facilities! Last year a student team developed a low-cost smartphone operated microscope, to detect malaria, though not accurately but the results were convincing enough to improve upon and take it further.</p>
					<p class="text-justify">It is only by solving such basic problems that development will occur collectively in every community and not selectively. Dhiti(sanskrit for “An idea”) is a platform for passionate individuals who ideate and aspire for technology to reach the grassroots. Here we will provide you with problems and mentors to form feasible solutions to various issues and provide recognition to your solution. So, let’s put our ideas and knowledge bases to some real use.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- structure -->
	<div id="structure" class="team">
		<div class="container">
			<h3 class="tittle t-team">Structure</h3>
			<ul class="ch-grid"> 
				<li>
					<div class="ch-item ch-img-1">				
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-1"></div>
								<div class="ch-info-back" >
									<a href="#myModal1" role="button" class="btn btn-default sb" data-toggle="modal"><h4>Idea<br>Proposal</h4></a>
								</div>	
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="ch-item ch-img-2">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2"></div>
								<div class="ch-info-back">
									<a href="#myModal2" role="button" class="btn btn-default sb" data-toggle="modal"><h4>Mentorship</h4></a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="ch-item ch-img-3">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3"></div>
								<div class="ch-info-back">
									<a href="#myModal4" role="button" class="btn btn-default sb" data-toggle="modal"><h4>Presentation</h4></a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="ch-item ch-img-4">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4"></div>
								<div class="ch-info-back">
									<a href="#myModal3" role="button" class="btn btn-default sb" data-toggle="modal"><h4>Implementation</h4></a>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="container">
			<div id="myModal1" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">Idea Proposal</h4>
						</div>
						<div class="modal-body">
							<p class="text-justify">Registrations for Round-1 are now Open. Submit an idea proposal (i.e., an Idea) before 10<sup>th</sup> of January, 2016 and earn yourself a chance to present your idea in Apogee.</p><br>
							<p class="text-justify">Teams of maximum 4 members can participate in Dhiti. A pool of problem statements from specific areas have been uploaded. The problems are procured selectively from the suggestions of various NGOs working on the field.</p><br>
							<p class="text-justify"><b>Participants can either</b></p><br>
							<p class="text-justify">Take up problem statements from those given under different specific areas and suggest technically and financially sound solutions. (From Given Problem Pool)</p><br>
							<p>OR</p><br>
							<p class="text-justify">Work on a problem identified by them in any given specific area and present a technically and financially feasible solution. (<b>Open Category</b>)</p>
						</div>
						<div class="modal-footer">
							<a target="_blank" href="{% static 'dhiti/documents/Idea_Proposal_Format.pdf'  %}" class="link1">Download the Idea Proposal Template.</a><p></p>
						</div>
					</div>
				</div>
			</div>
			<div id="myModal2" class="modal" data-easein="flipXIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Mentorship</h4>
						</div>
						<div class="modal-body">
							<p class="text-justify">The Mentorship phase will kick off as soon as the results of the Idea Proposal phase are declared. Shortlisted teams will be given an option of mentorship.</p><br>
							<p class="text-justify"> We consider mentorship essential for the participants so as to give them an insight of the exact problems that are faced at the grassroots, of the situations and the constraints that may be involved during the implementation of their solutions. Mentorship will be provided in the following two forms:<br><br>
							</p>
							<ol> 
								<li class="text-justify">Technical assistance to the participants (without changing the basic idea of the solution), if required.</li>
								<li class="text-justify">Assistance in getting a clearer idea regarding the problem statement which will help the participants to arrive at a more suitable and feasible solution to the problem.</li>
							</ol>
							<p></p>
							<p class="text-justify">Assistance will be provided by a panel of experts having sound knowledge and experience. The allotment of mentors will be based on the problem and appropriateness of the solution.</p><br>
							<p class="text-justify"><b> Evaluation during Mentorship phase: </b>
							</p><br>
							<ol>
								<li class="text-justify">The teams will be evaluated continuously during the mentorship phase.</li>
								<li class="text-justify">The participants proceeding to the final round will be decided based on the final report to be submitted after this phase, and feedback from the mentors. The decision of the judges will be final and binding.</li>
							</ol>
							<p class="text-justify">Mentorship Phase ends on 6<sup>th</sup> of February, 2016. The teams are required to submit the final reports along with a video demonstration by 7<sup>th</sup> of February, 2016.</p><br>
							<p class="text-justify">After this round, selected teams for the final round which will be conducted during the technical festival APOGEE 2016.</p>
						</div>
						<div class="modal-footer">
							<a target="_blank" href="{% static 'dhiti/documents/Final_Report_Format.pdf' %}" class="link1">Download the Final Report Format. </a><p></p>
						</div>
					</div>
				</div>
			</div>
			<div id="myModal3" class="modal" data-easein="flipBounceXIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Implementation</h4>
						</div>
						<div class="modal-body">
							<p class="text-justify">The last phase will involve implementation of the solutions. Some solutions (from those selected for the
								final round) will be moved to the grassroots level, with help from the concerned NGOs in as many ways as possible. This might take the form of an internship based on the preferences of the organization and the students.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="myModal4" class="modal" data-easein="flipYIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Presentation</h4>
						</div>
						<div class="modal-body">
							<ol>
								<li class="text-justify">Selected teams will have to submit a hardcopy of their report, and give a final presentation on their solutions to a panel of judges, in APOGEE 2016, here at BITS PILANI, PIlani Campus. </li>
								<li class="text-justify">The teams would be provided a maximum time of 10 minutes for their respective presentations followed by a 5 minutes round of cross-questioning by our Judging panel.</li>
								<li class="text-justify">The presentation should cover all the details of the solution, namely, the idea, the methodology, cost-effectiveness, process of implementation, total cost which would be incurred for implementing the solution, its feasibility and sustainability.</li>
								<li class="text-justify"> Along with the report and presentation, the finalists may come up with a working model of their solution, which explains their concept better, and hence, enhances clarity. (The best use you make of this, the more credit you shall be awarded).</li>
								<li class="text-justify"> The Jury’s decision shall be deemed final and binding.</li>
								<li class="text-justify">Socially acceptable and environmentally benign.</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- structure -->
	<!-- gallery -->
	<div id="gallery" class="gallery">
		<div class="container">
			<h3 class="tittle">Problem categories</h3>
			<div class="gallery-grids row">
				<!-- EIGHTH EXAMPLE -->
				<div class="view view-eighth col-md-4 col-xs-6">
					<img src="{% static 'dhiti/images/Information Systems.jpg' %}" alt="" />
						<div class="mask">
							<a href="#myModalg1" role="button" class="btn btn-default gb" data-toggle="modal"><h4>Information<br>Systems</h4></a>
						</div>

				</div>
				<div class="view view-eighth col-md-4 col-xs-6">
					<img src="{% static 'dhiti/images/Food.jpg' %}" alt="" />
						<div class="mask">
							<a href="#myModalg2" role="button" class="btn btn-default gb" data-toggle="modal"><h4>Food</h4></a>
						</div>

				</div>
				<div class="view view-eighth col-md-4 col-xs-6">
					<img src="{% static 'dhiti/images/Agriculture.jpg' %}" alt="" />
						<div class="mask">
							<a href="#myModalg3" role="button" class="btn btn-default gb" data-toggle="modal"><h4>Agriculture</h4></a>
						</div>

				</div>
				<div class="view view-eighth col-md-4 col-xs-6">
					<img src="{% static 'dhiti/images/Water.jpg' %}" alt="" />
						<div class="mask">
							<a href="#myModalg4" role="button" class="btn btn-default gb" data-toggle="modal"><h4>Water</h4></a>
						</div>
					
				</div>
				<div class="view view-eighth col-md-4 col-xs-6">
					<img src="{% static 'dhiti/images/Miscellaneous.jpg' %}" alt="" />
						<div class="mask">
							<a href="#myModalg5" role="button" class="btn btn-default gb" data-toggle="modal"><h4>Miscellaneous</h4></a>
						</div>
					
				</div>
				<div class="view view-eighth col-md-4 col-xs-6">
					<img src="{% static 'dhiti/images/Open.jpg' %}" alt="" />
						<div class="mask">
							<a target="_blank" href="{% static 'dhiti/documents/Open_Category.pdf' %}" role="button" class="btn btn-default gb"><h4>Open Category<br><br><mark>Download pdf.</mark><br></h4></a>
						</div>
					
				</div>
			</div>
		</div>
		<div class="container">
			<div id="myModalg1" class="modal" data-easein="flipYIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Information Systems</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-6">
									<a target="_blank" href="{% static 'dhiti/documents/SMS-based_Biometric_System.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/Biometric.jpg' %}"></a>
									<h4>SMS-based Biometric System</h4>
								</div>
								<div class="col-md-6 col-xs-6 col-sm-6">
									<a target="_blank" href="{% static 'dhiti/documents/System_for_procuring_statistical_data_in_a_community.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/statistical data.jpg' %}"></a>
									<h4>System for procuring statistical data in a community</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="myModalg2" class="modal" data-easein="flipYIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Food</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-4">
									<a target="_blank" href="{% static 'dhiti/documents/An_Efficient_Cool_Transport_With_Background.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/cold transport.jpg' %}"></a>
									<h4>An Efficient Cool Transport</h4>
								</div>
								<div class="col-md-4">
									<a target="_blank" href="{% static 'dhiti/documents/Community_level_Food_Processing_With_Background.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/food processing.jpg' %}"></a>
									<h4>Community level Food Processing</h4>
								</div>
								<div class="col-md-4">
									<a target="_blank" href="{% static 'dhiti/documents/Destoning_Cleaning_With_Background.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/Destoning.jpg' %}"></a>
									<h4>Destoning_Cleaning</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="myModalg3" class="modal" data-easein="flipYIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Agriculture</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-6 col-xs-6 col-sm-6">
									<a target="_blank" href="{% static 'dhiti/documents/Direct-seeding_of_rice_on_uneven_fields_With_Background.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/sowing.jpg' %}"></a>
									<h4>Direct-seeding of rice on uneven fields</h4>
								</div>
								<div class="col-md-6 col-xs-6 col-sm-6">
									<a target="_blank" href="{% static 'dhiti/documents/Lift_Irrigation_Pump_With_Background.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/Lift Irrigation Pump.jpg' %}"></a>
									<h4>Lift Irrigation Pump</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="myModalg4" class="modal" data-easein="flipYIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Water</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-6 col-xs-6 col-sm-6">
									<a target="_blank" href="{% static 'dhiti/documents/water1.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/water1.jpg' %}"></a>
									<h4>Detection of Water Contamination</h4>
								</div>
								<div class="col-md-6 col-xs-6 col-sm-6">
									<a target="_blank" href="{% static 'dhiti/documents/sewage_treatment_plant.pdf' %}"><img class="img-responsive" src="{% static 'dhiti/images/Untreated_Sewage.jpg' %}"></a>
									<h4>Sewage treatment plant</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="myModalg5" class="modal" data-easein="flipYIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Miscellaneous</h4>
						</div>
						<div class="modal-body">
							<h4>Coming Soon!</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //gallery -->
	<!-- Rules and guidelines -->
	<div id="Guidelines" class="team">
		<div class="container">
			<h3 class="tittle t-team">Rules and guidelines</h3>
			<div id="r1" class="r1">
				<img id="r1i" src="{% static 'dhiti/images/1r.png' %}" style="display: none;" />
				<div id="r1c" class="r1c">
					<h4>General Guidelines</h4><br>
					<ol>
						<li class="text-justify">The competition is open to all (students, scholars, and passionate individuals).</li>
						<li class="text-justify">Teams of <strong>maximum 4</strong> can participate in the event. The participants can be from different colleges.</li>
						<li class="text-justify">All participants are required to register on the Apogee 2016 website  <a href="http://www.bits-apogee.org/" class="link1">www.bits-apogee.org</a> , and register for DHITI.</li>
						<li class="text-justify">The teams must submit their abstracts by <strong>17th of January, 2016.</strong></li>
						<li class="text-justify">Decision of the judges shall be treated as final and binding on all.</li>
						<li class="text-justify">At any point of time the latest information will be that which is on the website.However, registered participants will be informed through mail about any changes on the website.</li>	
						<li class="text-justify">The ideas presented by the teams should be original. Plagiarism of any kind will lead to disqualification of the team.</li>
						<li class="text-justify">Certification – Shortlisted teams that present their solution in the final round in Apogee 2016 will receive a Participation certificate. The best solutions will be given appropriate certificates of distinction along with prizes and internships.</li>
					</ol>
				</div>
			</div>
			<div id="r2" class="r2">
				<img id="r2i" src="{% static 'dhiti/images/2r.png' %}"/>
				<div id="r2c" class="r2c">
					<h4>Judging Criteria</h4><br><p>A few points to take note of while designing solutions -</p><br>
					<ol>
						<li class="text-justify"><strong>Unique and innovative:</strong> They can be a modification of an already existing solution but should not be an exact replica of it.</li>
						<li class="text-justify"><strong>Effective:</strong> They must provide better results than solutions which are already in use.</li>
						<li class="text-justify"><strong>Cost-effective:</strong> The materials being used for implementing should be easily available and cheap.</li>
						<li class="text-justify"><strong>Feasible:</strong> Keep in mind the target population/region. The ease of installation and the easy availability of the resources is also to be considered.</li>
						<li class="text-justify"><strong>Sustainable:</strong> The solutions should be designed in such a way that they can be easily modified in future to adapt to the needs and conditions at that time.</li>
						<li class="text-justify"><strong>Social Impact:</strong> Should have a large social impact. It should affect the living conditions of a large number of people rather than only a few.</li>
						<li class="text-justify"><strong>Replicable:</strong> Easily replicable so that they can be implemented over different regions rather than addressing a problem in a single particular area.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- //Rules and guidelines -->
	<!-- FAQs -->
	<div id="FAQs" class="services">
		<div class="container">
			<h3 class="tittle">FAQs</h3>
			<div class="faq_cont">
				<div class="faq_ques">
					<div class="ser-grid">	
						1
					</div>
					<div class="faq_ques_content">
						<h4>Who can participate?</h4>
						<p class="text-justify">Any student, irrespective of his/her course or stream, who has registered for Apogee 2016 can participate in the event.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						2
					</div>
					<div class="faq_ques_content">
						<h4>How do I register for Dhiti?</h4>
						<p class="text-justify">Registrations for Dhiti have started. The participant can register by filling the form at the Register button on top. He/she will also have to register for Apogee 2016 (visit <a href="http://www.bits-apogee.org/" class="link1">http://www.bits-apogee.org</a> ).</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						3
					</div>
					<div class="faq_ques_content">
						<h4>I am not an engineering student, can I still participate in the event?</h4>
						<p class="text-justify">Yes. Dhiti is open to students of all disciplines, pursuing any degree. Graduates, Post-graduates, Diploma students, PhD holders etc.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						4
					</div>
					<div class="faq_ques_content">
						<h4>I am already working on a project that has the potential to reach the desired crowd. But my project is not a solution to any of the mentioned problem statements. Can I still participate?</h4>
						<p class="text-justify">Sure. As already mentioned in the structure, participants are encouraged to work on problem statements identified by them. This will come under the <b>Open Category</b>.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						5
					</div>
					<div class="faq_ques_content">
						<h4>I have already presented this solution in another competition/ research paper, can I still present it here?</h4>
						<p class="text-justify">Yes. As long as there is no compulsion or binding on part of the participant from the concerned competition, the solution may be presented for Dhiti.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						6
					</div>
					<div class="faq_ques_content">
						<h4>Is taking part in Implementation phase (the last phase) necessary?</h4>
						<p class="text-justify">It is not compulsory for the winners (or any other participant) to participate in the implementation (i.e. go to some place and get the idea implemented by yourself). The NGOs that are willing to implement the idea will do it themselves if you can't participate. But of course, your participation is encouraged and recommended. This might take the form of an internship based on the preferences of the organization and the students.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						7
					</div>
					<div class="faq_ques_content">
						<h4>I am unclear about the Mentorship phase. What am I supposed to do during mentorship?</h4>
						<p class="text-justify">Mentorship will be given to the participants who clear the initial Idea Proposal phase. Mentorship will be given in two forms: During the mentorship phase, the selected participants are encouraged to contact the concerned NGOs for in-depth knowledge about the problems faced by them. Similarly, for any technical guidance, they may contact their mentor. Participants can also contact through mails or direct visits to the NGOs. The contacts will be provided after the participants clear Phase I. Necessary support from the Dhiti team will always be available.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						8
					</div>
					<div class="faq_ques_content">
						<h4>Do I need to include the way of implementation of the solution in my report?</h4>
						<p class="text-justify">Not exactly, this platform requires you to just give a feasible technical solution to the problem. Its way of implementation will be finalized with the help of the NGO's in the Implementation phase, with the necessary pilot runs.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="faq_ques">
					<div class="ser-grid">	
						9
					</div>
					<div class="faq_ques_content">
						<h4>Is there any registration fee for the event?</h4>
						<p class="text-justify">No. The registration fees will be charged for Apogee only. There will not be separate registration fee for Dhiti.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //FAQs -->
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="tittle">Contact</h3>
			<div id="contact_Outcont">
				<div class="row">
					<div class="contact_grp inner_contacts_cont col-md-3 col-xs-6">
						<span><b>Shaik Sameer</b></span><br>
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91-77280866895</br>
						<!-- <a href="mailto:mohitsaluja2412@gmail.com" class="link1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>mohitsaluja2412@gmail.com</a> -->
					</div>
					<div class="contact_grp inner_contacts_cont col-md-3 col-xs-6">
						<span><b>Piyush Jain</b></span><br>
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91-7728095520</br>
						<!-- <a href="mailto:mohitsaluja2412@gmail.com" class="link1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>mohitsaluja2412@gmail.com</a> -->
					</div>
					<div class="contact_grp inner_contacts_cont col-md-3 col-xs-6">
						<span><b>Vidya Sagar</b></span><br>
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91-8504066462</br>
						<!-- <a href="mailto:akhilnemani94@gmail.com" class="link1"<b>><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>akhilnemani94@gmail.com</a> -->
					</div>
					<div class="contact_grp inner_contacts_cont col-md-3 col-xs-6">
						<span><b>Kshitiz Sethi</b></span><br>
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91-9610247792</br>
						<!-- <a href="mailto:yuganshu.jain2306@gmail.com" class="link1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>yuganshu.jain2306@gmail.com</a> -->
					</div>
				</div>
				<div class="row">
					<div class="contact_grp inner_contacts_cont">
						<span><b>E-mail Us at:</b><br></span>
						<a href="mailto:dhiti@bits-apogee.org" class="link1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>dhiti@bits-apogee.org</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<!-- Bootstrap core JavaScript-->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- js -->
	<script type="text/javascript" src="{% static 'dhiti/js/guidelines.js' %}"></script>
	<!-- js -->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
			*/								
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
</body>
</html>
