<html>
<head>
<title>
FIREWALLZ|OUTERBOOTH|EDIT PARTICIPANT
</title>
</head>
<body>
<div style = "background-color: #3B3738; color: #D9853B; height:40px;font-size: 27px; text-align: center; width: 100%; margin: auto;box-shadow: 0px 0px 30px rgba(33,62,83,0.7)  inset;left:0;top:0; border-radius: 7px;font-family:agency fb;">EVENT REGISTRATION SYSTEM</div>
<div style = "background: #558C89; color: #E9E581;height:37px;font-size: 24px; text-align: center; width: 100%; padding-top:5px;margin: auto; margin-top: 15px; box-shadow: 0px 0px 25px rgba(33,62,83,0.7) inset; border-radius: 7px;font-family:agency fb;">FIREWALLZ OUTER BOOTH</div><br>
<center>
<strong> PARTICIPANT DETAILS </STRONG>
<form method="POST" action="http://www.bits-bosm.org/2015/regsoft/firewallz/edit/{{participant.id}}/">
Name: <input type="text" name="name" id="name" value="{{ participant.name }}"/> <br>
Gender:
<select name="gender">
  <option value="male">Male</option>
  <option value="female">Female</option>
</select>
<input type="submit" value="Edit Participant"/>
</form>
{{ message }}
<form method="POST" action="http://www.bits-bosm.org/2015/regsoft/firewallz/">
<input type="hidden" name="formtype" id="code" value="editform"/>
<input type="hidden" name="code" id="code" value="{{encoded}}"/>
<input type="submit" value="Go Back"/>
</form>
</center>
</body>
</html>