<html>
<head>
	<title>RECEIPT | Controlz</title>
</head>
<body>
<div id= "wrapper" style = "margin:auto; width: 100%;">
<!--<img src = "http://bits-apogee.org/2013/site_media/images/BITSLogo.png" style = "margin-right: 20px;"> -->
<img src = "http://www.bits-bosm.org/2015intro/images/logo.png"  width="250" height="100" style = "margin-right: 20px;position:relative;left:500px;">
<div id = "collegeName" style="background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align: middle;">
College Name: {{ college }}
</div>
	
	<div style = "background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align: middle; margin-top:10px;">
		Registration Fees: Rs. {{ register }}
	</div>
	
<div style = "background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align: middle; margin-top:10px;">
		Total Amount: Rs. {{ amount }}
	</div>
<div id = "Receipt" style="background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align:top;float:right;margin-top:-180px;">
		Receipt: {{ receiptno }}
	</div>
<div id = "Receipt" style="background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align:top;float:right;margin-top:-220px;">
		Group No.: {{ uid }}
	</div>

	<br /><br />
	<div>
		<img src = "http://bits-bosm.org/images/signature.png" style = "margin-left: 30px;">
	</div>
	<hr style = "border-bottom: 3px dashed #ccc;">
	<!--<img src = "http://bits-apogee.org/2013/site_media/images/BITSLogo.png" style = "margin-right: 20px;"> -->
	<img src = "http://www.bits-bosm.org/2015intro/images/logo.png" width="250" height="100" style = "margin-right: 20px;position:relative;left:500px;20px;">
	<div id = "collegeName" style="background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align: middle;">
		College Name: {{ college }}
	</div>
	
	
	
	<div style = "background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align: middle; margin-top:10px;">
		Registration Fees: Rs. {{ register }}
	</div>
	
<div style = "background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align: middle; margin-top:10px;">
		Total Amount: Rs. {{ amount }}
	</div>
	<div id = "Receipt" style="background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align:top;float:right;margin-top:-180px;">
		Receipt: {{ receiptno }}
	</div>
	<div id = "Receipt" style="background: #FFFFFF; height: 20px; color: #000000; font-size: 23px; padding: 10px; vertical-align:top;float:right;margin-top:-220px;">
		Group No.: {{ uid }}
	</div>
	<br /><br />
	<div>
		<img src = "http://bits-bosm.org/images/signature.png" style = "margin-left: 30px;">
	</div>
<!--<a href = './../../controlz/'><img src = "http://bits-bosm.org/images/print.png" style = "float: right;"></a> -->
<input type="button" value="Print" onclick="window.print()" style = "float: right;"/>
<br><a align="centre" href = "http://bits-bosm.org/2015/regsoft/controlz/receipt/"><strong>Go to Home</strong></a>
</body>
<html>
