<html>
<head>
<title>
RECnACC|ALLOTMENT
</title>
</head>
<body>

<div style = "background-color: #3B3738; color: #D9853B; height:40px;font-size: 27px; text-align: center; width: 100%; margin: auto;box-shadow: 0px 0px 30px rgba(33,62,83,0.7)  inset;left:0;top:0; border-radius: 7px;font-family:agency fb;">EVENT REGISTRATION SYSTEM</div>
<div style = "background: #558C89; color: #E9E581;height:37px;font-size: 24px; text-align: center; width: 100%; padding-top:5px;margin: auto; margin-top: 15px; box-shadow: 0px 0px 25px rgba(33,62,83,0.7) inset; border-radius: 7px;font-family:agency fb;">::RECnACC::</div><br>
<br><center>
Number of Males pending: {{no_males}}
<br>
Number of Females pending: {{no_females}}
</center>
<br>

<div class= "tim">
<form method="POST" action="http://www.bits-bosm.org/2015/regsoft/recnacc/allot/{{gl_id}}/">
<input type="hidden" name="formtype" id="code" value="finalform"/>
 <table>
        <tr>
            <th>Bhawan</th>
            <th>Room</th>
            <th>Availibilty</th>
            <th>Allot Seats</th>
            <th>Select</th>
            
        </tr>
        {% for x in all_rooms %}
            {% if x.id > 0 %}
            <tr>
                <td>{{x.bhavan.name}}</a></td>
                <td>{{x.room}}</td>
                <td id="{{x.id}}">{{x.vacancy}}</td>
                <td><input type ="number" name="{{x.id}}alloted" id="{{x.id}}alloted"/></td>
                <td><input type ="checkbox" name="roomid" class="blahblah" value = "{{x.id}}"/></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    
    <input type="submit" value="Confirm"/ onclick="return checkvalue();">
    </form>
     <table>
        <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Bhawan</th>

            
        </tr>
        {% for x in done_participants %}
            <tr><td>{{x.name}}</td>
                <td>{{x.room.room}}</td>
                <td>{{x.room.bhavan.name}}</td>
             </tr>
        {% endfor %}
    </table>
                <br>
    <a href="http://www.bits-bosm.org/2015/regsoft/recnacc/dashboard/{{ gl_id }}/">Summary</a>
    <a href="http://www.bits-bosm.org/2015/regsoft/recnacc/"> Go to Home </a>
        <br>
    <a href="/2015/regsoft/recnacc/bhavanwise/" target="_blank">Bhavan College List </a>
    <br>
    <a href="/2015/regsoft/recnacc/all_bhavans/" target="_blank">Overall Room Availibilty</a>
    </div>
    <style>
.tim{
	text-align:center;
	margin-left:30%;
    margin-right:30%;
	margin-top:60px;
}
table
{
    font-family: agency fb;
    text-align: center;
    border:1px solid black;
    font-size:1em;
    border-radius: 7px;
}
th
{
    width: 12%;
    color:white;
    background:#7E8F7C;
}
td
{
    padding-left: 25px;
    padding-right: 20px;
}
tr:nth-child(even)
{
    background: #DFE2DB;
}
tr:nth-child(odd)
{
    background: #FDF3E7;
}
</style>
</body>
</html>