<div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-wrapper'>
	<div class="row">
	    <div class=" col-sm-10 col-sm-offset-1">
	    	<div class="input-field ">
		      	<input id="first_name" type="text" class="validate ">
		      	<label for="first_name">Reference No.</label>
		    </div>
	    	<p>
      			<input name="cat" value="paper" type="radio" id="test1" />
      			<label for="test1">Paper</label>
    		</p>
    		<p>
      			<input name="cat" value="project" type="radio" id="test2" />
      			<label for="test2">Project</label>
    		</p>
    	
    		<button class=" blue darken-2 waves-light btn pull-right btn-status">Status</button>
    	</div>
    
    </div>   
</div>

<script>
	$(".btn-status").click(function() {
		wrapLink("/check/status/")
	});
</script>