<div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 form-wrapper">
	<div class="review-project-header">
		<div class="ref-num-holder">REFERENCE : #{{stub}}</div>
		<!-- <div class="status-holder">Abstract Submitted</div> -->
	</div>
    <form id="project-edit-form">
    	<div class="row">
    		<div class="col-xs-6 form-subhead">
                EDIT MEMBERS
            </div>
            <div class="mem-1-wrapper">
                <div class="col-xs-12 form-subhead">MEMBER 1
                    <div class="pull-right">
                        <i id="mem-1-delete" value="1" class="fa fa-times member-delete"></i>
                    </div>
                </div>
                <div class="input-field col-sm-6">
                    <input id="mem-1-name" required type="text" >\n<label for="mem-1name">Name</label>
                </div>
                <div class="input-field col-sm-6">
                    <input id="mem-1-phone" required type="text" >\n<label for="mem-1phone">Phone</label>
                </div>
                <div class="input-field col-sm-12">
                    <input id="mem-1-email" required type="text" >\n<label for="mem-1email">Email Address</label>
                </div>
            </div>

            <div class="col-xs-12 form-subhead add-member-wraprer">
                <div class="pull-right add-member"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD MEMBER</div> 
            </div>
            <button class=" blue darken-2 waves-light btn pull-right btn-status">SUBMIT</button>
        	<!--
        	<div class="col-xs-6 form-subhead">
    			ABSTRACT 
    		</div>
        	<div class=" input-field no-label col-sm-12">
        		{{abstract}}
        	</div>
        	-->
    	</div>     
    </form>       
</div>