<div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 form-wrapper">
	{% if status == 1 and round == 2 %}
	<div class="review-project-header">
		<div class="ref-num-holder">REFERENCE : #{{stub}}</div>
		<!-- <div class="status-holder">Abstract Submitted</div> -->
	</div>
    <form id="project-abstract-form">
    	<div class="row">
    		<div class="col-xs-6 form-subhead">
                UPLOAD FINAL PAPER
            </div>
            <div class="file-field input-field col-sm-12">
                <div class="waves-effect red darken-3 btn">
                    <span>File</span>
                    <input id="abstract-file" required type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button class=" blue darken-2 waves-light btn pull-right btn-status">SUBMIT</button>
        	<!--
        	<div class="col-xs-6 form-subhead">
    			ABSTRACT 
    		</div>
        	<div class=" input-field no-label col-sm-12">
        		{{abstract}}
        	</div>
        	-->
    	</div>     
    </form> 
    {% elif status == 1 and  round ==1 %}
    Sorry. Your paper wasn't selected for next round, hence you cannot edit the info.
    {% else %}
    Invalid Reference number. 
    {% endif %}         
</div>

<script>

    $("input#abstract-file").on('change', function(e) {
        finalabstract = e.target.files;
    });

    function collect_data() {
        var data = new FormData() ;

        $.each(finalabstract, function(key, value)
        {
            data.append(key, value);
        });

        return data;
    }
</script>