<div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 form-wrapper">
	<div class="review-project-header">
		<div class="ref-num-holder">REFERENCE : #{{project.stub}}</div>
		<!-- <div class="status-holder">Abstract Submitted</div> -->
	</div>
    <div id="form-cont" style="padding:15px 0;">
    <form id="project-edit-form">
    	<div class="row">
    		<div class="col-xs-6 form-subhead">
                EDIT MEMBERS
            </div>
            <div class="members-wrapper">

            {% for member in project.members.all %}
            <div class="mem-{{ forloop.counter }}-wrapper">
                <div class="col-xs-12 form-subhead">MEMBER {{ forloop.counter }}
                    <div class="pull-right">
                        <i id="mem-{{ forloop.counter }}-delete" value="{{ forloop.counter }}" class="fa fa-times member-delete"></i>
                    </div>
                </div>
                <div class="input-field col-sm-6">
                    <input id="mem-{{ forloop.counter }}-name"  value="{{member.name}}" required type="text" ><label for="mem-{{ forloop.counter }}-name">Name</label>
                </div>
                <div class="input-field col-sm-6">
                    <input id="mem-{{ forloop.counter }}-phone" value="{{member.phone}}" required type="text" ><label for="mem-{{ forloop.counter }}-phone">Phone</label>
                </div>
                <div class="input-field col-sm-12">
                    <input id="mem-{{ forloop.counter }}-email" value="{{member.email}}" required type="text" ><label for="mem-{{ forloop.counter }}-email">Email Address</label>
                </div>
            </div>
            {% endfor %}
                
            </div>
            
            <div class="col-xs-12 form-subhead add-member-wraprer">
                <div class="pull-right add-member"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD MEMBER</div> 
            </div>

            <div class="row">
            <div class="col-xs-10 col-xs-offset-1 error-box"></div>
            <div class="col-xs-12" style="text-align: center">
                <input class="waves-effect red darken-3 btn submit-button" type="submit">
            </div>
            </div> 
        	<!--
        	<div class="col-xs-6 form-subhead">
    			ABSTRACT 
    		</div>
        	<div class=" input-field no-label col-sm-12">
        		{{abstract}}
        	</div>
        	-->
    	</div>     
    </form>   
    </div>    
</div>
<script>
    $("input").focus();
    var members = {{project.members.all.count}};
    if(members == 5 ) {
                $(".add-member-wraprer").hide();
    };

    for(i=1;i<=members;++i){
        $("#mem-"+i+"-delete").on("click",function() {
                var value = $(this).attr("value");
                // console.log(this,value);
                if(members == value) {
                    $(".mem-"+value+"-wrapper").remove();
                    members--;
                }
                else 
                    alert("Delete members from the bottom of the list !");
                if(members < 5) {
                 $(".add-member-wraprer").show();
                }
        });
    }

    $(".add-member").click(function() {
        if(members < 5) {
            members++;

            var context = '<div class="mem-'+members+'-wrapper"><div class="col-xs-12 form-subhead">MEMBER '+members+'<div class="pull-right"><i id="mem-'+members+'-delete" value="'+members+'" class="fa fa-times member-delete"></i></div></div><div class="input-field col-sm-6"><input id="mem-'+members+'-name" required type="text" >\n<label for="mem-'+members+'name">Name</label></div><div class="input-field col-sm-6"><input id="mem-'+members+'-phone" required type="text" >\n<label for="mem-'+members+'phone">Phone</label></div><div class="input-field col-sm-12"><input id="mem-'+members+'-email" required type="text" >\n<label for="mem-'+members+'email">Email Address</label></div></div>';

            $(".members-wrapper").append(context);

            $("#mem-"+members+"-delete").click(function() {
                var value = $(this).attr("value");
                if(members == value) {
                    $(".mem-"+value+"-wrapper").remove();
                    members--;
                }
                else
                    alert("Delete members from the bottom of the list !");
                if(members < 5) {
                 $(".add-member-wraprer").show();
                }
            });

            if(members == 5 ) {
                $(".add-member-wraprer").hide();
            }
        }

    });

    function collect_data() {
        var data = new FormData() ;
        
        data.append('ref', '{{project.stub}}' );
        
        for(var z=1;z<=members;z++) {
            data.append('mem-'+z+'-name', $("input#mem-"+z+"-name").val());
            data.append('mem-'+z+'-phone', $("input#mem-"+z+"-phone").val());
            data.append('mem-'+z+'-email', $("input#mem-"+z+"-email").val());
        }

        return data;
    }

    function validate_project_submit() {
        var count = 0;
        var errorText = "Following are the errors cited in the form. Please correct them before submitting... <br>";

        // Check for email...
        var re_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        for(var i=1;i<=members;i++) {
            if($("input#mem-"+i+"-email").val() != "") {
                var tmp_email = $("input#mem-"+i+"-email").val();
                if(!(re_email.test(tmp_email))) {
                    errorText += "<br>&bull;&nbsp;&nbsp;Member "+i+"'s Email is invalid."
                    count++;
                }
            }    
        }
        
        // Check for phone...
        var re_phone = /^([0-9]{10})$/i;
        for(var i=1;i<=members;i++) {
            if($("input#mem-"+i+"-phone").val() != "") {
                var tmp_phone = $("input#mem-"+i+"-phone").val();
                if(!(re_phone.test(tmp_phone))) {
                    errorText += "<br>&bull;&nbsp;&nbsp;Member "+i+"'s Phone no is invalid. Please enter a valid 10 digit mobile number."
                    count++;
                }
            }    
        }

        $(".error-box").html(errorText).fadeIn(400);
        return count;
    }

    $("form#project-edit-form").submit(function(e) {
        e.preventDefault();
        if(validate_project_submit() == 0) {
            $(".error-box").hide();
            $(".submit-button").hide();
            var dat = collect_data();

            $.ajax({
                url: 'projects/edit/',
                type: 'POST',
                data: dat,
                cache: false,
                headers : {
                    "X-CSRFToken" : getCookie('csrftoken')
                },
                dataType: 'html',
                processData: false,
                contentType: false,

                success: function(data)
                {
                    var jdata = JSON.parse(data);
                    if(jdata["status"]==1)
                        $("#form-cont").html(jdata.message);
                }
            });
        }
        else {

        }
    });
</script>