<div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 form-wrapper">
	<div class="review-project-header">
		<div class="ref-num-holder">REFERENCE : #{{project.stub}}</div>
		<!-- <div class="status-holder">Abstract Submitted</div> -->
	</div>
    <form id="project-edit-form">
    	<div class="row">
    		<div class="col-xs-6 form-subhead">
                EDIT MEMBERS
            </div>

            {% for member in project.members.all %}
            <div class="mem-{{ forloop.counter }}-wrapper">
                <div class="col-xs-12 form-subhead">MEMBER {{ forloop.counter }}
                    <div class="pull-right">
                        <i id="mem-{{ forloop.counter }}-delete" value="{{ forloop.counter }}" class="fa fa-times member-delete"></i>
                    </div>
                </div>
                <div class="input-field col-sm-6">
                    <input id="mem-{{ forloop.counter }}-name"  value="{{member.name}}" required type="text" ><label for="mem-{{ forloop.counter }}-name">Name</label>
                </div>
                <div class="input-field col-sm-6">
                    <input id="mem-{{ forloop.counter }}-phone" value="{{member.phone}}" required type="text" ><label for="mem-{{ forloop.counter }}-phone">Phone</label>
                </div>
                <div class="input-field col-sm-12">
                    <input id="mem-{{ forloop.counter }}-email" value="{{member.email}}" required type="text" ><label for="mem-{{ forloop.counter }}-email">Email Address</label>
                </div>
            </div>
            {% endfor %}

            <div class="col-xs-12 form-subhead add-member-wraprer">
                <div class="pull-right add-member"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD MEMBER</div> 
            </div>
            
            <div class="input-field col-sm-6">
            <button class=" blue darken-2 waves-light btn btn-status" style="margin-top:15px;">SUBMIT</button>
            </div>
        	<!--
        	<div class="col-xs-6 form-subhead">
    			ABSTRACT 
    		</div>
        	<div class=" input-field no-label col-sm-12">
        		{{abstract}}
        	</div>
        	-->
    	</div>     
    </form>       
</div>