<div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 form-wrapper">
	<div class="review-project-header">
		<div class="ref-num-holder">REFERENCE : #{{stub}}</div>
		<!-- <div class="status-holder">Abstract Submitted</div> -->
	</div>
    <form id="project-final-abstract">
    	<div class="row">
    		<div class="col-xs-6 form-subhead">
                UPLOAD FINAL PAPER
            </div>
            <div class="file-field input-field col-sm-12">
                <div class="waves-effect red darken-3 btn">
                    <span>File</span>
                    <input id="abstract-file" required type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button class=" blue darken-2 waves-light btn pull-right btn-status">SUBMIT</button>
        	<!--
        	<div class="col-xs-6 form-subhead">
    			ABSTRACT 
    		</div>
        	<div class=" input-field no-label col-sm-12">
        		{{abstract}}
        	</div>
        	-->
    	</div>     
    </form>         
</div>

<script>

    $("input#abstract-file").on('change', function(e) {
        finalabstract = e.target.files;
    });

    function collect_data() {
        var data = new FormData() ;

        $.each(finalabstract, function(key, value)
        {
            data.append(key, value);
        });

        return data;
    }

    $("form#project-final-abstract").submit(function(e) {
        e.preventDefault();
    
        $(".submit-button").hide();

        var dat = collect_data();

        $.ajax({
                url: 'papers/edit/',
                type: 'POST',
                data: dat,
                cache: false,
                headers : {
                    "X-CSRFToken" : getCookie('csrftoken')
                },
                dataType: 'html',
                processData: false,
                contentType: false,
                success: function(data)
                {
                    if(data["status"]==1)
                        $(".body-box").html(data.message);
                    else
                        $(".body-box").html("Unsuccessful! Please try again later. ");
                }
        });

    });
</script>