
<div class="col-xs-10 col-xs-offset-1 instruction-wrapper">
	<h3>Paper Abstract Submission</h3>
	<div class="instr_head">INSTRUCTIONS :</div> 
	<ul>
		<li class="rule_point">
			The results for the abstracts will be declared by <b>15th November 2015</b>.
		</li><li class="rule_point">
			Participants have to upload their abstracts for screening in the appropriate format on the Apogee 2016 portal.The portal will be accessible from <b>1st October 2015</b>.  The prescribed format must be followed, failing which may lead to disqualification of the participants. The deadline for abstract submission is <b>19th October 2015, 11:59 PM</b>. 
		</li><li class="rule_point">
			The abstract should be submitted only in the format provided below.
		</li><li class="rule_point">
			Only genuine and original paper abstracts should be uploaded. Abstracts found copied from any source like internet/ journals etc. will be disqualified.
		</li><li class="rule_point">
			Only undergraduate students of any recognized university can participate.
		</li><li class="rule_point">
			A <b>maximum of 2 students per team</b> are allowed to present a paper (one as author and another as co-author). Participants from different institutions can also form a team.
		</li><li class="rule_point">
			The abstract will be judged on the basis of their innovation and knowledge of the field.
		</li><li class="rule_point">
			Plagiarized content will be strictly dealt with and would lead to participant's disqualification. In case of any discrepancy, organizers decision will be final and binding.
		</li><li class="rule_point">
			Participants can present <b>one paper in one category only</b>. Also, participants can present more than one paper. However, the abstracts should be submitted separately.
		</li>
	</ul>
	<button class="waves-effect red darken-4 text-center btn apply-paper">Apply</button>
	<a href="https://drive.google.com/file/d/0B-d385gNdEIzQ3pScWJXVGQtNkU/view?usp=sharing" target="_blank"><button class="waves-effect red darken-4 text-center dnld btn"><i class="fa fa-download"></i>&nbsp;&nbsp;Download Abstract format</button>

</div>

<script>
	$(".apply-paper").click(function() {
		wrapLink("/papers/form/");
	});
</script>