
<div class="col-xs-10 col-xs-offset-1 instruction-wrapper">
	<h3>Project Abstract Submission</h3>
	<!--
	<span style="color: #cd0000">The deadline for submission of Project Abstarct is <b>18th January, 2015 11:59pm</b>.
		</span>
	-->
	<!--
	<div class="instr_head">RULES & REGULATIONS :</div> 
	-->
	<div class="message">
		The first round of pitching for Bitsian projects will take place from <span style="color:red"><b>3-11 Feb 2016</b></span>.<br><br>
		Following are the guidelines for Project Pitching:<br><br>
		<ul>
			<li class="rule_point">People who do not have a prototype will NOT be allowed to present their project.</li>
			<li class="rule_point">The time limit for each presentation is 5 minutes.</li>
			<li class="rule_point">Reach the venue on time and book slots for the presentation.</li>
			<li class="rule_point">Only genuine reasons for not being able to present will be accepted.</li>
			<li class="rule_point">Every team member is expected to be there for the presentation.</li>
			<li class="rule_point">Please keep checking the portal for any further updates.</li>
			<li class="rule_point">Projects that require internet connectivity, should mention it in advance so arrangements can be made.</li>

		</ul>
	</div> 
	<!--
	<ul>
		<li class="rule_point">
			Teams must have a maximum of <b>6 members</b>. 
		</li><li class="rule_point">
			A participant can participate in a <b>maximum of two projects</b>. The online submission portal automatically disallows attempts at participating in more than two projects.
		</li><li class="rule_point">
			A project cannot be submitted under two different associations
		</li><li class="rule_point">
			A project cannot be submitted under two categories
		</li><li class="rule_point">
			Name changes will be entertained for a short period of time, specific details of these name changes will be expressed to you later and will be done directly using the portal.
		</li><li class="rule_point">
			Teams are strongly advised to bring prototypes of their project in the pitching rounds. Any team not having a prototype might be disqualified, which will be on the professor's discretion.
		</li><li class="rule_point">
			Pure Sciences have been from the removed from categories, which will be explicitly listed on the portal. 
		</li><li class="rule_point">
			Ensure that all the names are spelled correctly. Cheques for winners will be drawn to the names as provided by you during initial registration, hence, you are strongly urged to fill in the details correctly.
		</li><li class="rule_point">
 			Please keep checking your mail/portal for any updates. A lapse in your awareness will not be accounted for by us and no rescheduling of pitching will be done.
		</li><li class="rule_point">
			Participation certificates will not be given to the association coordinators. Only teams that present in the final round will be given participation certificates.
		</li>
	</ul>
	--><!--
	<div class="instr_head">IMPORTANT DATES :</div> 
	<ul>
		<li class="rule_point">
			Abstracts can be submitted from <b>1st October, 2015 to 25th October, 2015</b>.
		</li><li class="rule_point">
			The results of the abstract round are expected to be announced by the <b>third week of November</b> on the portal itself.
		</li><li class="rule_point">
			The first pitching round is expected to take place in the <b>first week of February, 2016</b>.
		</li><li class="rule_point">
			The final round will be held during APOGEE which is scheduled for <b>25th - 28th February.</b>	
		</li>
	</ul>
	-->
	
	<button class="waves-effect red darken-4 text-center btn apply-project" >Apply</button>
	<a href="https://drive.google.com/file/d/0B-d385gNdEIzMDRSeEdBNGI3bWc/view?usp=sharing" target="_blank"><button class="waves-effect red darken-4 text-center dnld btn"><i class="fa fa-download"></i>&nbsp;&nbsp;Download Abstract format</button>
</div>

<script>
	$(".apply-project").click(function() {
		wrapLink("/projects/form/");
	});
</script>