<div class="col-md-6 col-md-offset-5 col-sm-10 col-sm-offset-1 form-wrapper">
	<div class="row">
		<div class="input-field">
			<div class="col-xs-12 form-subhead">
				NAME OF THE PROJECT
			</div>
			<div class="input-field col s12 no-label">
         		<textarea id="project-name" class="materialize-textarea"></textarea>
        	</div>
		</div>
		<div class="col-xs-12 form-subhead">
			TEAM LEADER 
		</div>
		<div class="input-field col-sm-6">
     		<input id="name" type="text" >
      		<label for="name">Name</label>
    	</div>
    	<div class="input-field col-sm-6">
     		<input id="phone" type="text" >
      		<label for="phone">Phone</label>
    	</div>
    	<div class="input-field col-sm-12">
     		<input id="email" type="text" >
      		<label for="email">Email Address</label>
    	</div>
    	<div class="col-xs-12 form-subhead">
			COLLEGE 
		</div>
		<div class="input-field no-label col-sm-12">
     		<input id="name" type="text" >
    	</div>
    	<div class="col-xs-6 form-subhead">
			CATEGORY 
		</div>
		<div class="col-xs-6 form-subhead">
			ASSOCIATION 
		</div>
		<div class=" no-label col-sm-6">
     		<select class="browser-default">
		      <option value="" disabled selected>...</option>
		      <option value="1">Option 1</option>
		      <option value="2">Option 2</option>
		      <option value="3">Option 3</option>
    		</select>
    	</div>
		<div class=" no-label col-sm-6">
     		<select class="browser-default">
		      <option value="" disabled selected>...</option>
		      <option value="1">Option 1</option>
		      <option value="2">Option 2</option>
		      <option value="3">Option 3</option>
    		</select>
    	</div>
    	<br><br>
    	<div class="col-xs-6 form-subhead">
			UPLOAD ABSTRACT 
		</div>
    	<div class="file-field input-field col-sm-12">
    		<div class="waves-effect red darken-3 btn">
        		<span>File</span>
        		<input type="file">
      		</div>
      		<div class="file-path-wrapper">
        		<input class="file-path validate" type="text">
      		</div>
    	</div>
	</div>                
</div>