<div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-wrapper'>
	<div class="check_head">
	<br>
		{% if status == 1 %}
			Your Abstract has been submitted !
		{% endif %}
	</div>
	<br><br>
	<div class="row" style="text-align: center">
		Your {{type}} Reference number is : <br><span class="ref">#{{stub}}</span>
		<br><br><br>
		<span class="ins-ref">The team is required to keep the reference number securely within the members in the project. It will be used for all future references with respect to the project. <br>The Reference number will not be changed under any circumstances !</span>
    </div>   
</div>
