<style>
	.update-box {
		height: auto;
	    box-shadow: 1px 1px 5px 0px #777;
	    background-color: white;
	    border-radius: 3px;
	    padding: 50px 50px !important;
	    color: #333;
	    margin-top: 20px; 
	}

	.message {
		font-weight: 300;
		font-size: 25px;
	}
</style>

<div class="col-xs-10 col-xs-offset-1 update-box">
	
	<div class="message">
		The first round of pitching for Bitsian projects will take place from <span style="color:red"><b>3-11 Feb 2016</b></span>.<br><br>
		Following are the guidelines for Project Pitching:<br><br>
		<ul>
			<li>1.&nbsp;&nbsp;&nbsp;People who do not have a prototype will NOT be allowed to present their project.</li>
			<li>2.&nbsp;&nbsp;&nbsp;The time limit for each presentation is 5 minutes.</li>
			<li>3.&nbsp;&nbsp;&nbsp;Reach the venue on time and book slots for the presentation.</li>
			<li>4.&nbsp;&nbsp;&nbsp;Only genuine reasons for not being able to present will be accepted.</li>
			<li>5.&nbsp;&nbsp;&nbsp;Every team member is expected to be there for the presentation.</li>
			<li>6.&nbsp;&nbsp;&nbsp;Please keep checking the portal for any further updates.</li>
			<li>7.&nbsp;&nbsp;&nbsp;Projects that require internet connectivity, should mention it in advance so arrangements can be made.</li>

		</ul>
	</div> 

</div>


<div class="col-xs-10 col-xs-offset-1 update-box">
	
	<div class="message">The deadline for submission of <b>Paper Abstract</b> was <b>26th October, 2015 11:59pm</b>. <span style="color:red">Paper abstracts are no longer accepted</span>.</div> 

</div>

<div class="col-xs-10 col-xs-offset-1 update-box" >
	
	<div class="message">The deadline for submission of <b>Project Abstract</b> was <b>28th October, 2015 11:59pm</b>. <span style="color:red">Project abstracts are no longer accepted</span>.</div> 

</div>

