<style>
	.update-box {
		height: auto;
	    box-shadow: 1px 1px 5px 0px #777;
	    background-color: white;
	    border-radius: 3px;
	    padding: 50px 50px !important;
	    color: #333;
	    margin-top: 20px; 
	}

	.message {
		font-weight: 300;
		font-size: 25px;
	}
</style>


<div class="col-xs-10 col-xs-offset-1 update-box">
	
	<div class="message">The deadline for submission of <b>Paper Abstract</b> was <b>26th October, 2015 11:59pm</b>. <span style="color:red">Paper abstracts are no longer accepted</span>.</div> 

</div>

<div class="col-xs-10 col-xs-offset-1 update-box" >
	
	<div class="message">The deadline for submission of <b>Project Abstract</b> was <b>28th October, 2015 11:59pm</b>. <span style="color:red">Project abstracts are no longer accepted</span>.</div> 

</div>

