{% extends "pcradmin/base.html" %}
{% block body %}
<h1>Change Individual limits </h1>
<table class="u-full-width">
<form method="POST" action="./limit_changed">
{% for p in e_list %}
{% csrf_token %}
		<tr>
			<th>{{p.name}}</th>
			<th><input type="radio" name="eventid" value={{p.id}} /></th>
		</tr>
	{% endfor %}
		<tr> 
			<th><button type="submit" align="center">submit</button></th>
			<th><input type="text" name="limit" value=""/></th>
		</tr> 

	</table>
<input type="hidden" name="userid" value={{uid}} />
<br><a class="button" href="./dashboard">dashboard</a>
<br><a class="button" href="./change_team_limit">back</a>
	</form>
{% endblock body %}			