{% extends "pcradmin/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns textcenter">
            <h1><strong>Dashboard </strong></h1>
            <table class="u-full-width">
                <thead>
                    <tr>
<!--                         <th><h5>Action</h5></th>
                        <th><h5>Click! </h5></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>View Apogee Participants </strong></td>
                        <td><a class="button button-primary" href="../part_list/">View </a></td>
                    </tr>
                    <tr>
                        <td><strong>View Initial Registrations </strong></td>
                        <td><a class="button button-primary" href="../initreg/">Initial Registrations</a></td>
                    </tr>
                    <tr>
                        <td><strong>View Eventwise Stats </strong></td>
                        <td><a class="button button-primary" href="../stats/">Eventwise Stats</a> 
                        </td>
                    </tr>

                    <tr>
                        <td><strong>View Total Stats(numbers) </strong></td>
                        <td><a class="button button-primary" href="../total_stats/">Stats</a> 
                        </td>
                    </tr>

                    <tr>
                        <td><strong>View All Campus Ambassadors </strong></td>
                        <td><a class="button button-primary" href="../ambassadors/">view</a></td>
                    </tr>
                    <tr>
                        <td><strong>View Approved Campus Ambassadors </strong></td>
                        <td><a class="button button-primary" href="../app_amb/">List</a></td>
                    </tr>
 <!--                    <tr>
                        <td><strong>Activate or Freeze User Accounts </strong></td>
                        <td><a class="button button-primary" href="../status/select/">Switch User Status</a></td>
                    </tr>
                    <tr>
                        <td><strong>ADD College </strong></td>
                        <td><a class="button button-primary" href="../../admin/">ADD</a></td>
                    </tr> -->
<!--                     <tr>
                        <td>Change or View current limits for each sport</td>
                        <td><a class="button button-primary" href="../sportlimit/select/">Sport Limits</a></td>
                    </tr> -->
                   <!--  <tr>
                        <td><strong>Customise Individual Events for Participants</strong></td>
                        <td><a class="button button-primary" href="../pdf/select/">Customise Events</a> 
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Send Confirmation Mail to college Representatives</strong></td>
                        <td><a class="button button-primary" href="../../pcract/">View</a> 
                        </td>
                    </tr>-->
                    <tr>
                        <td ><strong>Campus Ambassador Excel</strong></td>
                        <td><a class="button" href="../ambassadorxlsx/"><strong>Download </strong></a></td>
                    </tr>
                    <tr>
                        <td ><strong>Approved Campus Ambassador Excel</strong></td>
                        <td><a class="button" href="../amb_xlsx/"><strong>Download </strong></a></td>
                    </tr>                 

<!--                     <tr>
                        <td ><strong>Check Oasis Stats (User:pcrapogee pass:pcrstats)</strong></td>
                        <td><a class="button" href="../oasis_stats/"><strong>View </strong></a></td>
                    </tr>  -->                        
<!-- 
                    <tr>
                        <td>Send FINAL confirmation mail or view PDF</td>
                        <td><a class="button button-primary" href="/2015/pcract/">View</a></td>
                    </tr> -->
                </tbody>
            </table>
            <br><a class="button" href="../logout/">Logout</a>
            <br>
        </div>
    </div>
</div>
{% endblock body %}
