{% extends "pcradmin/base.html" %}
{% block body %} 


<script type= 'text/javascript'>
function checkall(gauss){
  var cbx = document.getElementsByTagName('input');
  for(var i=0; i< cbx.length ; ++i)
  {
    if(cbx[i].type == 'checkbox')
      cbx[i].checked = gauss.checked;

  }
}
</script>


<div>
    <div class="container">
    <div class="row">
        <div class="twelve columns textcenter">
            <h1>Campus Ambassadors Applicants</h1>
            <a href="{% url 'pcradmin:dashboard' %}" class="button button-primary">Dashboard</a>

        <form action='../amb_act/' method= 'POST'>
        {% csrf_token %}            
            <button name="mail" value="True" class="button button-primary">Mail</button>

            <button name="approval" value="2" class="button" style="background-color : #00CC00; color : white;">Approve</button>            
            <button name="approval" value="1" class="button" style="background-color : #FF0000; color : white;">Deny</button>            
<br>
{% if no_select %}
 <p style= 'color:red'> Please select someone </p>
 {% endif %}
            <table class= "u-full-width">
            <tbody>
                <tr>
                    <!-- <th>Select All <input type= 'checkbox' name= 'selectall' onclick= "checkall(this)"> </th> -->
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <!-- <th>Root Mail</th> -->
                    <!-- <th>Approved</th> -->
                </tr>
            </tbody>
            <tbody>
            {% for init_ob in init_reg reversed %}
            <tr>

                <!-- <td> -->
                    <!-- <input type = 'checkbox' name='amb_list' value = {{amb.id}}> -->
                <!-- </td> -->
                <td> {{amb.name}} </td>
                <td> {{amb.email}} </td>
                <td> {{amb.phone}} </td>
                
            </tr>

            {% endfor %}
            </tbody>
            </table>
        </div>

        </form>

    </div>
    </div>
</div>
{% endblock body %}