{% extends "pcradmin/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns textcenter">
            <h1>College Representative</h1>
            <a href="{% url 'pcradmin:dashboard' %}" class="button button-primary">Dashboard</a><br>


            {% if gauss_check %}
                <br><h5><strong>Mail to all approved ambassadors </strong></h5>

        <br>
            <form action="../mail_approved/" method="POST">
                {% csrf_token %}
                        
                        <button name="mail" value="True" class="button" style="background-color : #00E600; color : white;">Send Mail </button>
                        <br>
                        <textarea name='body' style="width:550px;height:350px;"  required>{{mailbody}}</textarea>
                    </form>

            {% else %}
            <h5 style = "color:red"><strong> No Approved Ambassadors </strong></h5>

            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}