<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>USER Info</title>
<style type="text/css">
 body,html{
 	position: absolute;
 	top:0;
 	left:0;
 	width: 100%;
 	height: 100%;
 	margin: 0;
 	padding: 0;
 }
 #bg_container{
 	height: 100%;
 	width: 100%;
 	font-size: 1em;
 	background: url(Pranjal_DVM.jpg);
 	background-size:100% 100%;
 }
 #user_details{
    position: absolute;
    top: 30%;
    padding: 4%;
 }
 #user_details th,td{
 	text-align: left;
    padding: 0.2em 0.8em;
 }
 #user_barcode{
 	position: absolute;
    bottom: 15%;
    margin: 0 4%;
    text-align: center;
 }
</style>
</head>
<body>	
<div id="bg_container">
	<div id="user_details">
		<table style="width:100%">
			<tbody>
				<tr><th>NAME</th><td>PRATEEK gUPTA</td></tr>
				<tr><th>COLLEGE</th><td>PRATEEK gUPTA</td></tr>
				<tr><th>GENDER</th><td>PRATEEK gUPTA</td></tr>
				<tr><th>PHONE</th><td>PRATEEK gUPTA</td></tr>
				<tr><th>EMAIL</th><td>PRATEEK gUPTA</td></tr>
				<tr><th>EVENTS</th><td>PRATEEK gUPTA</td></tr>
			</tbody>
		</table>
	</div>
	<div id="user_barcode">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</div>
</body>
</html>