<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>USER Info</title>
<style type="text/css">
 body,html{
 	position: absolute;
 	top:0;
 	left:0;
 	width: 100vw;
 	height: 100vh;
 	margin: 0;
 	padding: 0;
 }
 *{
 	box-sizing:border-box;
 }

 #user_details th{vertical-align: top;}
 #user_details th,td{
 	text-align: left;
    padding: 0.2em 0.8em;
 }
</style>
</head>
<body>
<div id="bg_container">
	<img src="headerpcr.jpg" style="width:100%;">

	<div id="user_details">
		<table style="width:100%">
			<tbody>
				<tr><th>NAME</th><td>{{part.name}}</td></tr>
				<tr><th>COLLEGE</th><td>{{part.college.name}}</td></tr>
				<tr><th>GENDER</th><td>{{part.gender}}</td></tr>
				<tr><th>PHONE</th><td>{{part.phone_one}}</td></tr>
				<tr><th>EMAIL</th><td>{{part.email_id}}</td></tr>
				<tr><th>BARCODE</th><td>{{encoded}}</td></tr>
				<tr><th>Online Paid</th><td>{% if part.fee_paid%}YES{% else %}NO{% endif %}</td></tr>
			</tbody>
		</table>
	</div>
	<div id="user_barcode" style="position: absolute; top: 75%; margin: 5%; text-align: center; width: 90%;">
		<img src="http://bits-apogee.org/apogee_code/{{barcode_name}}" style="width:70%;">
		<div>{{encoded}}</div>
	</div>
	<img src="footerpcr.jpg" style="width:100%;">

</div>
</body>
</html>
