{% extends "pcradmin/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns textcenter">
            <h1><strong>Result </strong></h1>
            <table class="u-full-width">
                <thead>
                    <tr>
<!--                         <th><h5>Action</h5></th>
                        <th><h5>Click! </h5></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Name: </strong></td>
                        <td>{{res.name}}</td>
                    </tr>
                    <tr>
                        <td><strong>Roll No.</strong></td>
                        <td>{{res.roll_no}}</td>
                    </tr>
                    <tr>
                        <td><strong>Standard </strong></td>
                        <td>{{res.standard}}
                        </td>
                    </tr>

                    <tr>
                        <td><strong>National Rank </strong></td>
                        <td>{{res.national_rank}}
                        </td>
                    </tr>

                    <tr>
                        <td><strong>School Rank </strong></td>
                        <td>{{res.school_rank}}</td>
                    </tr>


            <br>
        </div>
    </div>
</div>
{% endblock body %}
