{% extends "pcradmin/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns textcenter">
            <h1> Statistics </h1>
            <a href="{% url 'pcradmin:stats_eventwise' %}" class="button">EventWise</a>
            <a href="{% url 'pcradmin:dashboard' %}" class="button button-primary">Dashboard</a>
            <a href="{% url 'pcradmin:stats' %}" class="button button-primary">Stats Home</a>
            <a href="{% url 'pcradmin:stats_collegewise' %}" class="button">Collegewise</a>
        </div>
    </div>
    {% if eventwise %}
    <div class="row" id="eventwise">
        <div class="twelve columns">
            <h4>Eventwise Stats{% if name %} for {{ name }}{% endif %}</h4>
            <p>Stats are of the form "Registered | CR Approved | PCR Approved" <br>
            Totals are of the form "Registered | CR Approved | PCR Approved | PCR Approved with atleast one event confirmed"</p>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Category</th>
                        <th>Males</th>
                        <th>Females</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in eventwise %}
                    <tr>
                        <td><a class="button" href="{% url 'pcradmin:stats_event' event.id %}">{{ event.name }}</a></td>
                        <!-- <td><button class="button" >{{ event.name }}</button></td> -->

                        {# <td><strong>{{ event.name }}</strong></td> #}
                        <td> {{event.category}} </td>
                        <td>{{ event.males }}</td>
                        <td>{{ event.females }}</td>
                        <td>{{ event.total }}</td>

                    </tr>

                    

                    {% endfor %}

                </tr>
                <td><a class="button button-primary" href= "{% url 'pcradmin:paid' %}">Online Paid </a></td>
                    <td> </td>
                    <td> {{paidm}} </td>
                    <td>  {{paidf}}</td>
                    <td> {{paid}}</td>
                </tr>


                </tr>
                <td><a href="{% url 'pcradmin:stats_unstandardised' %}" class="button button-primary">Unstandardised</a></td>
                    <td> </td>
                    <td> {{un_stdm}} </td>
                    <td> {{un_stdf}}</td>
                    <td> {{un_std}}</td>
                </tr>
                
                    <tr>
                        <th>Total</th>
                        <th> </th>
                        <th>{{ total.males }}</th>
                        <th>{{ total.females }}</th>
                        <th>{{ total.total }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if collegewise %} 
    <div class="row" id="collegewise">
        <div class="twelve columns">
            <h4>Collegewise Stats{% if name %} for {{ name }}{% endif %}</h4>
            <p>Stats are of the form "Registered | CR Approved | PCR Approved | Paid Participants | PCR Approved with atleast one event confirmed" <br>
            Totals are of the form "Registered | CR Approved | PCR Approved | Paid Participants | PCR Approved with atleast one event confirmed" <br>
            Colleges with no registered participants are not listed here.</p>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>College</th>
                        <th>College<br> Representative</th>
                        <th>Males</th>
                        <th>Females</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for college in collegewise %}
                    <tr>
                        <td><a class="button" href="{% url 'pcradmin:stats_college' college.collegeid %}">{{ college.college }}</a></td>
                        <td>{{ college.college_rep }}</td>
                        <td>{{ college.males }}</td>
                        <td>{{ college.females }}</td>
                        <td>{{ college.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}