{% extends "cms/base.html" %}
{% block title %}
    Some Sexy Title
{% endblock title %}
{% block sidebar_content %}
    
    <li>
        <a href="{% url 'cms:paper_home' %}">
            <i class="pe-7s-home"></i> 
            <p>HOME</p>
        </a>            
    </li>
    <li>
        <a href="{% url 'cms:paper_home' %}">
            <i class="pe-7s-news-paper"></i> 
            <p>PAPERS</p>
        </a>
    </li> 
    <li>
        <a href="../../groupcodes">
            <i class="pe-7s-folder"></i> 
            <p>PROJECTS</p>
        </a>            
    </li>
{% endblock sidebar_content %}
{% block main_title %}
    Papers Management Portal
{% endblock main_title %}
{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <form action="." method="POST">
                <div class="row">  
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Initial Entries</h4>
                                <p class="category">These are the winners for BLAB</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Check</th>
                                        <th>S.no</th>
                                        <th>Leader</th>
                                        <th>College</th>
                                        <th>Phone</th>
                                        <th>Members</th>
                                        <th>Position</th>
                                        <th>Category</th>
                                    </thead>
                                    <tbody>
                                    
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="winners" value="633" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>1</td>
                                        <td> PRANAV DIWAKAR</td>
                                        <td>BITS Pilani</td>
                                        <td></td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>None</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="winners" value="634" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>2</td>
                                        <td> GAUTHAM VENKATASUBRAMANIAN</td>
                                        <td>BITS Pilani</td>
                                        <td></td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>None</td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="8">
                                            <button type="submit" class="btn btn-danger btn-fill" name="remove-winners">Remove Winners</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock main_content %}
