{% extends "cms/base.html" %}
{% block title %}
    Some Sexy Title
{% endblock title %}
{% block sidebar_content %}
    
    <li class="active">
        <a href="{% url 'cms:paper_home' %}">
            <i class="pe-7s-home"></i> 
            <p>Initial Entries</p>
        </a>            
    </li>
    <li>
        <a href="{% url 'cms:paper_home' %}">
            <i class="pe-7s-news-paper"></i> 
            <p>Cleared Round 1</p>
        </a>
    </li> 
    <li>
        <a href="../../groupcodes">
            <i class="pe-7s-folder"></i> 
            <p>PROJECTS</p>
        </a>            
    </li>
{% endblock sidebar_content %}
{% block main_title %}
    Papers Management Portal
{% endblock main_title %}
{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <form action="." method="POST">
                <div class="row">  
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Initial Entries</h4>
                                <p class="category">All Entries for Papers</p>
                            </div>
                            <div class="col-md-12">
                                <p class="pull-right">For Selected <button type="submit" class="btn btn-danger btn-fill pull-right" name="remove-winners">Remove Winners</button></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Check</th>
                                        <th>ID</th>
                                        <th>Author / Title</th>
                                        <th>College</th>
                                        <th>Code</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                    </thead>
                                    <tbody>
                                    {% for paper in papers %}
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="winners" value="633" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>{{ paper.id }}</td>
                                        <td>{{ paper.author.name }}</td>
                                        <td>{{ paper.author.college }}</td>
                                        <td>{{ paper.stub }}</td>
                                        <td>{{ paper.get_status_display }}</td>
                                        <td>Details</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td colspan="5">
                                           {{ paper.name }} 
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
{% endblock main_content %}
