{% extends "cms/base.html" %}
{% block title %}
    Notify
{% endblock title %}
{% block sidebar_content %}
    
    <li>
        <a href="{% url 'cms:project_home' %}">
            <i class="pe-7s-news-paper"></i> 
            <p>Projects</p>
        </a>
    </li>
{% endblock sidebar_content %}
{% block main_content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">                   
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Modify Email</h4>
                                {% if status %}
                                    <p class="category" style="color:green">{{ status }} email{{ status|pluralize }} sent.</p>
                                {% endif %}
                            </div>
                            <div class="content">
                                <form method="POST" action=".">
                                {% csrf_token %}
                                    <div class="row table-responsive table-full-width">
                                        <table class="table table-hover table-striped">
                                            <div class="header">
                                                <h5 class="title">Select Recipients</h5>
                                            </div>
                                            <thead>
                                                <th>Select</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Designation</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="recipientids" value="{{ project.leader.id }}" data-toggle="checkbox" checked>
                                                        </label>
                                                    </td>
                                                    <td>{{ project.leader.name }}</td>
                                                    <td>{{ project.leader.email }}</td>
                                                    <td>Leader</td>
                                                </tr>
                                                {% for member in project.members.all %}
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="recipientids" value="{{ member.id }}" data-toggle="checkbox" checked>
                                                        </label>
                                                    </td>
                                                    <td>{{ member.name }}</td>
                                                    <td>{{ member.email }}</td>
                                                    <td>Member</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>  
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="header">
                                            <h5 class="title">Content</h5>
                                            <p class="category">Do not alter the text "Dear Participant"</p>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="content" class="form-control" cols="30" rows="10">
Dear Participant,
{% if project.status == '1' %}
The results for the first round of pitching are out and we are sorry to inform you that yor project titled "{{ project.name }}" with reference number #{{ project.stub }} could not make it to the second round.
{% endif %}{% if project.status == '2' %}
Congratulations !
We are glad to inform you that your APOGEE Project, titled "{{ project.name }}" with reference number #{{ project.stub }} has passed the first pitching round.
The second round is expected to happen around the last week of January 2016. Please keep checking the portal bits-apogee.org/2016/portal for further updates.  
{% endif %}
For further queries, please contact controls@bits-apogee.org

Regards,
Department of Controls
BITS Pilani

P.S. This is an automated email provided by the Department of Visual Media, BITS Pilani. Any replies to this email are NOT monitored. Please visit bits-apogee.org for further contacts</textarea>
                                            </div>        
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-info btn-fill" name="send">Send Mails</button>
                                            </div>        
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>  
                </div>  
            </div>
        </div>
{% endblock main_content %}
